@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import '~chibbis-ui-kit/assets/sass/config/palette.sass'
@import '~chibbis-ui-kit/assets/sass/config/text.sass'

.ceo
  width: 100%
  max-width: 1680px
  margin-left: auto
  margin-right: auto
  margin-bottom: 28px

  @media (min-width: 768px)
    margin-bottom: 32px

  @media (min-width: 1024px)
    margin-bottom: 24px

  &__title
    margin-bottom: 7px
    font-size: 16px
    line-height: 18px

  &__description
    margin: 0
    font-size: $font-size-3
    line-height: 18px
    color: $color-gray-04
