@import '~chibbis-ui-kit/assets/sass/config/palette.sass'
@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'

.review-main
  border-bottom: none
  display: block
  padding: #{$spacing-md - 2}px #{$spacing-md}px

.review-main-item
  width: 100%
  position: relative
  min-width: 315px
  max-height: 382px
  border-radius: 16px
  border: solid 1px $color-gray-3
  background-color: $color-gray-0
  transition: box-shadow .2s ease-in-out, border .2s ease-in-out
  cursor: pointer

  &:hover
    border: solid 1px $color-gray-0
    box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.15)

  @media (min-width: 1090px)
    min-width: 335px

.review-main-item__inner
  width: 100%
  height: 100%
  overflow: hidden
  display: flex
  flex-direction: column

.review-main-item-header
  display: block
  position: relative
  width: 100%
  flex-basis: 70px

  &-author
    color: $color-gray-04
    font-weight: 500
    font-size: 20px
    line-height: 24px
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

  &-date
    color: $color-gray-6
    font-weight: 400
    font-size: 16px
    line-height: 18px
    padding-bottom: 28px

.review-main-item-body
  display: block
  position: relative
  width: 100%
  flex-grow: 1

  &-message
    display: block
    position: relative
    width: 100%
    font-weight: 400
    max-height: 66px
    font-size: 18px
    line-height: 22px
    color: $color-gray-04
    margin-bottom: #{$spacing-sm + 2}px
    overflow: hidden

  &-order
    display: block
    position: relative
    width: 100%
    max-height: 40px
    font-size: 14px
    line-height: 20px
    color: $color-gray-6
    overflow: hidden

.review-main-item-footer
  display: flex
  width: 100%
  column-gap: #{$spacing-sm}px
  align-items: center
  bottom: 0
  padding-top: #{$spacing-xs * 3}px
  margin-top: #{$spacing-md + 4}px
  border-top: 1px solid $color-gray-3
  flex-basis: 33px

  &-logo
    width: 32px
    height: 33.33px
    display: flex
    align-items: center
    justify-content: center

    & > img
      display: block
      overflow: visible
      max-width: 32px
      max-height: 33.33px
      border-radius: 3px

  &-name
    width: 100%
    color: $color-gray-04
    font-weight: 700
    font-size: 18px
    line-height: 20px
