@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import '~chibbis-ui-kit/assets/sass/config/palette.sass'

.hit-card
  max-height: 400px 
  height: auto
  border-radius: 16px
  border: solid 1px $color-gray-3
  background-color: $color-gray-0
  transition: box-shadow .2s ease-in-out, border .2s ease-in-out

  .liked
    display: flex

  &:hover
    overflow: hidden
    border: solid 1px $color-gray-0
    box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.15)
    cursor: pointer

  &-for-points
    &:hover
      cursor: default

  &__rest-logo
    position: absolute
    width: 48px
    height: 48px
    aspect-ratio: 1
    top: 96px
    left: 16px

    & > img
      display: block
      width: 100%
      height: 100%
      border-radius: 5px
      background-color: $color-gray-0

.hit-card-inner
  position: relative
  min-width: 1px
  height: 100%
  overflow: hidden
  display: grid
  grid-template-rows: 160px 1fr
  border-radius: 16px

.hit-card__top
  position: absolute
  top: 0
  left: 0
  width: 100%
  display: grid

  & > div:first-child
    justify-self: end

.hit-cart__top-like
  margin-top: 10px
  margin-right: 10px
  z-index: 10

.hit-card__image-wrap
  width: 100%
  height: 160px
  overflow: hidden

  & > figure
    margin-block-start: 0
    margin-block-end: 0
    margin-inline-start: 0
    margin-inline-end: 0

    & > img
      display: block
      height: 100%
      width: 100%
      min-height: 160px
      max-height: 160px
      object-fit: cover

.zoom-hover figure img
  transform: scale(1)
  transition: 1s ease-in-out

.zoom-hover:hover figure img
  transform: scale(1.05)

.hit-card__content-wrap
  padding: 14px 16px 16px
  display: grid
  height: 100%
  grid-template-rows: min-content min-content 1fr

.hit-card__title
  font-weight: 500
  font-size: 20px
  line-height: 24px
  font-weight: bold
  color: $color-gray-8

.hit-card__description
  margin-top: 5px
  font-weight: 400
  font-size: 14px
  line-height: 18px
  color: #54585C
  word-break: break-word
  max-height: 36px
  overflow: hidden

.hit-card__panel
  align-self: end
  display: grid
  grid-template-columns: min-content 1fr //repeat(2, min-content) 1fr
  align-items: center
  column-gap: #{$spacing-sxs + 2}px
  margin-top: #{$spacing-sm}px

  & > div:last-child
    justify-self: end

.hit-card__coast
  white-space: nowrap
  font-weight: 500
  font-size: 20px
  line-height: 24px
  color: $color-gray-8

.hit-card__weight
  white-space: nowrap
  font-size: 12px
  line-height: 18px
  color: $color-gray-6

.hit-card__by-wrap > a
  text-decoration: none
  border: none

.hit-card-for-points .hit-card__by-wrap button:not([disabled])
  &, &:hover
    background-color: $color-west-side !important

.hit-card-for-points__remove .hit-card__by-wrap button:not([disabled])
  &, &:hover
    background-color: #EBEEF3 !important
    color: $color-gray-08 !important

.hit-cart__for-points
  display: grid
  grid-template-columns: 24px min-content
  align-items: center
  column-gap: #{$spacing-sxs + 2}px

  & > div:last-child
    margin-top: #{$spacing-sxs + 2}px

  &:hover
    cursor: default !important

.hit__button
  font-weight: 500
  font-size: 18px
  line-height: 21px
  width: 109px
  height: 40px
  border-radius: 20px !important
  padding: 10px 20px

.hit-card__amount-buttons
  .input-field-no-input
    padding-top: 4px
