.help__dont-recall, .help__registration
  display: grid !important
  grid-template-rows: auto
  row-gap: 44px
  justify-items: center
  img
    max-width: 335px
    height: 596px

  @media (min-width: 769px)
    grid-template-columns: repeat(2, 379px) !important
    grid-template-rows: none !important
    row-gap: 0
    column-gap: 24px
    max-width: 788px
    img
      width: 389px
      max-width: 389px
      height: 490px
      position: relative
      top: -5px
      left: -15px

  @media (min-width: 1025px)
    grid-template-columns: repeat(2, 382px) !important
    img
      width: 392px
      max-width: 392px
      height: 493px
      position: relative
      top: -5px
      left: -15px
