@import '~chibbis-ui-kit/assets/sass/config/palette.sass'
@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'

.restaurant-info-legal
  display: grid
  grid-template-columns: auto
  grid-template-rows: repeat(2, minmax(min-content, 0))
  column-gap: #{$spacing-sm}px
  margin-top: #{$spacing-lg}px

.restaurant-legal
  &-title
    font-size: 24px
    line-height: 28px
    font-weight: 700
    color: $color-gray-04

  &-content
    font-size: 18px
    line-height: 22px
    font-weight: 400
    margin-top: #{$spacing-xs}px
    color: $color-gray-04

  &-str
    display: grid
    grid-template-columns: repeat(2, minmax(min-content, max-content))
    grid-template-rows: auto
    column-gap: #{$spacing-sxs}px
    color: $color-gray-04
