@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'

.order
  &.order
    padding: 0px #{$spacing-xs}px #{$spacing-xs}px

  &-header
    border-radius: #{$spacing-xs}px

    &__logo
      margin-right: #{$spacing-xs + 1}px
      width: 40px
      height: 40px
      float: left
      display: block

    &__row
      display: flex
      justify-content: space-between

    &__title,
    &__cost
      font-size: 18px
      font-weight: 700

    &__order,
    &__payed
      font-size: 14px
      color: $color-gray-6

  &__content
    font-size: 16px
    line-height: 18px

    &__date
      margin-top: #{$spacing-xs}px
      color: $color-gray-6

  &__control
    position: relative
    color: $color-clear-skies
    font-size: 16px
    line-height: 18px
    cursor: pointer
    padding-bottom: 24px

    &::after
      position: relative
      top: -2px
      margin-left: 5px
      content: ''
      display: inline-block
      width: 7px
      height: 7px
      border-bottom: 1px solid $color-clear-skies
      border-right: 1px solid $color-clear-skies
      transform: rotate(45deg)

    &.is-full::after
      top: 1px
      transform: rotate(225deg)

  &-content-short, &_review__block
    margin-top: 24px

  &_review
    &__likes
      display: grid
      grid-template-rows: auto
      grid-template-columns: auto auto
      column-gap: #{$spacing-xs * 3}px
      align-items: center
      margin-bottom: #{$spacing-sm + 4}px

      @media (max-width: 768px)
        grid-template-rows: auto auto
        grid-template-columns: auto
        row-gap: #{$spacing-sm}px

      &_button
        display: flex
        flex-direction: row
        justify-content: center
        align-items: flex-end
        padding: 14.5px 0px
        width: 214px
        height: 48px
        border-radius: 34px
        cursor: pointer
        background-color: $color-gallery
        font-size: 16px
        line-height: 18px

        @media (max-width: 768px)
          width: 100%

        &:hover
          background-color: #EBEEF3
          transition: background-color 0.2s ease-in-out

        &_clicked
          display: flex
          flex-direction: row
          justify-content: center
          align-items: flex-end
          padding: 14.5px 0px
          width: 214px
          height: 48px
          border-radius: 34px
          cursor: pointer
          background-color: $color-clear-skies
          color: $color-gray-0
          font-size: 16px
          line-height: 18px

          @media (max-width: 768px)
            width: 100%

          &:hover
            background-color: $color-clear-skies-opacity72

        .icon
          margin-right: #{$spacing-sxs}px

      &_comment
        margin-top: #{$spacing-md + 4}px
        width: 100%

        &__title
          font-size: 18px
          line-height: 22px
          margin-bottom: #{$spacing-xs + 2}px

        &__input
          width: 100%

          .form-error-collapse
            @media (max-width: 410px)
              max-width: 300px

      &_submit_button
        margin-top: #{$spacing-md + 4}px
        width: 100%

        @media (max-width: 410px)
          margin-top: 48px

        button
          height: 48px
          font-size: 18px
          line-height: 21px

    &__gratitude
      margin: 0 auto
      padding: 16px 0 // 16 0 48
      // border-bottom: 1px solid #E8E8E8

      &_inner
        display: flex
        flex-direction: row
        align-items: baseline
        justify-content: center
        font-weight: 700
        font-size: 24px
        line-height: 28px
        span
          margin-left: #{$spacing-sxs}px

      &_bonuses
        display: flex
        flex-direction: row
        align-items: baseline
        justify-content: center
        margin-top: 10px
        font-weight: 400
        font-size: 16px
        line-height: 24px
        span
          margin-left: #{$spacing-sxs}px
          color: #27AE60

    &__time-is-up
      padding: 32px 0px 60px
      font-weight: 500
      font-size: 20px
      line-height: 24px
      text-align: center

  &_footer
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100%
    margin: 0 auto
    text-align: center
    font-size: 14px
    line-height: 20px
    color: #FFFFFF
    &__success
      @extend .order_footer
      background-color: #27AE60
      height: 40px
    &__error
      @extend .order_footer
      background-color: #E73232
      height: 64px
      a
        border-bottom: none
        color: inherit
        span
          text-decoration: underline
          cursor: pointer
          &:hover
            color: inherit
