.checkout-form__address
  &-label
    font-size: 12px
    line-height: 20px
    font-weight: 400
    color: #595959

  &-text
    padding: 12px 16px
    border-radius: 5px
    font-size: 16px
    line-height: 24px
    font-weight: 400
    color: #262626
    width: 100%
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    background-color: #f1f4f8
    cursor: pointer
