@import '~chibbis-ui-kit/assets/sass/config/palette.sass'
@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import './prefix/styles.sass'

.restaurant-categories-item
  & button
    width: auto
    background-color: $color-gray-00 !important
    border-radius: 34px !important
    padding: 0 #{$spacing-xs * 3}px
    text-transform: none
    white-space: nowrap
    font-size: 14px
    font-weight: 400
    line-height: 1
    color: $color-gray-8 !important
    transition: background-color 0s ease-in-out, color 0s ease-in-out !important

  &-active > button
    background-color: $color-clear-skies !important
    color: $color-white !important

  @media (hover: hover)
    &:hover > button
      background-color: $color-clear-skies !important
      color: $color-white !important
      transition: background-color .2s ease-in-out, color .2s ease-in-out !important

.restaurant-cat-slider-parent-wrap
  min-height: 35px

.restaurant-cat-slider-wrap
  width: 100%
  background-color: $color-gray-0
  z-index: 10

  &-fixed
    position: fixed
    width: 100%
    left: 0
    right: 0
    padding-top: #{$spacing-sm}px
    padding-bottom: #{$spacing-sm}px
    padding-left: 10px
    padding-right: 10px
    z-index: 11

    @media (min-width: 376px)
      padding-left: 20px
      padding-right: 20px

    @media (min-width: 769px)
      width: 100%
      padding-left: 40px
      padding-right: 40px

    @media (min-width: 1025px)
      left: auto
      right: auto
      width: calc(100% - 80px - 382px)
      padding-left: 0
      padding-right: 24px

    @media (min-width: 1680px)
      left: auto
      right: auto
      width: 100vw
      max-width: 1218px
      padding-right: 24px
      padding-left: 0

    @media (min-width: 1920px)
      max-width: 1170px

    & > div
      max-width: 1680px
      margin: 0 auto

  .main-slider

    .slider-button

      &-left
        left: -10px
        width: 40px
        height: 40px
        @media ( min-width: 768px )
          width: 48px
          height: 48px
          left: -20px

      &-right
        right: -10px
        width: 40px
        height: 40px
        @media ( min-width: 768px )
          width: 48px
          height: 48px
          right: -20px

    &-scroll
      height: 40px !important
      @media ( min-width: 768px )
        height: 48px !important

      .restaurant-categories-item
        button
          height: 40px !important
          line-height: 18px
          font-size: 16px
          @media ( min-width: 768px )
            height: 48px !important

.restaurant-slider-category-name
  display: flex
  flex-direction: row
  align-items: baseline
  margin-bottom: 2px

  & > div
    margin-left: #{$spacing-sxs}px
    min-width: 18px
    min-height: 18px
    background-size: 18px 18px
    background-color: inherit
    background-repeat: no-repeat
    background-position: center center

  &__fire
    background-image: url('../svg/restaurant/flame-icon.svg')

  &__chibbcoin
    background-image: url('../svg/restaurant/chibbcoin-icon.svg')
    position: relative
    top: 4px

  &__heart
    background-image: url('../svg/restaurant/heart-icon.svg')
    position: relative
    top: 2px
