@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import '~chibbis-ui-kit/assets/sass/config/palette.sass'

.user-main-offer
  display: grid
  grid-template-columns: repeat(2, auto)
  align-items: center
  justify-content: center
  column-gap: #{$spacing-sxs}px
  padding: 12px 61px
  border-radius: 34px
  max-width: 515px
  width: 100%
  border-radius: 34px
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.15)
  background-color: $color-gray-0
  text-transform: none
  font-size: 16px
  color: $color-gray-8
  cursor: pointer

  @media (max-width: 1024px)
    max-width: 100%

  @media (max-width: 768px)
    padding: #{$spacing-sm}px
    font-size: 14px

  @media (max-width: 410px)
    grid-template-columns: auto
    text-align: center


  &__title
    font-weight: bold
    color: $color-clear-skies
