@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import '~chibbis-ui-kit/assets/sass/config/palette.sass'

.new-restaurant-card
  width: 100%
  position: relative
  min-width: 335px
  height: 152px
  padding-top: #{$spacing-sxs * 3}px
  padding-bottom: #{$spacing-sxs * 3}px
  padding-left: #{$spacing-sxs * 3}px
  padding-right: #{$spacing-xs}px
  border-radius: 16px
  border: solid 1px $color-gray-3
  background-color: $color-gray-0
  transition: box-shadow .2s ease-in-out, border .2s ease-in-out
  cursor: pointer

  @media ( min-width: 1600px )
    max-width: 382px
  &:hover
    border: solid 1px $color-gray-0
    box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.15)

  @media (max-width: 768px)
    height: 158px

  @media (max-width: 470px)
    height: auto

.new-restaurant-card__is-close .new-restaurant-card__logo > img
  filter: grayscale(100%)

.new-restaurant-card_ribbon
  position: absolute
  top: 0
  left: 0
  z-index: 1

.new-restaurant-card__inner
  width: 100%
  height: 100%
  overflow: hidden
  display: grid
  grid-template-columns: 118px 1fr
  grid-auto-rows: min-content
  column-gap: #{$spacing-sm}px

.new-restaurant-card__logo
  width: 114px
  height: 122px
  display: flex
  align-items: center
  justify-content: center

  & > img
    display: block
    overflow: hidden
    max-width: 118px
    max-height: 127px
    border-radius: 3px

.center-block
  display: inline-grid
  grid-auto-rows: min-content
  row-gap: 6px

.new-restaurant-card__name
  max-width: 210px
  display: -webkit-box
  -webkit-line-clamp: 2
  -webkit-box-orient: vertical
  overflow: hidden
  font-size: 18px
  line-height: 20px
  font-weight: bold
  color: $color-gray-8

.new-restaurant-card__shopping_bag
  width: 16px
  height: 16px
  background: no-repeat center center url('../img/home/shopping-bag.png')

.new-restaurant-card__running_man
  width: 16px
  height: 16px
  background: no-repeat center center url('../img/home/running-man.png')

.new-restaurant-card__info
  margin-top: 4px
  padding: 0 5px
  font-weight: 400
  font-size: 14px
  line-height: 18px
  color: $color-gray-8

.new-restaurant-card__reviews-wrap
  flex-grow: 1
  text-align: end

.new-restaurant-card__button
  display: inline
  padding: 3px 10px
  white-space: nowrap
  overflow: hidden
  border-radius: 30px
  background-color: $color-gray-2
  font-weight: 400
  font-size: 14px
  line-height: 18px
  color: $color-gray-8

.right-block
  display: grid
  grid-template-rows: 1fr min-content
  justify-content: end
  row-gap: #{$spacing-xs}px

.new-restaurant-card__like-wrap
  justify-self: end
  width: 21px
  position: relative
  right: 4px
  top: 1px

.center-block__wrap
  display: flex
  justify-content: space-between
  align-items: center

  &-with-icon
    display: flex
    justify-content: flex-start

  .new-restaurant-card__liked
    align-self: flex-start

    .liked
      display: flex

.data-is-pending
  .new-restaurant-card
    color: transparent !important
    background: linear-gradient(315deg, #EFEFEF 0%, #F2F2F2 21.75%, #FFFFFF 44.72%, #F0F0F0 62.8%, #EFEFEF 100%)

    &_ribbon,
    &__logo,
    &__liked,
    &__reviews-wrap,
    &__button,
    &__running_man,
    &__shopping_bag
      visibility: hidden

    &__name,
    &__name,
    &__info,
    &__button
      color: transparent !important
