@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import '~chibbis-ui-kit/assets/sass/config/palette.sass'
@import './Content/styles.sass'

.home-filters-outer-trigger
  position: relative
  max-width: 56px
  display: grid
  align-items: center

  @media (max-width: 768px)

.home-filters-trigger
  width: 56px
  height: 48px
  border-radius: 30px
  background-color: $color-gray-00
  background-repeat: no-repeat
  background-size: 18px 16px
  background-position: center center
  background-image: url('../svg/main/filters.svg')
  transition: background-color .2s ease-in-out
  cursor: pointer

  @media (max-width: 768px)
    height: 40px

  &:hover
    background-color: $color-gray-3

.home-filters-trigger-label
  position: absolute
  display: flex
  align-items: center
  justify-content: center
  top: -5px
  left: 41px
  z-index: 1
  width: 22px
  height: 22px
  border-radius: 50%
  background-color: $color-korrida
  font-weight: 500
  font-size: 12px
  line-height: 14px
  white-space: nowrap
  color: $color-gray-0
  user-select: none
