@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import '~chibbis-ui-kit/assets/sass/config/text.sass'
@import '~chibbis-ui-kit/assets/sass/config/palette.sass'
@import './panel/styles.sass'
@import './content-viewer/styles.sass'
@import './last-order-review/styles.sass'

.restaurant-reviews
  @media (min-width: 1025px)
    padding-right: #{$spacing-xs * 3}px

  &-panel
    margin-top: #{$spacing-xs * 5}px

  &-list
    &__wrap
      margin-top: #{$spacing-xs * 3}px
      margin-bottom: 72px
      @media (min-width: 768px)
        margin-top: #{$spacing-md + 4}px
      @media (min-width: 1025px)
        margin-bottom: 104px

    &__spinner
      margin: 40px auto 0

  &__last-order
    margin-top: #{$spacing-md}px

.restaurant-empty-reviews-list
  width: 100%
  height: 240px
  margin: 0 auto
  margin-top: #{$spacing-md}px
  background: url('../svg/reviews/empty-reviews-list.svg') center center no-repeat
  background-size: 240px 240px
  transition: height $transition-speed-default ease-in-out, background-size $transition-speed-default ease-in-out

  @media (min-width: 641px)
    height: 420px
    background-size: 420px 420px

  &-text
    @extend %text-h7
    text-align: center
    color: $color-gray-6
    position: relative
    top: -30px
