@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import '~chibbis-ui-kit/assets/sass/config/palette.sass'

.home__cuisines-list
  max-width: 1728px
  margin: #{$spacing-xs * 5}px auto 0 auto
  background: linear-gradient(315deg, #EFEFEF 0%, #F2F2F2 21.75%, #FFFFFF 44.72%, #F0F0F0 62.8%, #EFEFEF 100%)

  &.data-is-success
    background: inherit

  @media (max-width: 768px)
    max-width: 100%
    margin-top: #{$spacing-xs * 3}px

  & .btn_type-white
    white-space: nowrap
    overflow: hidden
    height: 48px
    padding: 14px #{$spacing-xs * 3}px 15px
    border-radius: 34px !important
    background-color: $color-gray-00
    text-transform: capitalize
    font-weight: 400
    font-size: 18px
    line-height: 21px
    color: $color-gray-8
    transition: background-color .2s ease-in-out, color .2s ease-in-out

    @media (max-width: 768px)
      height: 40px
      padding: 8px 16px 11px

    &, &:active, &:focus
      box-shadow: none

.home__cuisines-list
  &__item-include
    background-color: $color-clear-skies !important
    color: $color-white !important

  .main-slider
    scrollbar-width: none
    -ms-overflow-style: none
    &::-webkit-scrollbar
      display: none

    .slider-button-left
      left: -10px

      @media (min-width: 768px)
        left: -20px

    .slider-button-right
      right: -10px

      @media (min-width: 768px)
        right: -20px

.home__cuisines-list button:hover:not(.home__cuisines-list__item-include)
  background-color: $color-gray-3 !important
  color: $color-gray-8 !important
