@import '~chibbis-ui-kit/assets/sass/config/palette.sass'
@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'

.review-item
  display: flex
  flex-flow: column nowrap
  padding: #{($spacing-xs * 3) + 1}px 0 #{($spacing-xs * 3) + 3}px 0
  border-bottom: solid 1px $color-gray-3
  &:first-child
    padding-top: 0

.review-item-header
  display: grid
  grid-template-columns: 14px auto
  column-gap: #{$spacing-xs + 2}px

.review-item-header-review-type
  width: 14px
  height: 14px
  background-repeat: no-repeat
  background-size: 14px 13px
  background-position: center

.review-item-header-review-type-positive
  background-image: url('../svg/reviews/positive.svg')

.review-item-header-review-type-negative
  background-image: url('../svg/reviews/negative.svg')
  margin-top: 4px

.review-item-header-message
  font-size: 16px
  line-height: 18px
  font-weight: 400
  color: $color-gray-8

.review-item-header-order
  margin-top: #{$spacing-xs - 2}px
  font-size: 14px
  line-height: 16px
  font-weight: 400
  color: $color-gray-07

.review-item-footer
  display: flex
  align-items: baseline
  justify-content: flex-start
  flex-wrap: wrap
  margin-top: #{($spacing-xs * 3) - 3}px
  & > *:not(:last-child)
    margin-right: 8px

.review-item-author
  font-size: 16px
  line-height: 20px
  font-weight: 700
  white-space: nowrap
  color: $color-gray-07

.review-item-date
  font-size: 14px
  line-height: 18px
  font-weight: 400
  white-space: nowrap
  color: $color-gray-6
