.home-filters-modal
  .modal-header
    padding-bottom: 10px

    .close-icon
      right: 7px
      top: 7px
      &::before
        content: ""
        position: absolute
        width: 32px
        height: 32px
        border: 1px solid $color-gallery
        border-radius: 100%
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        cursor: pointer

      &_inner::before,
      &_inner::after
        background-color: $color-gray-8

  .modal-content
    max-width: 440px
    height: auto
    border-radius: 16px

    &-body_inner
      padding: 0px 24px 24px

      .home-filters-form
        row-gap: 42px
