@import '~chibbis-ui-kit/assets/sass/config/palette.sass'
@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'

.rest-reviews-item
  display: flex
  flex-flow: column nowrap
  padding: #{$spacing-xs * 3}px 0 #{$spacing-xs * 3}px 0
  border-bottom: solid 1px $color-gray-3

.rest-reviews-item-header
  display: grid
  grid-template-columns: 14px auto
  column-gap: #{$spacing-xs}px

.rest-reviews-item-header-review-type
  width: 14px
  height: 14px
  margin-top: 4px
  background-repeat: no-repeat
  background-size: 14px 13px
  background-position: center

.rest-reviews-item-header-review-type-positive
  background-image: url('../svg/reviews/positive.svg')

.rest-reviews-item-header-review-type-negative
  background-image: url('../svg/reviews/negative.svg')

.rest-reviews-item-header-message
  font-size: 14px
  line-height: 20px
  font-weight: 400
  color: $color-gray-8

.rest-reviews-item-footer
  display: grid
  grid-template-columns: repeat(2, minmax(min-content, max-content))
  column-gap: #{$spacing-xs}px
  align-items: center
  margin-top: #{$spacing-xs * 3}px

.rest-reviews-item-author
  font-size: 14px
  line-height: 1
  font-weight: 700
  white-space: nowrap
  color: $color-gray-7

.rest-reviews-item-date
  font-size: 12px
  line-height: 1
  font-weight: 400
  white-space: nowrap
  color: $color-gray-6
