@import '../Content/NotEnoughPoints/styles.sass'
@import '../Content/AnotherRestaurant/styles.sass'
@import '../Content/AnotherProduct/styles.sass'
@import '../Content/ChangeAddress/styles.sass'

.restaurant-other-modals
  text-align: center
  .modal-header
    padding-bottom: 14px

    .close-icon
      right: 7px
      top: 7px
      &::before
        content: ""
        position: absolute
        width: 32px
        height: 32px
        border: 1px solid $color-gallery
        border-radius: 100%
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        cursor: pointer

      &_inner::before,
      &_inner::after
        background-color: $color-gray-8

  .modal-content
    max-width: 474px
    @media (max-width: 768px)
      height: auto !important
      border-radius: 16px !important

.not-enoght-points-restaurant
  .modal-content
    &-body_inner
      padding: 0 65px 72px

.change-address-restaurant
  justify-content: flex-start !important
  .modal-content
    min-height: 440px
    max-width: 508px
    top: 24px
    margin-top: 0

    @media (max-width: 768px)
      height: 100% !important
      top: 0
      max-width: 100%
      border-radius: 0 !important
      margin-top: 24px

    &-body_inner
      padding: 0px !important

  .modal-header
    display: none

.another-point-product-restaurant
  .modal-content
    &-body_inner
      padding: 0 40px 72px

      @media (max-width: 460px)
        padding: 0 30px 48px

      @media (max-width: 400px)
        padding: 0 20px 32px

.product-from-another-restaurant
  .modal-content
    &-body_inner
      padding: 0 69px 72px

      @media (max-width: 375px)
        padding: 0 21px 48px
