.change-address-modal__footer
  &-inner
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    width: 100%
    background-color: #fff
    border-top: 1px solid #E4E8ED
    // height: 100%
    @media (max-width: 768px)
      position: fixed
      bottom: 0
      z-index: 10

  &-item
    display: grid
    grid-template-rows: auto
    grid-template-columns: min-content min-content
    column-gap: 8px
    padding: 21px 24px
    font-size: 14px
    line-height: 1
    color: #54585C
    white-space: nowrap
    cursor: pointer

    @media (max-width: 360px)
      padding: 21px 16px

    span
      position: relative
      top: 1px
