.favorite-restaurants
  &__section
    padding-top: 50px
  &__list
    padding-top: 18px
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: auto
    grid-row-gap: 24px
    font-size: 32px
    font-weight: 700

    @media (min-width: 769px)
      grid-template-columns: 1fr 1fr
      gap: 24px

  &__title
    font-weight: 700
    font-size: 24px
    color: #000
