.help__favourites
  display: grid
  grid-template-rows: repeat(2, auto)
  row-gap: 42px
  max-width: 788px
  color: #202020
  margin: #{$spacing-sm + $spacing-xs}px auto #{$spacing-md}px
  justify-items: center
  @media (min-width: 768px)
    margin: #{$spacing-md}px auto #{$spacing-lg}px

  @media (min-width: 850px)
    grid-template-columns: 382px 382px
    column-gap: 24px
    row-gap: 0

  @media (min-width: 1200px)
    grid-template-columns: 379px 379px
    column-gap: 24px
    max-width: 782px

  &-column
    display: flex
    flex-direction: column
    max-width: 384px
    @media (min-width: 700px)
      max-width: 850px
      flex-direction: row !important
    @media (min-width: 850px)
      flex-direction: column !important
    @media (min-width: 1200px)
      max-width: 379px

  &-img
    margin-bottom: 20px
    img
      width: 320px
      height: 133px
    @media (min-width: 700px)
      margin-right: 20px
      margin-bottom: 0
      img
        width: 382px
        height: 151px
    @media (min-width: 850px)
      margin-right: 0
      margin-bottom: 24px
      img
        width: 379px
        height: 152px

  &-text
    display: flex
    max-width: 335px
    font-size: 14px
    line-height: 20px
    @media (min-width: 700px)
      max-width: 320px
    @media (min-width: 850px)
      max-width: 379px

.help__delivery
  &-desktop-courier
    display: grid
    grid-template-columns: 290px 380px
    column-gap: 118px
    height: 562px
    margin-bottom: 48px
    font-size: 14px
    line-height: 20px

  &-desktop-title
    max-width: 290px
    height: 562px

    &-courier
      h3
        margin-bottom: 40px
    &-self
      h3
        margin-bottom: 34px

    &-phone
      margin-bottom: 38px

    &-address
      margin-bottom: 60px

    &-address__selfPickup
      margin-bottom: 188px

    &-time
      margin-bottom: 166px

    &-time__selfPickup
      margin-bottom: 49px

    &-payment
      margin-bottom: 45px

    &-promocode
      margin-bottom: 36px

    &-column
      position: relative
      &::after
        content: ''
        position: absolute
        left: 108%
        top: 5px
        max-width: 80px
        height: 20px
        width: 100%
        background-repeat: no-repeat
        background-image: url('../svg/info-pages/arrow-order-forvard.svg')

  &-desktop-img
    width: 380px
    height: 562px
    img
      width: 390px
      height: 602px
      position: relative
      top: -20px

  &-desktop-self
    display: grid
    grid-template-columns: 290px 380px
    column-gap: 118px
    height: 562px
    margin-top: 56px
    margin-bottom: 48px
    font-size: 14px
    line-height: 20px

    &-desktop-title
      max-width: 290px
      height: 562px

    &-phone
      margin-bottom: 109px

    &-address
      margin-bottom: 60px

    &-time
      margin-bottom: 86px

    &-payment
      margin-bottom: 45px

    &-promocode
      margin-bottom: 36px

    &-column
      position: relative
      &::after
        content: ''
        position: absolute
        left: 108%
        top: 5px
        max-width: 80px
        height: 20px
        width: 100%
        background-repeat: no-repeat
        background-image: url('../svg/info-pages/arrow-order-forvard.svg')

  &-tablet
    display: grid
    grid-template-columns: 380px 300px
    column-gap: 104px
    margin-top: 16px

    &-courier
      width: 380px
      height: 562px
      img
        width: 408px
        height: 562px
        position: relative
        top: 0px
        left: -18px

    &-self
      width: 300px
      height: 562px
      img
        width: 336px
        height: 276px
        position: relative
        top: -10px
        left: -18px
