@import '~chibbis-ui-kit/assets/sass/config/radius.sass'
@import '~chibbis-ui-kit/assets/sass/config/points.sass'
@import '~chibbis-ui-kit/assets/sass/config/palette.sass'
@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import '~chibbis-ui-kit/assets/sass/config/text.sass'
@import './create-order/styles.sass'
@import './registration/styles.sass'

.help
  align-items: normal !important
  flex-direction: column !important

  .desktop, .tablet, .mobile
    display: none

  .mobile
    @media (min-width: $xs) and (max-width: $sm - 1)
      display: block

  .tablet
    @media (min-width: $sm) and (max-width: $md - 1)
      display: block

  .desktop
    @media (min-width: $md)
      display: block

  @media (min-width: 1295px)
    flex-direction: row !important

  &__title-first
    margin: 42px 0 24px
    span
      h2
        margin: auto 0!important

  &__content-wrap
    flex-basis: 0 !important
    margin-left: 0
    margin: 0 auto

    @media (min-width: 1295px)
      margin-left: #{$spacing-md}px

  &__content
    font-weight: 400
    font-size: 18px
    line-height: 22px
    max-width: 788px
    @media (min-width: 1025px)
      max-width: 782px

    section
      margin-bottom: #{$spacing-lg}px

      &:not(:first-child)
        border-top: 1px $color-gallery solid

        @media (min-width: $md)
          border-top: none

      .title-h2
        margin: #{$spacing-md}px 0 #{$spacing-sm}px
        font-size: 18px
        margin-top: 48px
        @media (min-width: 1024px)
          margin-top: 64px

        @media (min-width: $md)
          margin: #{$spacing-sm + $spacing-xs}px 0

      .title-h3
        font-size: 18px
        line-height: 24px
        margin-bottom: #{$spacing-xs + $spacing-md}px
        @media (min-width: 768px)
          margin-bottom: #{$spacing-lg}px

      span:first-child .title-h2
        font-size: 24px
        color: $color-gray-8

        @media (min-width: $sm)
          font-size: 32px

        @media (min-width: $md)
          font-size: 32px

      p
        margin: #{$spacing-sm}px 0

      ol
        padding-left: #{$spacing-sm}px

        > li
          margin-bottom: #{$spacing-sm}px

          @media (min-width: $md)
            margin-bottom: #{$spacing-md}px

  &__img
    display: block
    max-width: 100%
    width: 100%
    
    @media (max-width: 1023px)
      max-width: 768px
    
    @media (max-width: 767px)
      max-width: 335px

    &.full-width
      margin: #{$spacing-sm + $spacing-xs}px auto #{$spacing-md}px
      @media (min-width: 768px)
        margin: #{$spacing-md}px auto #{$spacing-lg}px

      @media (min-width: 1294px)
        margin-left: 0
        margin-right: 0

    &.rounded
      border-radius: $border-radius-middle

    &-text
      min-width: 230px

    &-img
      max-width: 310px
      min-width: 211px
      margin: #{$spacing-md}px auto #{$spacing-sm}px

      @media (min-width: $sm)
        margin: 0 0 #{$spacing-sm}px

      @media (min-width: $sm) and (max-width: $md)
        min-width: 309px
        margin-right: #{$spacing-md}px

      @media (min-width: $md)
        max-height: 87px
        min-height: 69px
        margin-right: 309px

      .help__img
        width: 100%

        @media (min-width: $md)
          width: auto
          min-height: 100%

  &__delivery
    margin-top: #{$spacing-lg}px
    margin-bottom: -#{$spacing-sm}px

    .title-h3
      margin-top: #{$spacing-md}px
      margin-bottom: -#{$spacing-md}px
      font-size: $font-size-2
      font-weight: 700

    .help__img
      margin-bottom: #{$spacing-md}px

  &__comment
    margin-bottom: #{$spacing-md}px
    padding-left: #{$spacing-sm}px
    font-size: $font-size-3
    border-left: 6px $color-west-side solid
    color: $color-gray-8

  &__footer
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
    // margin-bottom: #{$spacing-lg}px
    background-color: $color-gray-2
    padding: #{$spacing-md}px
    text-align: center
    font-weight: 400
    font-size: 18px
    line-height: 22px
    color: $color-gray-9

    .title
      font-weight: 700
      font-size: 32px
      line-height: 37px
      color: $color-gray-8

      @media (max-width: 375px)
        font-size: 24px
        line-height: 28px

    &-phone-wrap
      span
        display: inline-block

    &-phone
      white-space: nowrap
