@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import '~chibbis-ui-kit/assets/sass/config/palette.sass'

.restaurant-modifiers-card-modal
  &-deeper
    z-index: 500

  .modal-content
    max-width: 474px
    height: auto
    border-radius: #{$spacing-sm}px

  .newline_wrap
    flex-wrap: nowrap

  .align-items_center
    align-items: flex-start

  .modal-header
    padding: 0px
    display: flex
    flex-direction: row

    .close-icon
      right: 16px
      top: 16px
      position: absolute
      &::before
        content: ""
        position: absolute
        width: 32px
        height: 32px
        border: 1px solid $color-gallery
        border-radius: 100%
        background-color: $color-gray-0
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        cursor: pointer
        z-index: 100
      &_inner
        z-index: 100

      &_inner::before,
      &_inner::after
        background-color: $color-gray-8

  .modal-content-body
    padding: 0px 0px 24px

    &_inner
      padding: 0

.product-card-with-modifiers

  &__image-wrap
    width: 100%
    height: 190px
    overflow: hidden
    @media (min-width: 480px)
      height: 240px

    & > figure
      margin-block-start: 0
      margin-block-end: 0
      margin-inline-start: 0
      margin-inline-end: 0

      & > img
        width: 100%
        height: 190px
        object-fit: cover

        @media (min-width: 480px)
          width: 474px
          height: 240px

  &__content-wrap
    width: 100%

  &__with-scroll
    display: grid
    height: 100%
    grid-template-rows: min-content 1fr
    overflow-x: hidden
    overflow-y: auto
    &::-webkit-scrollbar
      width: 4px !important

  &__info
    display: grid
    height: 100%
    grid-template-rows: min-content
    padding: 26px 20px 0px
    overflow-y: hidden

  &__title
    font-weight: 700
    font-size: 24px
    line-height: 28px
    color: $color-gray-04
    z-index: 10

    &-fixed
      position: fixed
      width: calc(474px - 40px)
      z-index: 11
      padding: 17px 0 10px
      background-color: $color-gray-0
      @media (max-width: 480px)
        width: calc(375px - 40px)

    &-wrap
      min-height: 30px

  &__description
    margin-top: #{$spacing-xs + 3}px
    font-weight: 400
    font-size: 16px
    line-height: 18px
    color: $color-gray-04

  &__modifiers
    margin-top: #{$spacing-sm + 5}px

  &__category
    width: 100%
    &:not(:last-child)
      margin-bottom: #{$spacing-md + 6}px

    &_title
      font-size: 16px
      line-height: 18px
      color: $color-gray-08

    &_list
      margin-top: #{$spacing-xs + 4}px

  &__modifier_item
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    font-size: 18px
    line-height: 22px

    &:not(:first-child)
      margin-top: #{$spacing-sm + 2}px

    &:first-child
      margin-top: #{$spacing-xs + 3}px

  &__modifier_item_button
    .product-card-with-modifiers__radio
      .radio-field-label
        font-size: 18px
        line-height: 22px
        margin-left: #{$spacing-sm}px

    .checkbox-field-label-wrap
      .checkbox-field-label
        margin-left: #{$spacing-sm}px

  &__price
    color: $color-gray-6

  &__panel, &__panel-bonus
    display: grid
    align-items: center
    padding: 16px 20px 0px
    border-top: 1px solid $color-gray-3
    margin-top: 64px
    column-gap: #{$spacing-xs}px

    @media (min-width: 480px)
      margin-top: 20px

    & > *:last-child
      justify-self: end

  &__panel
    grid-template-columns: min-content auto auto

  &__panel-bonus
    grid-template-columns: auto auto

  &__amount
    .align-items_center
      align-items: center

  &__coast-and-weight
    margin-left: #{$spacing-xs}px

  &__coast, &__coast-in-bonus
    white-space: nowrap
    font-weight: 700
    font-size: 18px
    line-height: 24px
    color: $color-gray-04

    &-in-bonus
      display: grid
      grid-template-rows: auto
      grid-template-columns: 24px auto
      align-items: center
      column-gap: 8px

      & > div:nth-child(2)
        margin-top: 6px

  &__weight
    white-space: nowrap
    font-size: 12px
    line-height: 18px
    color: $color-gray-6

  &__button, &__button-bonus, &__button-bonus-remove
    .product-card__button
      font-weight: 500
      font-size: 18px
      line-height: 21px
      width: 104px
      height: 40px
      padding: 10px 25.5px 9px
      border-radius: 20px !important

      @media (min-width: 480px)
        width: 136px
        padding: 10px 41.5px 9px

    &-bonus
      .product-card__button
        &, &:hover
          background-color: $color-west-side !important

    &-bonus-remove
      .product-card__button
        &, &:hover
          background-color: #EBEEF3 !important
          color: $color-gray-08 !important
