@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'

.not-enough-points-modal__body
  width: 100%
  &-text
    font-size: 24px
    line-height: 28px
    font-weight: 700
    .icon_scores
      margin-right: #{$spacing-sxs}px

  &-button
    margin-top: #{$spacing-md - 2}px
    button
      height: 40px
      border-radius: 8px
