@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import '~chibbis-ui-kit/assets/sass/config/palette.sass'
@import './Content/styles.sass'

.restaurant-card
  position: relative
  padding: 12px 13px
  // min-width: 340px
  // max-width: 364px
  // width: 50vw
  width: 100%
  height: 100%
  border-radius: 8px
  border: 1px solid $color-gray-3
  transition: box-shadow .4s ease
  border: 1px solid $color-gray-3

  &:hover
    box-shadow: 2px 8px 14px rgba(0, 0, 0, 0.2)

  // @media (min-width: 782px)
  //   width: 30vw

  // @media (max-width: 1576px)
  //   max-width: 450px

  &__stock
    position: absolute
    z-index: 1
    top: 0px
    left: 0px

  a
    margin-bottom: 8px
    display: block
    color: $color-mine-shaft
    border: none
    display: flex
    align-items: center
