@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import './Contacts/styles'
@import './SupportForm/styles'

.contacts-page

  &.is-error,
  &.is-success
    .support-form
      position: relative
      &::after
        content: ''
        position: absolute
        left: 0
        right: 0
        bottom: 0
        top: 0
        background-color: #fff
        opacity: .6

  &__intro
    font-weight: 400
    font-size: 18px
    line-height: 22px
    margin: #{$spacing-lg / 2}px 0

  &__wrapper
    padding-bottom: 70px
    max-width: 1660px
    margin: 0 auto
    margin-top: 42px

  &__grid
    display: grid
    grid-template-columns: repeat(2, auto)
    column-gap: 140px
    transition: grid-template-columns 0.2s ease-in, justify-content 0.2s ease-in

    @media(max-width: 1024px)
      column-gap: 105px

    @media(max-width: 768px)
      grid-template-columns: none
      display: block
      column-gap: none

  &__banner
    padding: 16px
    display: none
    max-width: 600px
    margin: 0 auto
    margin-bottom: 8px
    font-size: 14px
    line-height: 20px
    text-align: center
    border-radius: 8px

    &.is-error
      display: block
      background-color: #FF8610
      color: #262626

    &.is-success
      display: none
      background-color: #27AE60
      color: #fff

.info-page__form
  max-width: 600px
