@import '~chibbis-ui-kit/assets/sass/config/text.sass'

.promocode-change-modal
  text-align: center
  .modal-header
    padding-bottom: 6px

    .close-icon
      right: 7px
      top: 7px
      &::before
        content: ""
        position: absolute
        width: 32px
        height: 32px
        border: 1px solid $color-gallery
        border-radius: 100%
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        cursor: pointer

      &_inner::before,
      &_inner::after
        background-color: $color-gray-8

  &__body
    padding: 0 46px

  &__icon
    padding-bottom: 28px

  &__header
    font-weight: 700
    font-size: 24px
    line-height: 28px

  &__buttons
    padding: 44px 0 48px
    button
      height: 40px !important
