@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'

.shoping-cart-header-block
  display: grid
  grid-template-columns: 1fr 37px
  column-gap: #{$spacing-xs}px
  padding: 16px
  @media (max-width: 768px)
    grid-template-columns: 37px 1fr
  @media (max-width: 1024px)
    width: 100% !important
    max-width: 100% !important
    border-bottom: 1px solid $color-gray-06
  // For iPhone 7+
  @media (max-width: 425px)
    display: flex
    column-gap: unset

    & > *:first-child
      margin-right: #{$spacing-xs}px

.shoping-cart-header-left
  display: grid
  row-gap: 1px

.shoping-cart-header-left__description
  font-size: 14px
  line-height: 18px
  color: $color-gray-6

.shoping-cart-header-left__name
  font-size: 20px
  line-height: 24px
  font-weight: bold
  color: $color-gray-8

.shoping-cart-header-logo
  width: 37px
  height: 40px
  overflow: hidden
  display: flex
  align-items: center
  justify-self: center
  border-radius: 3px

  & > img
    display: block
    max-width: 37px
    max-height: 40px
