@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import '~chibbis-ui-kit/assets/sass/config/palette.sass'

.restaurant-card
  color: $color-gray-8
  a
    margin-bottom: 0 !important

  &__body
    display: flex

  &__logo
    display: flex
    align-items: center
    justify-content: center
    margin-bottom: 0 !important
    min-width: 118px
    max-width: 118px
    min-height: 127px
    max-height: 127px
    overflow: hidden

  &__details
    display: flex
    flex-direction: column
    align-items: flex-start

  &__image
    display: block
    width: 100%

  &__content
    overflow: hidden
    max-height: 148px

  &__footer
    margin-top: #{$spacing-sm}px
    display: flex
    justify-content: space-between
    align-items: center
    line-height: 0
    font-size: 14px

  &__prices
    display: flex

  // &__min-cost
  //   position: relative
  //   padding-right: 14px

  //   &::after
  //     position: absolute
  //     content: "."
  //     font-weight: 600
  //     right: 5px
  //     bottom: 4px

  &__info
    display: block !important
    margin-left: #{$spacing-sm}px
    margin-right: #{$spacing-xs}px
    width: 100%

  &__title
    font-size: 18px
    font-weight: 600
    overflow: hidden
    max-width: 160px
    max-height: 50px
    align-items: flex-start !important
    margin-bottom: #{$spacing-xs}px
    @media (min-width: $sm)
      min-width: 160px
    @media (min-width: $lg)
      max-width: 100%

  &__like
    position: absolute
    right: 8px
    top: 0px

  &__specializations
    font-size: 10px
    color: $color-gray-7
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

    span
      cursor: pointer

    span:not(:last-child)
      position: relative
      display: inline-block
      line-height: 1
      margin-right: 8px
      &::after
        position: absolute
        bottom: 2px
        right: -5px
        font-weight: 600
        content: '.'

  &__working-time,
  &__min-cost,
  &__delivery-cost > span
    margin-bottom: #{$spacing-xs}px
    padding: 5px 10px
    display: inline-block
    font-size: 12px
    line-height: 1
    border-radius: 30px
    background-color: $color-gray-2

  &__delivery-cost > span
    margin-bottom: 0
    white-space: nowrap

  &__min-cost
    margin-bottom: 3px

  &__delivery-cost
    margin-bottom: 0
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%

  &__reviews
    position: relative
    right: -7px

  &_is-disabled
    color: $color-gray-5

    &::after
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      content: ''

    &:hover
      box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1) !important

    .restaurant-card__image
      filter: grayscale(100%)

    .ribbon-label,
    .small-feedback__icon
      background-color: $color-gray-5!important

    .restaurant-card__title,
    .small-feedback,
    .liked,
    .liked:hover
      color: $color-gray-5!important

    .ribbon-label::after
      border-bottom-color: $color-gray-5!important

    .ribbon-label::before
      border-top-color: $color-gray-5!important
