@import './MailChecker/styles.sass'
@import './ProfileScores/styles.sass'
@import './ProfileFriends/styles.sass'
@import './ProfileOrder/styles.sass'
@import './FavoriteFoods/styles.sass'
@import './FavoriteRestaurants/styles.sass'
@import './ScoresList/styles.sass'
@import './ScoresSpend/styles.sass'
@import './ScoresGet/styles.sass'

.profile-widget
  padding: 24px 0 48px 0
  box-sizing: border-box
  border-bottom: 1px solid $color-gray-3
  display: flex
  flex-direction: column
  justify-content: flex-start
  transition: padding $transition-speed-default ease-in-out

  @media (max-width: 768px)
    max-height: 710px

  &__btn
    font-weight: 500
    font-size: 18px
    line-height: 21px
    padding: 8px 4px

  &:first-child
    border-top: 1px solid $color-gray-3

  &:last-child
    border-bottom: none

  @media (min-width: 640px)
    padding: 40px 32px 48px 32px
    border: 1px solid $color-gray-3
    border-radius: 8px
    box-shadow: 0px 4px 12px rgba(38, 38, 38, 0.12)
    margin-bottom: 16px

  @media (min-width: 769px)
    padding: 40px 32px 48px 32px
    border: 1px solid $color-gray-3
    border-radius: 8px
    box-shadow: 0px 4px 12px rgba(38, 38, 38, 0.12)
    margin-bottom: 0

  .btn
    height: 40px
    font-size: 18px
    line-height: 22px
    font-weight: 500
    padding: 10px 4px
