.restaurant-close-timer
  width: 100%
  max-width: 656px
  background: rgba(255, 134, 16, 0.12)
  border-radius: 5px
  margin-bottom: 42px
  margin-top: 29px
  @media (min-widht: 769px)
    margin-top: 29px
    margin-bottom: 20px

  &__content
    display: flex
    flex-direction: row
    justify-content: center
    align-items: baseline
    padding: 10px
    font-size: 14px
    line-height: 20px
    .icon_hourglass
      margin-right: 4px
