.cities-list__item
  position: relative
  width: 100%
  max-width: 260px
  overflow: hidden
  padding: 8px

  &-inner
    border-radius: 4px
    font-size: 18px
    line-height: 25px
    background-color: #fff
    color: #686868
    cursor: pointer
    transition: font-weight 0.2s ease-in-out, color 0.2s ease-in-out, background-color 0.2s ease-in-out

    &:hover
      font-weight: 500
      color: #202020
      width: 100%
      display: block

.cities-list__item-mark
  background-color: #F1F4F8
