@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import '~chibbis-ui-kit/assets/sass/config/palette.sass'

.main-menu
  width: 100%
  padding-left: 10%
  padding-right: 10%
  position: relative
  left: -10%
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(max-content, 0))
  border-bottom: solid 1px $color-gray-3
  font-size: 14px
  line-height: 20px
  overflow: hidden
  @media (min-width: 1025px)
    padding-left: 20%
    padding-right: 0
    left: -20%

.main-menu__wrap
  padding: #{$spacing-xs}px #{$spacing-xs * 3}px
  border-bottom-style: solid
  border-bottom-width: 2px
  border-bottom-color: $color-gray-0
  color: #8A9095
  cursor: pointer
  transition: border-bottom-color .2s ease-in-out, color .2s ease-in-out
  line-height: 18px
  font-size: 16px

  &:hover:not(.main-menu__wrap-active)
    color: $color-clear-skies

.main-menu__wrap-active
  border-bottom-color: $color-clear-skies
  color: $color-mine-shaft
