@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
// Config
@import './variables'
// Main
@import './grids/index'
// Wrappers
@import '@components/Content/styles'
// Components
@import '@components/animate-height/styles'
@import '@components/HelpButton/styles'
@import '@components/Search/styles'
@import '@components/Footer/styles'
@import '@components/ContentViewer/styles'
@import '@components/Header/styles'
@import '@components/BlackLayout/styles'
@import '@components/BlackModalBase/styles'
@import '@components/AnotherElemArrow/styles'
@import '@components/RestaurantCard/styles'
@import '@components/RestaurantCloseTimer/styles.sass'
@import '@components/RestaurantModals/CloseModal/ModalBody/styles.sass'
@import '@components/CheckoutAddressModal/ModalBody/styles.sass'
@import '@components/CheckoutBasketModal/ModalBody/styles.sass'
@import '@components/CheckoutPromocodeModal/ModalBody/styles.sass'
@import '@components/NewRestaurantCard/styles'
@import '@components/AccountLogin/styles'
@import '@components/Agreement/styles'
@import '@components/HotOffer/styles'
@import '@components/HitCard/styles'
@import '@components/HomeFiltersModal/styles.sass'
@import '@components/Tabs/styles'
@import '@components/ScoresSocials/styles'
@import '@components/Specializations/styles'
@import '@components/ShopingCart/styles'
@import '@components/Menu/styles'
@import '@components/Slider/styles'
@import '@components/Review/styles'
@import '@components/ReviewMain/styles'
@import '@components/Ceo/styles.sass'
@import '@components/Order/styles.sass'
@import '@components/OrderModal/styles.sass'
@import '@components/StatusBadge/styles.sass'
@import '@components/InstallSocketModul/styles.sass'
@import '@components/RestaurantModals/OtherModals/Modal/styles.sass'
@import '@components/RestaurantModals/PromoCardModal/styles.sass'
@import '@components/ShoppingCartModal/styles.sass'
@import '@components/RestaurantModals/ModifiersCardModal/ModalBody/styles.sass'
@import '@components/MoveToOldDesignBanner/styles.sass'
@import '@components/MobileSmartBanner/styles.sass'
// Pages
@import '@pages/home/styles'
@import '@pages/cities/styles'
@import '@pages/cities/CitiesList/styles'
@import '@pages/restaurant/styles.sass'
@import '@pages/info-pages/styles'
@import '@pages/info-pages/about/styles'
@import '@pages/info-pages/contacts/styles'
@import '@pages/info-pages/reglament/styles'
@import '@pages/info-pages/help/styles'
@import '@pages/info-pages/partners/styles'
@import '@pages/info-pages/freeFood/styles'
@import '@pages/profile-pages/styles'
@import '@pages/errors/styles'
@import '@pages/checkout/styles'
@import '@pages/checkout-success/styles'
@import '@pages/errors/404/styles'
@import '@pages/errors/500/styles'
@import '@pages/errors/502/styles'
@import '@pages/errors/TechnicalWorks/styles'

html, body
  width: 100%
  min-height: 100vh
  height: 100%

body
  min-width: 360px

#root
  height: 100%

.body-no-scroll
  overflow-y: hidden

button
  box-shadow: none !important

.modal-wrapper
  height: 100%
