.status-badge
  display: inline-block
  padding: 8px 24px
  border-radius: 34px

  &_color
    &_default
      background-color: $color-gray-2
      color: $color-gray-7
    &_orange
      background-color: rgba(255, 134, 16, 0.12)
      color: $color-west-side
    &_green
      background-color: rgba(39, 174, 96, 0.1)
      color: #27AE60
    &_red
      background-color: rgba(231, 50, 50, 0.1)
      color: #E73232
