@import '~chibbis-ui-kit/assets/sass/config/palette.sass'
@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import './delivery-conditions/styles.sass'
@import './week-schedule/styles.sass'
@import './week-schedule/styles.sass'
@import './legal/styles.sass'

.restaurant-info
  margin-bottom: 72px
  @media (min-width: 1025px)
    margin-bottom: 104px
    padding-right: #{$spacing-xs * 3}px

// .restaurant-info
//   @media (min-width: 1025px)
//     padding-right: #{$spacing-xs * 3}px

.restaurant-info-title
  font-size: 24px
  line-height: 28px
  font-weight: 700
  color: $color-gray-04

.restaurant-info-text
  font-size: 18px
  line-height: 22px
  font-weight: 400
  color: $color-gray-04
  margin-top: #{$spacing-xs + 1}px

.restaurant-info-description
  display: grid
  grid-template-columns: auto
  grid-template-rows: repeat(2, minmax(min-content, 0))
  // column-gap: #{$spacing-xs}px
  margin-top: #{$spacing-lg + 2}px

.restaurant-info-payment-types
  display: grid
  grid-template-columns: auto
  grid-template-rows: repeat(2, minmax(min-content, 0))
  // column-gap: #{$spacing-xs}px
  margin-top: #{$spacing-md + 5}px
  @media ( min-width: 420px )
    margin-top: #{$spacing-lg - 3}px
  @media ( min-width: 768px )
    margin-top: #{$spacing-lg + 20}px

  & > div:nth-child(2)
    &:first-letter
      text-transform: uppercase

  .rest-payment-types
    margin-top: #{$spacing-xs}px
    font-size: 18px
    line-height: 22px

.restaurant-info-specializations
  display: grid
  grid-template-columns: auto
  grid-template-rows: repeat(2, minmax(min-content, 0))
  // column-gap: #{$spacing-sm}px
  margin-top: #{$spacing-lg}px

.restaurant-info-week-schedule
  display: grid
  grid-template-columns: auto
  grid-template-rows: repeat(2, minmax(min-content, 0))
  column-gap: #{$spacing-sm}px
  margin-top: #{$spacing-lg + 6}px

.restaurant-info-delivery-conditions
  display: grid
  grid-template-columns: auto
  grid-template-rows: repeat(2, minmax(min-content, 0))
  column-gap: #{$spacing-sm}px
  margin-top: #{$spacing-lg}px

.restaurant-info-self-pickup
  display: grid
  grid-template-columns: auto
  grid-template-rows: repeat(2, minmax(min-content, 0))
  column-gap: #{$spacing-sm}px
  margin-top: #{$spacing-lg}px

.restaurant-info__spinner
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  min-height: 400px
