@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import './categories-slider/styles.sass'
@import './categories-list/styles.sass'
@import './promo-slider/styles.sass'

.restaurant-menu
  @media(min-width: 1025px)
    margin-right: #{$spacing-xs * 3}px

  &__block-offers
    margin-top: #{$spacing-xs * 3}px

  &__block-search
    margin-top: #{$spacing-xs * 3}px

  &__block-categories-tags
    margin-top: 24px

  &__block-categories
    margin-top: #{$spacing-lg}px
