.profile-friends
  &__header
    font-size: 32px
    font-weight: 700
    margin-bottom: #{$spacing-xs * 3}px

    &__sub
      margin: #{$spacing-md + 8}px 0 #{$spacing-sm + 2}px
      font-size: 24px
      line-height: 28px
      font-weight: 700

  &__list-wrapper
    overflow-y: scroll

  &__footer
    text-align: center
    margin-top: auto

    &-text
      font-weight: 700
      margin: 30px 0 21px
      font-size: 18px
      line-height: 20px
      text-align: center
    &-controls
      margin-top: 35px
      display: flex
      justify-content: space-between
      flex-direction: column

      @media (min-width: 769px)
        margin-top: 30px

    &-btn
      min-width: 50%
      margin-bottom: 16px

    &-links
      align-items: center

    .social
      height: 100%

      &>*
        margin-bottom: 0

  &__item
    // margin-bottom: 16px
    padding: 11px 15px
    display: flex
    justify-content: space-between
    border: 1px solid $color-gray-3
    box-sizing: border-box
    border-radius: 6px
    align-items: center

  &__avatar
    .icon
      margin-right: 8px
  &__score
    .icon
      margin-left: 4px
      position: relative
      top: -2px
  &__wrap
    display: flex
    align-items: center

  &__name
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

  &__fake-elem
    position: absolute
    padding: 0
    margin: 0
    border: 0
    left: -9999px

  &__footer-links
    margin-top: 24px

    .social
      justify-content: center

  &__list-empty
    &-wrap
      display: flex
      flex: 1 1 auto
      flex-direction: column
      align-items: center
      justify-content: center
      background-color: #FFFFFF

    &-img
      width: 100%
      height: 240px
      margin-bottom: #{$spacing-md}px
      background: url('../svg/profile/friends.svg') center center no-repeat
      background-size: 335px 240px
      transition: height $transition-speed-default ease-in-out, background-size $transition-speed-default ease-in-out

      @media (min-width: 740px)
        height: 234px
        background-size: 335px 240px

      @media (min-width: 840px)
        height: 250px
        background-size: 420px 300px
