.main__app-buttons
  max-width: 350px

  .link
    margin-bottom: 0
    height: 32px
    padding-top: 1px

  .appbuttons
    a:not(:last-child)
      margin-right: 0px
      @media (min-width: 375px)
        margin-right: 8px

    .appbuttons__icon
      background-repeat: no-repeat
      background-position: center
      background-size: 100%
