@import '~chibbis-ui-kit/assets/sass/config/palette.sass'
@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'

.restaurant-header
  display: grid
  grid-template-columns: 111px 1fr
  grid-template-rows: repeat(3, minmax(min-content,max-content))
  grid-template-areas: "logo title" "logo info" "logo info"
  column-gap: #{$spacing-xs * 3}px
  padding-top: 6px
  padding-bottom: #{$spacing-xs * 3}px
  background-color: $color-gray-0
  transition: padding .2s ease-in-out, border-bottom-color .2s ease-in-out

  @media (max-width: 1024px)
    padding-bottom: 64px

  @media (max-width: 1023px)
    padding-top: #{$spacing-xs * 3}px
    border-bottom-color: $color-gray-3
    padding-bottom: 40px

  @media (max-width: 767px)  // previous 640
    grid-template-columns: 60px 1fr
    grid-template-areas: "logo title" "logo title" "info"
    column-gap: #{$spacing-sm}px
    padding-top: #{$spacing-sm}px
    padding-bottom: 48px

  &__logo-block
    grid-area: logo
    overflow: hidden
    display: grid
    align-items: center
    justify-content: center
    padding-top: 18px

    & > img
      display: block
      border-radius: 3px

      @media (max-width: 767px)
        max-width: 60px
        max-height: 64px

      @media (min-width: 768px)
        max-width: 111px
        max-height: 120px

  &__content-block
    grid-area: title
    padding-top: 18px

    &__title-like
      display: flex
      flex-direction: row

  &__content-block__title
    font-weight: 700
    font-size: 24px
    line-height: 28px
    transition: font-size .2s ease-in-out

    @media (min-width: 768px)
      font-size: 32px
      line-height: 37.5px

  &__content-block__specializations
    grid-area: info
    display: flex
    flex-flow: row wrap
    font-size: 14px
    line-height: 32px
    color: $color-gray-8
    margin-top: 6px

    & > div
      font-size: 14px
      line-height: 18px
      &:not(:first-child)
        margin-left: #{$spacing-xs}px

  &__content-block__info
    width: 100%
    display: flex
    flex-flow: row wrap
    margin-top: #{$spacing-xs * 3}px
    margin-left: -#{$spacing-xs * 3}px
    font-size: 16px
    line-height: 18px
    color: $color-gray-8
    max-width: 335px

    & > div
      margin-left: #{$spacing-xs * 3}px

    @media (min-width: 768px)
      margin-top: #{$spacing-md - 2}px
      max-width: 600px

    @media (max-width: 767px)
      grid-column: 1 / 3

  &__open-time
    display: grid
    grid-template-columns: 16px 1fr
    align-items: start
    column-gap: #{$spacing-sxs + 1}px
    height: 18px
    margin-bottom: #{$spacing-sm - 2}px
    @media (min-width: 640px)
      margin-left: 20px !important
    @media (min-width: 641px)
      margin-left: 24px !important
    @media (min-width: 768px)
      margin-bottom: 0px
    & > div
      &:first-child
        width: 16px
        height: 16px
        background-repeat: no-repeat
        background-size: 16px 16px
        background-position: center center
        background-image: url('../svg/restaurant/time-clocks.svg')

      &:last-child
        line-height: 18px
        font-size: 16px

  &__min-coast
    display: grid
    grid-template-columns: 16px 1fr
    align-items: start
    column-gap: #{$spacing-sxs + 1}px
    height: 18px
    margin-bottom: #{$spacing-sm - 2}px
    @media (min-width: 768px)
      margin-bottom: 0px
    & > div
      &:first-child
        width: 16px
        height: 16px
        background-repeat: no-repeat
        background-size: 17px 17px
        background-position: center center
        background-image: url('../svg/restaurant/card.svg')

  &__delivery-coast
    display: grid
    grid-template-columns: 16px 1fr
    align-items: start
    column-gap: #{$spacing-sxs + 1}px
    height: 18px
    margin-bottom: #{$spacing-sm - 2}px
    @media (max-width: 768px)
      margin-bottom: 0px
    & > div
      &:first-child
        width: 16px
        height: 16px
        background-repeat: no-repeat
        background-size: 16px 16px
        background-position: center center
        background-image: url('../svg/restaurant/running-man.svg')

      &:last-child
        line-height: 18px
        font-size: 16px

  &__rate-percent
    & > span
      height: 18px

  &__like-block
    margin-left: 11px
    @media (min-width: 768px)
      margin-left: 14px

    & button
      height: 32px
      width: 36px
      border-radius: 30px !important
      background-color: $color-gray-0
      transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out, transform .2s ease-in-out
      svg
        margin-top: 6px

      @media (min-width: 640px)
        box-shadow: 4px 4px 8px rgba(38, 38, 38, 0.16) !important
