.checkout-success-page
  &__content-wrap
    padding-top: 55px
    margin: 0 auto
    max-width: 550px
    display: flex
    flex-direction: column
    height: 100%

  &__description
    margin: auto 20px

  &__order-header
    margin: auto 8px
    padding: 16px
    border-radius: 8px
    box-shadow: 0 4px 12px rgb(38 38 38 / 12%)

  &__order-content
    padding: 0 16px

  &__head
    margin-bottom: 32px
    text-align: center

  &__title
    margin-bottom: 16px
    font-size: 32px
    font-weight: 700

  &__status
    margin-bottom: 16px

  &__description
    color: $color-gray-7
    font-size: 14px

  &__order-header
    border-radius: 8px
    box-shadow: 1px 1px 8px rgba(38, 38, 38, 0.16)
    padding: 16px

  &__controls
    flex-grow: 1
    display: flex
    flex-direction: column
    justify-content: flex-end

  &__controls, &__order-content
    padding: 0 16px

  &__get-bonus
    margin-top: 5px
    margin-bottom: 32px
    padding: 12px 20px
    text-align: center
    box-shadow: 1px 1px 8px rgba(38, 38, 38, 0.16)
    border-radius: 8px
    cursor: pointer

  &__gift
    padding: 16px
    font-weight: 700
    font-size: 14px
    line-height: 1.1
    border-radius: 5px
    text-transform: uppercase
    background-color: $color-gray-2
    text-align: center
    cursor: pointer
    display: flex
    flex-direction: row
    align-items: self-end
    justify-content: center
    width: 100%
    max-width: 518px
    height: 48px
    .box-inline-icon
      width: 20px !important
      height: 20px !important
      margin-right: 6px

  &__call-me
    margin-top: 5px
    margin-bottom: 16px

    &__btn-success
      background-color: $color-fun-green-light

    &__btn-fail
      background-color: $color-korrida

    button
      height: 40px
      font-weight: 500
      font-size: 18px
      line-height: 21px

    &__message
      display: flex
      justify-content: center
      margin-top: 8px
      color: $color-gray-08

      &__text
        text-align: center


  .order-content-full__number
    display: none

  &__spinner
    width: 100%
    min-height: 100%
    display: flex
    justify-content: center
    align-items: center
