@import '~chibbis-ui-kit/assets/sass/config/text.sass'
@import '~chibbis-ui-kit/assets/sass/config/palette.sass'
@import '~chibbis-ui-kit/assets/sass/config/points.sass'
@import '~chibbis-ui-kit/assets/sass/config/transition.sass'
@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'

.error502-page
  min-height: 100vh
  display: flex
  flex-direction: column

  &__content-wrap
    display: flex
    flex-grow: 1
    flex-direction: column
    align-items: center
    justify-content: center
    background-color: #FFFFFF

  &__img
    width: 100%
    height: 250px
    background: url('../svg/errors/502.svg') center center no-repeat
    background-size: 375px 250px
    transition: height $transition-speed-default ease-in-out, background-size $transition-speed-default ease-in-out

    @media (min-width: 440px)
      height: 280px
      background-size: 420px 280px

    @media (min-width: 520px)
      height: 375px
      background-size: 500px 375px

    @media (min-width: 640px)
      height: 450px
      background-size: 600px 450px

    @media (min-width: 640px)
      height: 450px
      background-size: 600px 450px

    @media (min-width: 878px)
      height: 486px
      background-size: 720px 486px

    @media (min-width: 1025px )
      height: 486px
      background-size: 720px 486px
