@import '~chibbis-ui-kit/assets/sass/config/text.sass'
@import '~chibbis-ui-kit/assets/sass/config/palette.sass'
@import '~chibbis-ui-kit/assets/sass/config/points.sass'
@import '~chibbis-ui-kit/assets/sass/config/transition.sass'
@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'

.error-technical-works-page
  min-height: 100vh
  display: flex
  flex-direction: column

  &__content-wrap
    display: flex
    flex-grow: 1
    flex-direction: column
    align-items: center
    justify-content: center
    background-color: #FFFFFF
    font-size: $font-size-2
    color: #262626
    transition: font-size $transition-speed-default ease-in-out

  &__img
    width: 100%
    height: 250px
    background: url('../svg/errors/404-TechnicalWorks.svg') center center no-repeat
    background-size: 375px 250px
    transition: height $transition-speed-default ease-in-out, background-size $transition-speed-default ease-in-out

    @media (min-width: 440px)
      height: 280px
      background-size: 420px 280px

    @media (min-width: 520px)
      height: 375px
      background-size: 500px 375px

    @media (min-width: 640px)
      height: 450px
      background-size: 600px 450px

    @media (min-width: 878px)
      height: 582px
      background-size: 782px 582px

    @media (min-width: 1025px )
      height: 591px
      background-size: 788px 591px

  &__title
    font-size: 24px
    line-height: 28px
    font-weight: 700
    margin: #{$spacing-sm}px #{$spacing-sm}px #{$spacing-sxs}px
    padding: 0 #{$spacing-xs * 3}px
    height: 56px
    text-align: center
    word-wrap: break-word
    transition: height $transition-speed-default ease-in-out, padding $transition-speed-default ease-in-out

    @media (min-width: 440px)
      height: 56px

    @media (min-width: 512px)
      height: 28px

  &__text
    @extend %text-h7
    padding: #{$spacing-sxs}px
    text-align: center
