@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'

.header__right-section
  display: flex
  flex-flow: row nowrap
  align-items: center
  justify-content: flex-end

  &__cart-wrap
    margin-left: 8px

    @media (max-width: 768px)
      margin-left: 0

  &__help-wrap
    margin-left: #{$spacing-xs * 3}px
