@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'

.header__middle-section
  display: flex
  flex-grow: 1
  align-items: stretch
  justify-content: center
  padding: 0 40px

  @media (max-width: 1024px)
    padding: 0px
    padding-right: 16px

  @media (max-width: 768px)
    padding: 0 22px

  @media (max-width: 640px)
    padding: 0 8px

  &-with-address
    justify-content: flex-start
