@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import '~chibbis-ui-kit/assets/sass/config/palette.sass'
@import '~chibbis-ui-kit/assets/sass/config/points.sass'
@import '~chibbis-ui-kit/assets/sass/config/text.sass'
@import '~chibbis-ui-kit/assets/sass/config/transition.sass'

.about-page
  .info-page__header
    margin-bottom: 54px

    &-food
      z-index: 1
      position: absolute
      bottom: 0
      right: 0
      width: 394px
      height: 244px
      background: url(../img/header/food-photo.png) 264px 34px no-repeat
      background-size: cover
      transition: width $transition-speed-default, height $transition-speed-default

      @media (min-width: $sm) // 768px
        width: 468px
        height: 290px
        background-position: 206px 50px

      @media (min-width: $lg) // 1400px
        width: 720px
        height: 446px
        background-position: 80px 105px

    .content-body
      z-index: 1
      position: relative

    &-text
      max-width: 530px
      padding-right: 70px
      padding-top: 10px
      padding-bottom: 10px
      color: $color-white

      @media (min-width: $sm)
        padding-right: 110px

      @media (min-width: $md)
        max-width: 812px
        padding-right: 65px

      .title, .text
        display: block

      .title
        font-weight: 700
        font-size: 18px
        line-height: 20px
        color: $color-white
        transition: margin-bottom $transition-speed-default, font-size $transition-speed-default

        @media (min-width: 1024px)
          margin-bottom: #{$spacing-sm}px
          font-weight: 700
          font-size: 24px
          line-height: 28px

      .text
        padding-right: 60px
        font-weight: 400
        font-size: 14px
        line-height: 18px

        @media (min-width: 1024px)
          padding-right: 0
          font-weight: 400
          font-size: 16px
          line-height: 18px

  &__fund
    padding: 11px 0
    min-height: 56px
    display: flex
    background-color: $color-gallery

    @media (min-width: $md)
      padding: 0

    .content-body
      flex-direction: row
      align-items: center

    &-logo
      min-width: 60px
      min-height: 28px
      margin-right: #{$spacing-sm}px
      background: url(../svg/info-pages/fund-logo.svg) 0 center no-repeat

    &-text
      font-weight: 400
      font-size: 14px
      line-height: 18px

  &__title
    font-size: 24px
    line-height: 28px
    margin-bottom: 40px

    @media (max-width: 1024px)
      margin-bottom: 24px

  .check-list
    margin: 0
    padding: 0
    list-style: none
    margin-bottom: 40px
    column-count: 3

    &__title
      margin-bottom: 10px
      display: flex
      align-items: baseline
      font-weight: 500
      font-size: 20px
      line-height: 24px

      .icon
        margin-left: 5px

    @media (max-width: 1024px)
      column-count: 2

    @media (max-width: 768px)
      column-count: 1


    li
      display: inline-block
      margin-bottom: 20px
      max-width: 456px

      @media (max-width: 1024px)
        margin-right: #{$spacing-sm}px
        min-height: 74px

      @media (max-width: 768px)
        max-width: 740px


      p
        margin-top: #{$spacing-sxs}px
        margin-bottom: 0
        font-weight: 400
        font-size: 18px
        line-height: 22px
