@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import '~chibbis-ui-kit/assets/sass/config/palette.sass'

.shoping-cart-content-product
  background: $color-gray-0
  border-radius: 8px
  padding: 10px

  @media (max-width: 1024px)
    width: 100% !important
    max-width: 100% !important
    border-bottom: 1px solid $color-gray-06
    border-radius: 0px

  &__ribbon
    position: absolute
    width: 88px
    height: 20px
    right: 0px
    top: 0px
    background: $color-fun-green-light
    border-radius: 0px 6px
    font-weight: 400
    font-size: 14px
    line-height: 18px
    color: $color-gray-0
    display: flex
    justify-content: center

  &__bonus-point
    border: 2px solid $color-west-side
    position: relative
    border-radius: 8px

  &__top
    margin-bottom: 13px

    &__bonus-point
      max-width: calc(100% - 90px)

  &__name
    font-weight: 400
    font-size: 18px
    line-height: 22px
    color: $color-gray-8

  &__modifiers-description
    font-weight: 400
    font-size: 14px
    line-height: 18px
    color: $color-gray-7
    margin-top: #{$spacing-xs - 2}px

  &__bottom
    display: flex
    justify-content: space-between

  &__coast
    display: flex
    flex-flow: row nowrap
    align-items: center
    justify-content: flex-end

    &-price
      font-weight: 500
      font-size: 20px
      line-height: 24px
      font-weight: bold
      color: $color-gray-9
      margin-right: 4px

    &-points
      margin-right: #{$spacing-sxs}px
      margin-bottom: #{$spacing-sxs - 2}px
      margin-top: 1px

  &__bonus-delete-button
    padding: 10.5px 24px 11.5px
    color: #8A9095 !important
    background-color: $color-gallery !important
    border-radius: 34px !important
    height: 40px
    font-weight: 500
    font-size: 18px
    line-height: 21px

    &:hover
      color: $color-gray-7 !important
  
  &__amount
    .input-field-no-input
      padding-top: 4px


