@import '~chibbis-ui-kit/assets/sass/config/palette.sass'
@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'

.restaurant-promo-card-modal
  .modal-header
    display: grid
    grid-template-rows: auto
    grid-template-columns: 100% 16px
    align-items: start
    padding: 26px 55px 26px 20px
    font-size: 24px
    line-height: 28px
    font-weight: 700

    @media (min-width: 450px)
      padding: 34px 65px 30px 24px

  .modal-content
    @media (max-width: 768px)
      height: auto !important
      border-radius: 16px !important

    .close-icon
      left: 22px
      bottom: 6px
      @media (min-width: 450px)
        left: 30px
        bottom: 14px

      &::before
        content: ""
        position: absolute
        width: 32px
        height: 32px
        border: 1px solid $color-gallery
        border-radius: 100%
        // background-color: $color-gray-0
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        cursor: pointer

      &_inner::before,
      &_inner::after
        background-color: $color-gray-8

  .modal-content
    max-width: 474px

    &-body
      padding: 24px 24px 56px

      &_inner
        padding: 0
        max-height: 596px

  &__body
    font-size: 18px
    line-height: 22px

.restaurant-promo-card-modal__0
  .modal-header
    background: linear-gradient(81.91deg, rgba(255, 0, 0, 0.16) 0%, rgba(255, 134, 16, 0.12) 100%)

.restaurant-promo-card-modal__1
  .modal-header
    background: linear-gradient(261.93deg, rgba(255, 134, 16, 0.12) 1.6%, rgba(39, 174, 96, 0.16) 99.74%)

.restaurant-promo-card-modal__2
  .modal-header
    background: linear-gradient(81.91deg, rgba(0, 163, 255, 0.12) 0%, rgba(255, 134, 16, 0.12) 100%)
