@import '~chibbis-ui-kit/assets/sass/config/palette.sass'

.rest-specializations
  display: flex
  flex-flow: row wrap
  margin-top: #{$spacing-xs}px
  margin-left: -#{$spacing-xs}px

  &-item
    margin-top: #{$spacing-xs}px
    margin-left: #{$spacing-xs}px

    & button
      width: auto
      background-color: $color-gallery !important
      border-radius: 34px !important
      padding: #{$spacing-xs + 2.5}px #{$spacing-xs * 3}px #{$spacing-xs + 3.5}px
      text-transform: none
      white-space: nowrap
      font-size: 16px
      font-weight: 400
      line-height: 18px
      color: $color-gray-04
  &-link
    padding: 5.5px 16px
    display: inline-block
    color: #202123
    background: $color-gallery
    border-radius: 34px
    font-size: 14px
    text-transform: none
    white-space: nowrap
    border: none
    &:hover
      color: #202123
      
