.tabs
  margin-bottom: -1px
  display: flex
  justify-content: center
  list-style-type: none
  margin-block-start: 0
  margin-block-end: 0
  margin-inline-start: 0
  margin-inline-end: 0
  padding-inline-start: 0
  scrollbar-width: none
  -ms-overflow-style: none

  &::-webkit-scrollbar
    display: none

  &__item
    cursor: pointer

  .is-active
    border-bottom: 2px solid $color-clear-skies

    .tabs__link
      color: #000

      &:hover
        color: #000

  .tabs__link
    color: #8A9095
    transition: color 0.2s ease-in-out

    &:hover
      color: $color-clear-skies
      transition: color 0.2s ease-in-out

  &__link
    margin-bottom: -1px
    display: inline-block
    padding: 10px 24px
    text-decoration: none
    color: $color-gray-6
    line-height: 18px
    font-size: 16px
    border-bottom: none
    text-align: center
