@import '~chibbis-ui-kit/assets/sass/config/text.sass'
@import '~chibbis-ui-kit/assets/sass/config/palette.sass'

.hot-offer
  position: relative
  display: block
  width: 100%
  height: 100%
  color: $color-gray-8
  border-radius: 8px
  transition: box-shadow .4s ease
  overflow: hidden
  text-decoration: none
  border: 1px solid $color-gray-3

  &:hover
    text-decoration: none
    border-color: none

  &:hover
    overflow: hidden
    border: 1px solid #fff
    box-shadow: 4px 4px 24px rgb(0 0 0 / 15%)

  &__image
    display: block
    max-height: 160px
    min-height: 160px
    height: 100%
    width: 100%
    object-fit: cover

  &__images
    position: relative

  &__logo
    position: absolute
    left: 16px
    bottom: 16px
    width: 46px
    height: 48px
    border-radius: 5px

  &__info
    padding: 14px 16px 17px

  &__title
    padding-bottom: 5px
    font-size: $font-size-2
    line-height: $font-line-height
    font-weight: 700

  &__description
    font-weight: 400
    font-size: 12px
    line-height: 18px
    color: $color-dove-gray
    max-height: 330px
    overflow: hidden
