.support-form
  &__section
    margin-bottom: 40px
  &__field
    margin-bottom: 16px

    .select-field
      padding: 7px 0px
      background-color: $color-gallery
      border-radius: 5px
      .inner-input-body
        background-color: $color-gallery
        border-color: $color-gallery
        padding: 4px 16px
        border-color: $color-gallery !important

    .textarea-field-body
      background-color: $color-gallery
      border-color: $color-gallery

  &__title
    margin-bottom: 18px
    font-size: 24px
    font-weight: 700
