@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import '~chibbis-ui-kit/assets/sass/config/text.sass'

.footer__links
  & .divider-horizontal .text
    margin-right: #{$spacing-md}px

  &__social-wrap
    margin-top: 20px

  &-title
    margin-bottom: 10px
    font-size: $font-size-3
    line-height: 18px
    letter-spacing: 0em
    text-align: left
    color: #8A9095

.footer__links__wrap
  width: 100%
  display: flex
  flex-direction: row

  & .schedule_horizontal .schedule__list .schedule__item:not(:last-child)
    margin-right: #{$spacing-xs * 3}px

  & .schedule__list .schedule__item
    width: auto
    overflow: auto

    &:last-child
      a
        span
          div
            span
              display: flex
              align-content: center
              &::before
                content: url('../svg/footer/helpButtonIcon.svg')
                display: inline-block
                width: 16px
                height: 16px
                margin-right: #{$spacing-sxs}px

    & .text-main
      line-height: 18px !important
      font-size: 16px !important

  @media (min-width: 769px)
    align-items: flex-end

    .footer__links__menu
      margin-right: #{$spacing-md}px

    .footer__links__app-wrap
      margin-right: 0
      margin-left: auto

  @media (max-width: 769px)
    flex-direction: column

    .footer__links__menu
      margin-bottom: #{$spacing-sm + 3}px

.footer-links-devider
  margin: 0
