@import '~chibbis-ui-kit/assets/sass/config/palette.sass'
@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'

.footer__errors
  padding-top: #{$spacing-md}px

  &-inner
    padding: #{$spacing-sm}px 0 #{$spacing-sm}px
    text-align: center
    color: $color-silver-light

  &__copyright
    .copyright .text span
      font-size: 10px
      color: $color-silver-light

      &:not(:first-child)
        font-weight: 600
