@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import '~chibbis-ui-kit/assets/sass/config/text.sass'

.install-socket
  width: 100%
  max-width: 640px
  padding: 32px 8px

  &__inner
    height: 168px
    padding: 12px 8px 0 20px
    background-color: $color-west-side
    border-radius: 8px
    display: grid
    grid-template-rows: auto
    grid-template-columns: min-content auto
    column-gap: 21px
    overflow: hidden

  &__mobile-application
    width: 144px
    background-image: url('../svg/main/mobile-application.svg')
    background-repeat: no-repeat
    background-size: 144px 220px
    background-position: center center

  &__close-wrap
    min-width: 24px
    max-width: 24px
    min-height: 24px
    overflow: hidden
    margin: 0 0 0 auto
    border-radius: 50%
    border: solid 1px $color-gray-3
    background-color: $color-gray-0
    background-repeat: no-repeat
    background-size: 11px 11px
    background-position: center center
    background-image: url('../svg/main/close-main.svg')
    user-select: none
    transition: background-color .2s ease-in-out
    cursor: pointer

    &:hover
      background-color: $color-gray-1

  &__text
    font-weight: 500
    font-size: 20px
    line-height: 24px
    color: #FFFFFF
    margin-bottom: #{$spacing-sm}px

  &__app-buttons
    .appbuttons__icon
      background-repeat: no-repeat
      background-position: center
      background-size: 100%
