.header__error__logo
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  width: 100%
  height: 96px
  z-index: 10
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.15)

  &-inner
    background: url('../svg/main/logo.svg') center center / 100% 100% no-repeat
    min-width: #{$LOGO_WIDTH}px
    max-width: #{$LOGO_WIDTH}px
    min-height: #{$LOGO_HEIGHT}px
    max-height: #{$LOGO_HEIGHT}px
