@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'

.home-page__filters-block
  display: grid
  grid-template-columns: 100%
  align-items: end
  column-gap: #{$spacing-xs * 3}px
  margin: 40px auto #{$spacing-xs * 5}px
  max-width: 1728px
  @media( max-width: 1024px )
    grid-template-columns: 1fr
    grid-row-gap: 36px
    margin: #{$spacing-md - 2}px auto #{$spacing-xs * 5}px
  &__mobile
    grid-template-columns: 1fr
    row-gap: #{$spacing-md}px
