@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'

.restaurant-category-item
  display: grid
  grid-template-columns: auto
  grid-template-rows: repeat(auto-fit, minmax(min-content, 0))

.restaurant-category-item__title
  font-size: 24px
  line-height: 28px
  font-weight: 700
  color: $color-gray-9

.restaurant-category
  display: grid
  grid-template-columns: repeat(3, 1fr)
  column-gap: #{$spacing-xs * 3}px
  row-gap: #{$spacing-xs * 3}px
  margin-top: #{$spacing-md - 2}px

  @media (max-width: 1380px)
    grid-template-columns: repeat(2, 1fr)

  @media (max-width: 1023px)
    grid-template-columns: repeat(2, 1fr)
    margin-top: #{$spacing-xs * 3}px

  @media (max-width: 639px)
    grid-template-columns: auto
    margin-top: #{$spacing-sm - 2}px

  &-name
    display: flex
    flex-direction: row
    align-items: baseline

    & > div
      margin-left: #{$spacing-xs}px
      min-width: 26px
      min-height: 26px
      background-size: 26px 26px
      background-color: inherit
      background-repeat: no-repeat
      background-position: center center

    &__fire
      background-image: url('../svg/restaurant/flame-icon.svg')
      position: relative
      top: 2px

    &__chibbcoin
      background-image: url('../svg/restaurant/chibbcoin-icon.svg')
      position: relative
      top: 6px

    &__heart
      background-image: url('../svg/restaurant/heart-icon.svg')
      position: relative
      top: 4px

.restaurant-product-item
  .hit-card
    height: 100%
