.mobile-smart-banner
  width: 100%
  display: none
  background-color: #F1F4F8

  &_is-visible
    display: block

  &__wrapper
    min-height: 48px
    max-height: 48px
    display: flex
    justify-content: start
    align-items: center

  &__info
    display: flex
    align-items: center

  &__close
    margin-right: 12px
    position: relative
    width: 12px
    height: 12px

    &::after,
    &::before
      position: absolute
      top: 6px
      left: -2px
      width: 16px
      border-bottom: 1px solid #8A9095
      content: ''

    &::after
      transform: rotate(45deg)

    &::before
      transform: rotate(-45deg)

  &__logo
    margin-right: 8px
    width: 28px
    height: 28px
    display: block

  &__text
    font-size: 14px
    line-height: 1
    color: #202123
  
  &__rating
    width: 56px
    height: 10px
    display: block

  &__link
    padding: 6px 16px
    margin-left: auto
    font-size: 10px
    line-height: 1
    text-decoration: none
    color: #fff
    text-transform: uppercase
    display: block
    background: #136BE1
    border-radius: 8px
    border-bottom: none

    &:hover
      color: #fff
      border-color: #fff
