@import '~chibbis-ui-kit/assets/sass/config/palette.sass'

.header__pickup
  position: relative
  overflow: hidden
  display: flex
  flex-flow: row nowrap
  align-items: center
  justify-content: center
  min-width: 125px
  height: 32px
  overflow: hidden
  border-radius: 30px
  background-color: $color-gray-2
  transition: background-color .2s ease-in-out, color .2s ease-in-out
  font-size: 14px
  font-weight: 500
  color: $color-gray-7

  &-is-pickup
    background-color: $color-serenade
    color: $color-west-side

  &__label
    overflow: hidden
    white-space: nowrap
    line-height: 1
    text-overflow: ellipsis

  &__close
    position: absolute
    overflow: hidden
    top: 0
    right: 0
    width: 32px
    height: 32px
    display: flex
    flex-flow: row nowrap
    align-items: center
    justify-content: center
    user-select: none
    cursor: pointer
    z-index: 2

    & .close-icon_inner:after, .close-icon_inner:before
      background-color: $color-west-side
