@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import '~chibbis-ui-kit/assets/sass/config/palette.sass'

.header__go-back
  display: flex
  align-items: center

  & a
    width: 26px
    max-width: 26px
    &, &:hover, &:active, &:visited
      border: none
      text-decoration: none
      color: $color-gray-04

      @media (min-width: 1025px)
        width: auto
        max-width: 161px
        &, &:active, &:visited
          border: 1px solid $color-gray-06
          border-radius: #{$spacing-xs}px
          padding: #{$spacing-xs + 2}px #{$spacing-xs + 4}px

        &:hover
          border: 1px solid #B6BEC5

  &__inner
    display: flex
    flex-flow: row nowrap
    align-items: center

  &__icon
    width: 8px
    height: 14px
    background-color: $color-gray-04
    mask-image: url(../svg/main/go-back.svg)
    mask-size: contain
    mask-position: center center
    transition: background-color .2s ease-in-out

    &-mobile
      background-color: $color-gray-6
      position: relative
      @media (min-width: 769px)
        left: -20px

  &__text
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    line-height: 1
    margin-left: #{$spacing-xs + 3}px
    margin-top: 2px
