@import './category-item/styles.sass'

.restaurant-categories-list
  display: grid
  grid-template-columns: auto
  grid-template-rows: repeat(auto-fit, minmax(min-content, 0))
  row-gap: 54px
  margin-bottom: 104px
  @media (max-width: 1024px)
    margin-bottom: 72px
