@import '~chibbis-ui-kit/assets/sass/config/palette.sass'
@import '~chibbis-ui-kit/assets/sass/config/points.sass'
@import '~chibbis-ui-kit/assets/sass/config/transition.sass'
@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'

.error-page
  &__back
    display: flex
    justify-content: center
    width: 100%
    button
      height: 40px
      background: rgba(255, 134, 16, 0.12)
      color: #FF8610
      border-radius: 5px
      padding: 10px 20px
      visibility: visible
      opacity: 1
      transition-property: opacity, visibility, width
      transition-duration: $transition-speed-default
      transition-timing-function: ease-in-out

      @media (min-width: 330px)
        width: 355px
        margin-top: 110px

      @media (min-width: 640px)
        width: 600px
        margin-top: 105px

      @media (min-width: 878px)
        width: 786px
        margin-top: 90px

      @media (min-width: 1025px)
        width: 786px
        margin-top: 74px

      &:hover
        color: #FFFFFF
        transition: color $transition-speed-default ease-in-out, background $transition-speed-default ease-in-out
