@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import '~chibbis-ui-kit/assets/sass/config/palette.sass'

.header-burger__profile
  display: flex
  flex-flow: row nowrap
  align-items: center
  justify-content: center
  width: 100%
  min-height: 40px
  border: 1px solid #E4E8ED
  border-radius: #{$spacing-xs}px
  padding: 10px 12px
  cursor: pointer
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

  .icon
    margin-right: #{$spacing-xs}px

  &__title
    line-height: 1
    white-space: nowrap
    font-size: 16px
    line-height: 18px
    font-weight: 500
    font-family: -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    padding: 0
    background-color: transparent

  &__exit
    width: 24px
    height: 24px
    margin-left: #{$spacing-sm}px
    background: url('../svg/profile/exit.svg') center center / 100% 100% no-repeat
    cursor: pointer

  a > span > &__info
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background-color: #F1F4F8
    border-radius: #{$spacing-sm}px
    padding: #{$spacing-sm}px 60px #{$spacing-sm}px
    color: #262626

    &:hover
      color: #262626

  &__main
    display: flex
    flex-flow: row nowrap
    justify-content: center
    align-items: center
    cursor: auto
    margin-bottom: 18px

    .icon
      margin-right: #{$spacing-xs}px
      margin-bottom: 2px

  &__points
    display: flex
    flex-flow: row nowrap
    justify-content: center
    align-items: center
    font-weight: 500
    font-size: 20px
    line-height: 24px
    cursor: auto

    &-img
      background: url('../svg/main/orange-points.svg') 50% 50% no-repeat
      width: 18px
      height: 18px
      margin-left: 6px
      margin-bottom: 4px
      background-color: #FF8A00
      border-radius: 50%

  &__free-food a
    font-size: 16px
    line-height: 18px
    text-align: center
    color: #136BE1
    margin-top: 4px
    border-bottom: none !important
    & > span
      border-bottom: none !important
