.pointsWrapper
  position: absolute
  top: 22px
  left: 32px

  @media (max-width: 1024px)
    top: 12px
    left: 20px

  &__title
    font-weight: 400
    font-size: 20px
    line-height: 24px

    @media (max-width: 1024px)
      display: none

  &__pointsAmount
    font-weight: 500
    font-size: 48px
    line-height: 36px
    margin-top: 8px

    @media (max-width: 1024px)
      font-size: 30px
      margin-top: 0px

  &__Footer
    font-weight: 500
    font-size: 20px
    line-height: 24px
    width: 212px

    @media (max-width: 1024px)
      font-size: 14px
      line-height: 16px
      width: 148px

    &__Balance
      margin-top: 32px

      @media (max-width: 1024px)
        margin-top: 8px

    &__NoBalance
      margin-top: 75px

      @media (max-width: 1024px)
        margin-top: 36px

.coin
  background: no-repeat right bottom url('../img/home/coin.png')
  background-size: 200px

  @media (max-width: 1360px)
    background-size: 180px

  @media (max-width: 1024px)
    background-size: 140px
