@import '~chibbis-ui-kit/assets/sass/config/palette.sass'
  
.bold-close-icon-black
  position: relative
  width: 16px
  height: 16px

  &_inner
    position: absolute
    top: 2px
    left: 2px
    width: 12px
    height: 12px
    overflow: hidden
    cursor: pointer

    &::before,
    &::after
      content: ''
      position: absolute
      left: 50%
      width: 2px
      height: inherit
      background-color: $color-gray-8
      transition: background-color 0.2s ease-in-out

    &:hover
      &::before,
      &::after
        background-color: $color-gray-6

    &::before
      transform: rotate(45deg)

    &::after
      transform: rotate(-45deg)
