@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import './AddressInput/Message/styles.sass'
@import './AddressFooter/styles.sass'

.change-address-modal
  &__body
    width: 100%
    min-height: 100%
    display: grid
    grid-template-rows: 1fr min-content
    // display: flex
    // flex-direction: column

    &-input
      overflow-x: hidden
      overflow-y: auto
      min-height: 440px
      // flex: 1 1 auto

      .input-field-icon-wrap-prefix
        position: relative
        bottom: 1px

    &-footer
      width: 100%
      position: relative

  &__input
    padding: #{$spacing-xs * 3}px #{$spacing-xs * 3}px #{$spacing-sm}px

    @media (max-width: 768px)
      box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.15)

  &-list
    padding: 0 #{$spacing-xs * 3}px
    min-height: 50px
    overflow: hidden
    margin: #{$spacing-sm}px auto 0

    &-inner
      width: 100%
      display: flex
      flex-flow: column nowrap
      align-items: flex-start
      justify-content: flex-start
      overflow-x: hidden
      overflow-y: hidden //previously auto
      max-height: 100%
      background-color: $color-gray-0

    &__item
      width: 100%
      display: flex
      flex-flow: column nowrap
      padding: #{$spacing-xs - 1}px 0px #{$spacing-xs - 1}px
      background-color: $color-gray-0
      transition: background-color .2s ease-in-out
      cursor: pointer
      text-align: left

      &:hover
        background-color: $color-clear-skies
        & > *
          color: $color-white

      &-active
        background-color: $color-clear-skies    

      &-name
        font-size: 16px
        line-height: 18px
        color: #202123

        &-active
          color: $color-white    

      &-description
        font-size: 14px
        line-height: 18px
        color: $color-gray-6

        &-active
          color: $color-white   

    &__spinner
      margin: #{$spacing-xs * 5}px auto 0px

  &__notification-error
    position: relative
    width: 100%

    &-inner
      position: absolute
      display: flex
      flex-direction: row
      flex-wrap: nowrap
      justify-content: center
      align-items: center
      width: 100%
      height: #{$spacing-xs * 5}px
      background-color: #E73232
      color: $color-gray-0
      font-size: 16px
      line-height: 18px
      white-space: nowrap
      z-index: 10

      @media (max-width: 768px)
        width: 100%
        border-radius: 0px
        top: -#{$spacing-sm}px
