@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import './Header/styles.sass'
@import './Body/styles.sass'
@import './Footer/styles.sass'

.shoping-cart-content
  width: 100%
  height: 100%
  overflow: hidden
  display: grid
  grid-template-rows: min-content 58px 1fr min-content

  @media (max-width: 1024px)
    width: 100% !important
    max-width: 100% !important
  &__close-soon
    background: rgba(255, 134, 16, 0.16)
    border-radius: 8px
    display: flex
    justify-content: center
    align-items: center
    margin: 10px 10px 0 10px
    font-weight: 400
    font-size: 16px
    line-height: 18px

    img
      width: 20px
      height: 20px
      margin-right: 4px

  &__no-close-soon-warning
    grid-template-rows: min-content 1fr min-content

.shoping-cart-content-block
  overflow-x: hidden
  overflow-y: auto
  padding: 10px
  display: grid
  grid-auto-rows: min-content
  row-gap: 8px
