@import './CitiesList/styles'

.login-page
  position: relative
  min-height: 100vh
  display: flex
  flex-direction: column

  main
    margin: auto
    padding: 0 10px

  &__content-wrap
    position: relative
    flex-grow: 1
    display: flex
    justify-content: center

  &-header
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    width: 100%
    height: 64px
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.15)

    .header__logo
      .header__logo-inner
        min-width: 160px !important
        max-width: 160px !important
        min-height: 36px !important
        max-height: 36px !important
