@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import '~chibbis-ui-kit/assets/sass/config/palette.sass'
@import './List/styles.sass'

.home-filters-form
  display: grid
  grid-template-rows: repeat(2, 1fr, min-content)
  row-gap: 58px

.home-filters-form-panel
  display: grid
  grid-template-columns: repeat(2, 1fr)
  column-gap: 20px

  &__button
    height: 40px
    font-weight: 500
    font-size: 18px
    line-height: 21px
