@import '~chibbis-ui-kit/assets/sass/config/palette.sass'

.slider-button
  position: absolute
  width: 48px
  height: 48px
  top: 0
  border-radius: 50%
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.15)
  background-color: $color-gray-0
  background-image: url(../svg/main/short-arrow.svg)
  background-repeat: no-repeat
  background-size: 8px 16px
  background-position: center
  z-index: 10
  user-select: none
  cursor: pointer

  @media (max-width: 768px)
    height: 40px
    width: 40px

.slider-button-left
  left: -5px
  transform: rotate(180deg)

.slider-button-right
  right: -5px
