.header__notification-list
  width: 100%
  position: absolute
  left: 0
  
.header__notification
  cursor: pointer

  // Box
  box-sizing: border-box
  width: 100%

  display: flex
  flex-direction: column
  justify-content: center

  // Text
  font-weight: 400
  font-size: 16px
  line-height: 18px
  text-align: center
  color: #FFFFFF

  // States
  &.success
    background-color: #27AE60
  &.error
    background-color: #E73232
  &.info
    background-color: #136BE1

  // Animation
  transition: 0.5s
  opacity: 1
  padding: 10px
  max-height: 100%
  &.faded-out
    opacity: 0
  &.hidden
    padding: 0px
    max-height: 0
