@import '~chibbis-ui-kit/assets/sass/config/text.sass'
@import '~chibbis-ui-kit/assets/sass/config/palette.sass'
@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'

.profile-page__favourite-placeholder
  height: 444px

.profile-page__favourite-nofavorites
  &-img
    width: 100%
    height: 240px
    background: url('../svg/profile/no-favourites.svg') center no-repeat
    background-size: 240px 240px
    transition: height $transition-speed-default ease-in-out, background-size $transition-speed-default ease-in-out

    @media (min-width: $sm)
      height: 240px
      background-size: 240px 240px

    @media (min-width: $md)
      height: 420px
      background-size: 420px 420px

  &-text
    margin-bottom: auto
    text-align: center
    font-size: 16px
    line-height: 24px
    color: $color-gray-6
    transition: font-size $transition-speed-default ease-in-out

    @media (min-width: $sm)
      font-size: 16px

    @media (min-width: $md)
      font-size: #{$font-size-4*2}
