@import '~chibbis-ui-kit/assets/sass/config/palette.sass'
@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import '~chibbis-ui-kit/assets/sass/config/text.sass'
@import './ClientForm/styles.sass'
@import './PartnerForm/styles.sass'

.account-login
  display: flex
  flex-direction: column
  height: 100%

  &__title
    margin-bottom: 70px
    text-align: center
    font-weight: 700
    font-size: 24px
    line-height: 28px

  &__form
    padding-bottom: #{$spacing-md}px

    @media (min-width: 769px)
      padding-bottom: #{$spacing-lg}px

  &__button-wrapper
    margin-top: auto
    display: flex
    justify-content: center
    padding-top: 35px
    padding-bottom: 45px
    text-align: center
    border-top: 2px solid $color-gallery
    cursor: pointer

    @media (min-width: 769px)
      position: absolute
      left: 0
      right: 0
      bottom: 0
  &__button
    font-size: 14px
    color: $color-clear-skies
    line-height: 1

    &:hover
      color: $color-dark-skies

  &__image
    width: 16px
    height: 16px
    background: url('../img/header/for-partners.png') center no-repeat
    margin-right: 8px

  &__logo
    width: 100px
    height: 90px
    margin: 0 auto
    margin-bottom: 90px
    background: url('../img/header/logo.png') center center / 100% 100% no-repeat
