@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import '~chibbis-ui-kit/assets/sass/config/points.sass'
@import '~chibbis-ui-kit/assets/sass/config/transition.sass'

.content-body
  flex-grow: 1
  width: 100%
  min-width: 335px
  margin: 0 auto
  display: flex
  flex-direction: column
  transition: padding $transition-speed-default ease-in-out, max-width $transition-speed-default ease-in-out

  &.no-flex
    display: block

  @media (min-width: $md)
    max-width: 1680px
