@import '~chibbis-ui-kit/assets/sass/config/palette.sass'
@import './CuisinesList/styles.sass'
@import './FiltersBlock/styles.sass'
@import './RestaurantsList/styles.sass'
@import './HitsList/styles.sass'
@import './BannersCollection/styles.sass'
@import './BannersCollection/BannerPoints/styles.sass'
@import './Filters/styles.sass'
@import './ReviewsList/styles.sass'
@import './HotOffersList/styles.sass'
@import './SelectionBanner/styles.sass'

.home-page
  min-height: 100%

.selection
  .home-restaurants-header
    display: none
  .home-hits__title
    display: none
