@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import '~chibbis-ui-kit/assets/sass/config/palette.sass'
@import './TitleCity/styles.sass'

.cities-list__title
  background-color: #fff
  min-width: 325px
  width: 100%

  &-inner
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column

    &-search
      width: 100%
      max-width: 1680px

    &-main
      width: 100%
      display: flex
      flex-direction: row
      justify-content: center
      align-items: center
      min-height: 60px
      background-color: $color-clear-skies

  .content-body
    max-width: 100%
