@import '~chibbis-ui-kit/assets/sass/config/palette.sass'

.header__menu-body
  position: fixed
  overflow: hidden
  top: 0
  left: 0
  bottom: 0
  min-width: 0
  width: 100%
  max-width: 320px
  transform: translateX(-100%)
  transition: transform .2s ease-in-out, max-width .3s ease-in-out
  z-index: 2

  &__open
    transform: translateX(0%)

  &__closed
    transform: translateX(-100%)

  &__inner
    height: 100%
    display: flex
    flex-flow: row nowrap

  &__content
    display: flex
    flex-flow: row nowrap
    flex: 1 0 auto
    background-color: $color-gray-0
    overflow-x: hidden
    overflow-y: auto
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.15)

    &-inner
      flex: 1 0 auto
      flex-flow: column nowrap
