@import '~chibbis-ui-kit/assets/sass/config/palette.sass'
@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'

.rest-week-schedule
  &-header
    display: grid
    grid-template-columns: repeat(2, minmax(min-content, max-content))
    grid-template-rows: auto
    column-gap: #{$spacing-xs}px
    margin-top: #{$spacing-xs + 2}px

    &-open > .rest-week-schedule-header__status
      color: #27ae60

    &-close > .rest-week-schedule-header__status
      color: $color-monza

    &__status
      font-size: 16px
      line-height: 24px
      font-weight: 700

  &-description
    margin-top: #{$spacing-xs * 3 + 2}px
    font-size: 16px
    line-height: 18px
    font-weight: 400
    color: $color-gray-6

  &-content
    margin-top: #{$spacing-xs + 5}px

  &-item
    max-width: 243px
    display: grid
    grid-template-columns: min-content auto
    grid-template-rows: auto
    column-gap: #{$spacing-md - 5}px
    row-gap: #{$spacing-sxs}px
    margin-top: #{$spacing-xs}px
    color: $color-gray-8
    font-size: 16px
    line-height: 32px

    & > div:last-child
      justify-self: end
