@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import '~chibbis-ui-kit/assets/sass/config/palette.sass'

.home-hits
  max-width: 1728px
  margin: #{$spacing-xs * 5}px auto
  display: grid

.home-hits__title
  padding-bottom: 26px
  font-size: 24px
  line-height: 28px
  font-weight: bold
  color: $color-gray-9

  .icon
    margin-left: 2px
    display: inline-block

.home-hits__list
  display: grid
  grid-template-columns: 1fr
  // grid-auto-rows: 336px
  gap: #{$spacing-sm + 4}px

  @media (min-width: 640px)
    grid-template-columns: repeat(2, 1fr)
    // grid-auto-rows: 336px

  @media (min-width: 769px)
    gap: #{$spacing-xs * 3}px

  @media (min-width: 1024px)
    grid-template-columns: repeat(3, 1fr)

  @media (min-width: 1600px)
    grid-template-columns: repeat(4, minmax(0px, 1fr))
