@import '~chibbis-ui-kit/assets/sass/config/palette.sass'
@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'

.footer__info
  margin-top: 48px
  @media (min-width: 768px)
    margin-top: 40px
  @media (min-width: 1024px)
    margin-top: 48px

  &-inner
    padding: #{$spacing-sm - 2}px 0 #{$spacing-sm}px
    text-align: center
    color: $color-silver-light
    border-top: 1px solid #E8E8E8

  &__copyright
    .copyright .text span
      font-size: 10px
      line-height: 12px
      color: $color-silver-light

      &:not(:first-child)
        font-weight: 700

  &__address
    font-size: 10px
    font-weight: 500
    line-height: 12px
