@import '~chibbis-ui-kit/assets/sass/config/palette'

.grid-wrapper
  min-height: 100%
  position: relative
  display: grid
  grid-template-rows: minmax(min-content, max-content) 1fr minmax(min-content, max-content)
  grid-template-columns: repeat(3, 1fr)
  grid-template-areas: "header header header" "main main main" "footer footer footer"

  &__header
    grid-area: header
    position: sticky
    top: 0
    z-index: 100
    background-color: $color-gray-0

  &__main
    grid-area: main

  &__footer
    grid-area: footer
