.pad-m
  padding-left: #{$spacing-xs + 2}px
  padding-right: #{$spacing-xs + 2}px

  @media (min-width: 400px)
    padding-left: #{$spacing-sm + 4}px
    padding-right: #{$spacing-sm + 4}px

  @media (min-width: 769px)
    padding-left: #{$spacing-md + 8}px
    padding-right: #{$spacing-md + 8}px

  @media (min-width: 1920px)
    padding-left: #{$spacing-md * 2}px
    padding-right: #{$spacing-md * 2}px

.pad-f
  padding-left: #{$spacing-sm + 4}px
  padding-right: #{$spacing-sm + 4}px

  @media (min-width: 1024px)
    padding-left: #{$spacing-md + 8}px
    padding-right: #{$spacing-md + 8}px

  @media (min-width: 1280px)
    padding-left: #{$spacing-md}px
    padding-right: #{$spacing-md}px

.pad-h
  padding-left: #{$spacing-sm}px
  padding-right: #{$spacing-xs + 2}px

  @media (min-width: 1280px)
    padding-left: #{$spacing-md}px
    padding-right: #{$spacing-md}px
