@import './Body/styles.sass'
@import './HeaderBody/styles.sass'
@import './MiddleBody/styles.sass'
@import './FooterBody/styles.sass'

.header__menu
  display: flex
  align-items: center
  position: relative

  @media (min-width: 400px)
    left: -5px

  @media (min-width: 769px)
    left: -24px

  &__icon
    display: flex
    flex-flow: column nowrap
    align-items: center
    justify-content: space-between
    width: 20px
    height: 15px
    cursor: pointer
    user-select: none

    &-line
      width: 100%
      height: 2px
      border-radius: 2px
      background-color: $color-gray-9
