@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'

.another-restaurant-modal__body
  width: 100%
  text-align: center
  &-text
    font-size: 24px
    line-height: 28px
    font-weight: 700
    color: $color-gray-04

  &-rest-name
    cursor: pointer

  &-logos
    display: flex
    align-items: center
    justify-content: center
    column-gap: 30px
    margin-top: 30px

  &-logo
    cursor: pointer
    > img
      border-radius: 8px

  &-arrow
    margin-bottom: 70px

    div
      left: 64px
      bottom: -30px

      @media (max-width: 375px)
        left: 60px

  &-buttons
    margin-top: #{$spacing-md - 6}px
    display: grid
    grid-template-rows: auto
    grid-template-columns: auto auto
    column-gap: #{$spacing-sm + 4}px

    button
      height: 40px
      border-radius: 8px !important
      line-height: 27px
      text-align: center
