.mail-checker
  width: 100%
  padding: 12px
  text-align: center
  box-shadow: 1px 1px 8px rgba(38, 38, 38, 0.16)
  border-radius: 8px
  cursor: pointer
  margin-bottom: 24px
  font-size: 18px
  line-height: 22px

  &_is-checked
    color: #fff
    box-shadow: none
    background-color: #27AE60
    cursor: auto

  &__text
    color: #FF8610
