@import '~chibbis-ui-kit/assets/sass/config/palette.sass'
@import './Title/styles.sass'
@import './List/styles.sass'
@import './Search/styles.sass'

.cities-list__form
  flex-grow: 1
  display: flex
  flex-direction: column

  .pad-m
    @media (min-width: 1920px)
      padding-left: 40px
      padding-right: 40px

.cities-list__top-wrapper
  position: sticky
  background-color: $color-white
  z-index: 2
  transition: top 0.2s ease-in-out
  top: 64px
