@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import '~chibbis-ui-kit/assets/sass/config/palette.sass'

.header-menu-middle
  flex: 1 0 auto
  padding-top: #{$spacing-xs * 3}px

  &__nav
    display: flex
    flex-flow: column nowrap
    align-items: flex-start
    justify-content: flex-start

    &__item
      width: 100%

      & a
        display: block
        padding: #{$spacing-xs}px #{$spacing-sm + 4}px
        background-color: $color-gray-0
        color: $color-gray-8
        transition: color .2s ease-in-out
        font-size: 18px
        line-height: 22px

        &, &:hover, &:active, &:visited
          border: none
          text-decoration: none

        &:hover
          color: $color-clear-skies

        &:active
          color: #E0760E
