@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'

.empty-shoping-cart
  width: 100%
  height: 100%
  display: grid
  grid-template-rows: 70px min-content
  align-content: center
  justify-content: center
  row-gap: #{$spacing-sxs * 5}px
  padding: #{$spacing-sm}px #{$spacing-sxs * 5}px

.empty-shoping-cart__icon
  width: 70px
  height: 70px
  margin: 0 auto
  background-repeat: no-repeat
  background-size: 70px 70px
  background-position: center center
  background-image: url('../svg/shoping-cart/empty-cart.svg')

.empty-shoping-cart__description
  text-align: center
  font-weight: 400
  font-size: 14px
  line-height: 18px
  color: #8A9095
