@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'

.help-button
  padding: 0 !important
  text-transform: none
  font-weight: 400
  width: 100%
  max-width: 768px
  height: 32px
  box-shadow: 1px 1px 8px rgba(38, 38, 38, 0.16) !important
  border-radius: 16px !important
  @media (min-width: 769px)
    max-width: 100px

  > *
    display: block
    padding: #{$spacing-sxs}px #{$spacing-xs}px

    .link__text
      display: flex
      align-items: center
      justify-content: flex-start
      border-bottom: none

  &__icon
    width: 18px
    height: 18px
    display: flex
    align-items: center
    justify-content: center
    background: url('../svg/info-pages/help-icon.svg') center center no-repeat
    background-size: 18px 18px

  &__text
    margin-left: #{$spacing-sxs}px
    padding: 0
    font-size: 14px
    line-height: 18px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
