@import '~chibbis-ui-kit/assets/sass/config/palette.sass'
@import './info/styles.sass'
@import './orders/styles.sass'
@import './reviews/styles.sass'
@import './widgets/styles.sass'
@import './favorite/styles.sass'

.profile-page
  &__header-text
    margin: 0 auto
    max-width: 1060px
    width: 100%

  &__content-wrap
    margin: 0 auto
    max-width: 1060px
    margin-bottom: 65px

    @media (min-width: 640px)
      margin-bottom: 60px

    @media (min-width: 740px)
      margin-bottom: 62px

    @media (min-width: 1120px)
      margin-bottom: 108px

  &__widgets
    margin-top: 30px
    display: flex
    justify-content: center

  &__tabs-scores, &__tabs-favourite
    border-bottom: 1px solid $color-gray-3

  &__tabs-scores
    ul
      @media (max-width: 500px)
        overflow-x: auto
        justify-content: flex-start
      li
        white-space: nowrap

  &__scores
    margin-top: 32px

  &__score
    margin-bottom: 40px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    &-text
      font-size: 18px
      line-height: 22px

    &-num
      margin-top: 13px
      font-size: 48px
      font-weight: 700
      line-height: 1.1
      display: flex
      flex-flow: row nowrap

      .icon
        vertical-align: baseline
        position: relative
        top: 2px

  &-scores
    &__wrap
      max-width: 788px
      margin-bottom: 65px
    .scores-socials
      grid-template-columns: 1fr 1fr 1fr
      @media(min-width: 640px)
        grid-template-columns: 1fr 1fr 1fr 1fr
    .scores-socials__item
      max-width: 96px
      @media(min-width: 640px)
        max-width: 112px
    .scores-socials-card
      width: 96px
      @media(min-width: 640px)
        width: 112px

  &-favorite
    &__wrap
      max-width: 788px

  &__reviews-title
    margin-top: 46px
    margin-bottom: 23px
    font-size: 24px
    font-weight: 700

  &__footer-extra-space
    width: 100%
    height: 7px

    @media (min-width: 375px)
      height: 7px

    @media (min-width: 640px)
      height: 12px

    @media (min-width: 740px)
      height: 10px

    @media (min-width: 1120px)
      height: 0
