@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'

.header-menu__header
  width: 100%
  display: flex
  flex-flow: column nowrap
  align-items: flex-start
  justify-content: flex-start
  padding: #{$spacing-xs + 4}px #{$spacing-sm + 2}px #{$spacing-xs * 3}px #{$spacing-sm + 4}px

  &__top
    width: 100%
    display: flex
    flex-flow: row nowrap
    align-items: center
    justify-content: flex-start
    margin-bottom: #{$spacing-md}px

    &__logo-wrap
      min-width: 126px
      min-height: 50px
      margin-right: #{$spacing-xs * 3}px
      background-repeat: no-repeat
      background-size: 126px 50px
      background-position: center center
      background-image: url('../svg/main/logo.svg')

    &__close-wrap
      min-width: 32px
      min-height: 32px
      overflow: hidden
      margin: 0 0 0 auto
      border-radius: 50%
      border: solid 1px $color-gray-3
      background-color: $color-gray-0
      background-repeat: no-repeat
      background-size: 14px 14px
      background-position: center center
      background-image: url('../svg/main/close-main.svg')
      user-select: none
      transition: background-color .2s ease-in-out
      cursor: pointer

      &:hover
        background-color: $color-gray-1

    &__profile-wrap
      width: 100%
      display: flex
      align-items: center
      justify-content: center
      // padding: #{$spacing-sm}px
      overflow: hidden
      // border-radius: 8px
      // background-color: $color-gray-2
      // transition: background-color .2s ease-in-out
      // cursor: pointer

      // &:hover
      //   background-color: $color-gray-3

  // &__search-wrap
  //   width: 100%
  //   max-width: 265px
  //   margin-top: #{$spacing-xs * 3}px
