@import '~chibbis-ui-kit/assets/sass/config/palette.sass'
@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'

.restaurant-reviews
  &__last-order
    &-inner
      box-shadow: 1px 1px 8px rgba(38, 38, 38, 0.16)
      border-radius: 16px
      text-align: center
      padding: #{$spacing-sm - 3}px
      cursor: pointer
      span
        margin: 0 auto
        font-size: 18px
        line-height: 22px
        color: $color-gray-04

    &-bonus
      color: $color-west-side !important
