@import '~chibbis-ui-kit/assets/sass/config/text.sass'

.address-change-modal
  text-align: center
  .modal-header
    padding-bottom: 6px

    .close-icon
      right: 7px
      top: 7px
      &::before
        content: ""
        position: absolute
        width: 32px
        height: 32px
        border: 1px solid $color-gallery
        border-radius: 100%
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        cursor: pointer

      &_inner::before,
      &_inner::after
        background-color: $color-gray-8

  &__body
    padding: 0 46px

  &__header
    font-weight: 700
    font-size: 24px
    line-height: 28px

    &-address
      @extend %text-h8
      padding-top: 16px

  &__buttons
    display: grid
    grid-template-rows: auto auto
    grid-template-columns: auto
    row-gap: 24px
    padding: 44px 0 50px
    a
      border-bottom: none
    button
      height: 40px !important
      padding: 1px

      @media (min-width: 400px)
        padding: 4px
