.shopping-cart-modal
  align-items: end
  @media ( max-width: 1024px )
    align-items: center

  // Hack to fit modal correctly for dealing with narrow screens
  @media (max-width: 1024px)
    width: 100% !important
    height: 100% !important

    .modal-content-body
      max-width: 100% !important

  .modal-header
    padding-bottom: 0px
    .close-icon
      right: 7px
      top: 7px
      &::before
        content: ""
        position: absolute
        width: 32px
        height: 32px
        border: 1px solid $color-gallery
        border-radius: 100%
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        cursor: pointer

      &_inner::before,
      &_inner::after
        background-color: $color-gray-8
    @media (min-width: 769px)
      display: none

  .modal-content
    max-width: 768px
    top: 28px
    border-radius: 0px !important

    @media ( max-width: 1024px )
      border-radius: 16px !important

    &-body_inner
      padding: 0
      height: auto
      @media ( max-width: 1024px )
        border-radius: 16px !important
        width: 100% !important
        max-width: 100% !important
