@import '~chibbis-ui-kit/assets/sass/config/palette.sass'
@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'

.cities-list__title
  &__choice
    align-items: center
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 0 40px

    @media (min-width: 769px)
      flex-direction: row

    &-text h2
      color: $color-gray-0
      font-size: 24px
      line-height: 28px
      padding: #{$spacing-sm - 2}px
      text-align: center

    &-buttons
      span
        border-bottom: none !important

      button
        height: 40px
        padding: #{$spacing-xs + 2}px #{$spacing-xs * 3 + 4}px
        background-color: $color-gallery
        color: $color-clear-skies
        font-size: 18px
        line-height: 21px
        font-weight: 600
        border-radius: 40px !important

        @media (max-width: 768px)
          margin-bottom: 28px

  &-inner-search .pad-m
    @media (min-width: 1920px)
      padding-left: 40px
      padding-right: 40px

.gray-button
  background-color: $color-silver-light !important
  color: $color-white !important
