@import '~chibbis-ui-kit/assets/sass/config/palette.sass'

.chibbis-old-design-banner
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  align-items: center
  background-color: #E3EDFB
  position: relative

  &__wrapper
    position: sticky
    bottom: 0
    z-index: 10
    cursor: pointer
    justify-content: center

    @media (max-width: 768px)
      bottom: 10px !important

  &__img
    img
      width: 20px
      height: 20px
      margin-right: 6px
      margin-top: 2px

  &__close_img
    position: absolute
    width: 32px
    height: 32px
    padding: 8px
    bottom: 3px
    right: 6px
    img
      width: 16px
      height: 16px

    @media (max-width: 768px)
      right: 24px
      bottom: 5px

    @media (max-width: 400px)
      right: 14px

  &__text
    font-size: 16px
    line-height: 18px
    color: $color-clear-skies

  &-desktop
    &-full, &-short
      justify-content: center
      height: 36px

    &-full
      width: 100%

    &-short
      width: 180px
      border-radius: 0px 16px 0px 0px

  &-mobile
    &-full, &-short
      justify-content: flex-start
      height: 40px
      margin: 0 auto
      border-radius: 8px

    &-full
      width: calc(100% - 40px)
      padding: 0 16px
      @media (max-width: 400px)
        width: calc(100% - 20px)

    &-short
      width: 40px
      padding: 0 10px
      margin-left: 20px

      @media (max-width: 400px)
        margin-left: 10px
