.support-form
  width: 100%
  max-width: 516px
  @media(max-width: 1024px)
    max-width: 378px

  @media(max-width: 768px)
    max-width: none

  &__section
    margin-bottom: 40px
  &__field
    margin-bottom: 16px

    &-label
      font-weight: 400
      font-size: 16px
      line-height: 18px
      color: $color-gray-08
      margin-bottom: 5px


    .select-field
      padding: 7px 0px
      background-color: $color-gallery
      border-radius: 5px
      .inner-input-body
        background-color: $color-gallery
        border-color: $color-gallery
        padding: 4px 16px
        border-color: $color-gallery !important

    .textarea-field-body
      background-color: $color-gallery
      border-color: $color-gallery

  &__m-title
    margin-bottom: 25px
    font-weight: 700
    font-size: 24px
    line-height: 28px
    @media(min-width: 1024px)
      display: none
  &__title
    font-weight: 500
    font-size: 20px
    line-height: 24px
    margin-bottom: 13px

  &__button
    .btn
      height: 40px

.support-result
  padding: 20px
  display: flex
  flex-direction: column
  justify-content: center
  max-width: 600px
  text-align: center
  border: 1px solid $color-gray-5

  &__content
    max-width: 324px
    margin: 0 auto
    align-items: center

  &__title
    margin-bottom: 17px
    font-weight: 700
    font-size: 24px
    line-height: 28px

  &__description
    margin-bottom: 75px
    font-weight: 400
    font-size: 18px
    line-height: 22px

  &__icon
    margin-bottom: 40px
    display: flex
    justify-content: center

  &__button
    .btn_size-small
      height: 35px
      @media (min-width: 1024px) and (max-width: 1074px)
        height: 50px
