@import '~chibbis-ui-kit/assets/sass/config/text.sass'

.restaurant-close-modal
  text-align: center
  .modal-header
    padding-bottom: 0px

    .close-icon
      right: 7px
      top: 7px
      &::before
        content: ""
        position: absolute
        width: 32px
        height: 32px
        border: 1px solid $color-gallery
        border-radius: 100%
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        cursor: pointer

      &_inner::before,
      &_inner::after
        background-color: $color-gray-8

  &__body
    padding: 0 46px

  &__header
    @extend %title-h6
    font-weight: 700 !important
    font-size: 24px

  &__close-time
    padding-top: 14px
    padding-bottom: 44px
    border-bottom: 1px solid #E8E8E8

  &__links
    padding: 28px 0 40px

  &__links-count
    padding-bottom: 25px

  &__links-rests
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    a
      border-bottom: none

  &__rest-logo
    img
      width: 52px
      height: 56px
      border-radius: 3px

  &__button
    padding-bottom: 48px
    button
      height: 40px !important
