@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import '~chibbis-ui-kit/assets/sass/config/palette.sass'

.header__profile
  display: flex
  flex-flow: row nowrap
  align-items: center
  justify-content: flex-start
  min-width: 96px
  max-width: 150px
  height: 40px
  border: 1px solid #E4E8ED
  border-radius: #{$spacing-xs}px
  padding: 10px 12px
  cursor: pointer

  .icon
    margin-right: #{$spacing-xs}px
    min-width: 20px !important
    min-height: 20px !important

  &:hover
    border: 1px solid #B6BEC5

  a &
    display: flex
    flex-flow: row nowrap
    justify-content: center
    align-items: center
    text-decoration: none
    user-select: none
    line-height: 1

    &, &:hover, &:visited, &:active
      color: $color-gray-8
      text-decoration: none

  &-text
    line-height: 1.1

  &__title
    // border-bottom: solid 2px $color-gray-8
    white-space: nowrap
    font-size: 16px
    line-height: 18px
    font-weight: 500
    padding: 0
    background-color: transparent
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    margin-top: 2px

  &__exit
    width: 24px
    height: 24px
    margin-left: #{$spacing-sm}px
    background: url('../svg/profile/exit.svg') center center / 100% 100% no-repeat
    cursor: pointer
