.black-layout
  left: 0
  top: 0
  right: 0
  bottom: 0
  position: fixed
  overflow: hidden
  background-color: rgba(0, 0, 0, 0.25)
  opacity: 0
  cursor: default
  z-index: 999
  transition: opacity .3s ease-in-out

  &-view
    &-on
      display: block

    &-off
      display: none

  &-ui
    &-on
      opacity: 1
    &-off
      opacity: 0

