.header-select-city
  margin-right: 30px

  &-inner
    button
      padding: 0
      background-color: #fff
      display: flex
      flex-direction: row
      align-items: center

  &-title
    font-size: 16px
    line-height: 24px
    font-family: -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    font-weight: 500
    white-space: nowrap

  &-img
    width: 8px
    height: 14px
    background: url('../svg/header/select-city-vector.svg') center no-repeat
    background-size: 8px 14px
    margin-left: 8px
    transition: transform 0.2s ease-in
    &-show
      width: 8px
      height: 14px
      background: url('../svg/header/select-city-vector.svg') center no-repeat
      background-size: 8px 14px
      margin-left: 8px
      transition: transform 0.2s ease-in
      transform: rotate(180deg)
