@import '~chibbis-ui-kit/assets/sass/config/text.sass'
@import '~chibbis-ui-kit/assets/sass/config/palette.sass'
@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import './Partners/Content/styles.sass'

.grecaptcha-badge
  display: none

.partners
  &__content
    padding: #{$spacing-md}px 20px
    margin: 0 auto
    max-width: 1672px
    padding-top: 84px
    @media(max-width: 1025px)
      margin: 0 auto
      max-width: 835px
      padding-top: 54px

    @media(max-width: 768px)
      margin: 0 auto
      max-width: 835px
      padding-top: 54px


  &__section
    margin-bottom: 32px
    &:last-child
      margin-bottom: 40px
    @media (min-width: 400px)
      margin-bottom: 68px
      &:last-child
        margin-bottom: 40px
    @media (min-width: 640px)
      margin-bottom: 88px
      &:last-child
        margin-bottom: 40px
    @media (min-width: 1024px)
      margin-bottom: 100px
      &:last-child
        margin-bottom: 72px

  &__title
    margin-bottom: 32px

  &__title-map
    margin-bottom: 24px

  &__schemas-wrap
    display: grid
    grid-template-columns: 1fr
    gap: 24px
    @media (min-width: 1350px)
      grid-template-columns: 1fr 1fr 1fr

  &__features-wrap
    display: grid
    grid-template-columns: 1fr
    gap: 42px
    @media (min-width: 1350px)
      grid-template-columns: 1fr 1fr 1fr
