.profile-scores
  &__header
    margin-bottom: 20px
    margin-top: 23px
    transition: margin-top $transition-speed-default ease-in-out

    @media ( min-width:  1024px)
      margin-top: 18px

  &__header-score
    margin-top: 12px
    font-size: 48px
    font-weight: 700
    display: flex
    align-items: center

    .icon_scores
      margin-right: 4px
      vertical-align: initial
      position: relative
      top: -4px

  &__header-info
    display: flex
    justify-content: space-between

  &__header-link
    font-size: 14px
    line-height: 20px

  &-list
    &__item
      display: flex
      justify-content: space-between
      padding-top: 23px
      padding-bottom: 19px
      border-top: 1px solid $color-gray-3

    &__info
      max-width: 350px

      &-text
        font-size: 18px
        line-height: 22px

      &-date
        font-size: 14px
        line-height: 18px
        margin-top: 4px
        color: $color-gray-6

    &__score-icon
      position: relative
      top: 1px

    &__score
      display: flex
      font-size: 18px
      line-height: 22px
      white-space: nowrap

      .icon_scores
        margin-left: 4px
        margin-bottom: 2px
