.scores-list
  margin: 0 auto
  max-width: 515px
  &__col:last-child
    white-space: nowrap
  &__item
    padding-top: 23px
    padding-bottom: 19px
    display: flex
    justify-content: space-between
    border-bottom: 1px solid $color-gray-3

  &__date
    margin-top: 4px
    font-size: 14px
    line-height: 18px
    color: $color-gray-6

  &__text
    font-size: 18px
    line-height: 22px

  &__scores
    display: flex
    flex-flow: row nowrap
    font-size: 18px
    line-height: 22px
