@import './Form/styles.sass'

.checkout-page
  &__content-wrap
    margin: 0 auto
    max-width: 1680px
    display: flex

  &__form
    padding: 0px
    width: 100%
    max-width: 736px
    margin: 0 auto

    @media (min-width: 769px)
      padding: 0 40px

  &__shoping-cart
    margin-left: auto
    display: block
    min-width: 320px

  &__head
    margin-bottom: 32px
    text-align: center

  &__title
    margin-bottom: 16px
    font-size: 32px
    font-weight: 700

  &__status
    margin-bottom: 16px

  &__description
    color: $color-gray-7
    font-size: 14px

  &__controls
    padding: 0 16px

  &__get-bonus
    margin-top: 5px
    margin-bottom: 32px
    padding: 12px 20px
    text-align: center
    box-shadow: 1px 1px 8px rgba(38, 38, 38, 0.16)
    border-radius: 8px
    cursor: pointer

  &__gift
    padding: 16px
    font-weight: 700
    font-size: 14px
    line-height: 1.1
    border-radius: 5px
    text-transform: uppercase
    background-color: $color-gray-2
    text-align: center
    cursor: pointer

  .order-content-full__number
    display: none
