@import '~chibbis-ui-kit/assets/sass/config/palette'

@import './LeftSection/styles.sass'
@import './MiddleSection/styles.sass'
@import './RightSection/styles.sass'
@import './Menu/styles.sass'
@import './Logo/styles.sass'
@import './Profile/styles.sass'
@import './Burger-Profile/styles.sass'
@import './Cart/styles.sass'
@import './GoBack/styles.sass'
@import './Title/styles.sass'
@import './Address/styles.sass'
@import './CloseIcon/styles.sass'
@import './Errors/styles.sass'
@import './Notifications/styles.sass'

.header
  position: sticky
  top: 0
  z-index: 100

  &-inner
    position: relative
    background-color: $color-gray-0
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.15)
    z-index: 2

    &-wrap
      display: flex
      flex-flow: row nowrap
      align-items: stretch
      max-width: 1728px
      margin: 0 auto
      transition: min-height .2s ease-in-out, max-height .2s ease-in-out, padding-left .2s ease-in-out, padding-right .2s ease-in-out

      @media (min-width: 1025px)
        min-height: 64px
        max-height: 64px

      @media (min-width: 1280px)
        padding-left: 40px
        padding-right: 40px

      @media (min-width: 1920px)
        padding-left: 64px
        padding-right: 64px

      @media (max-width: 1024px)
        max-height: 56px
        min-height: 56px

.enter-modal
  .modal-content
    min-height: 600px
    max-width: 472px

    @media (max-width: 769px)
      min-height: 400px

  .modal-content-body_inner
    padding: 0 20px
    @media (min-width: 769px)
      padding: 0 68px

  .modal-header
    padding-bottom: 8px

    .close-icon
      right: 7px
      top: 7px
      &::before
        content: ""
        position: absolute
        width: 32px
        height: 32px
        border: 1px solid $color-gallery
        border-radius: 100%
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        cursor: pointer

      &_inner::before,
      &_inner::after
        background-color: $color-gray-8

.select-city-modal
  .modal-content
    width: calc(100% - 200px)
    max-width: 1200px
    min-height: 784px
    max-height: 784px
    border-radius: 16px
    @media (max-width: 768px)
      max-height: 100%
    @media (max-width: 640px)
      width: calc(100% - 100px)
    @media (max-width: 500px)
      width: 100%

  .modal-header
    padding-bottom: 16px

    .close-icon
      right: 7px
      top: 7px
      &::before
        content: ""
        position: absolute
        width: 32px
        height: 32px
        border: 1px solid $color-gallery
        border-radius: 100%
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        cursor: pointer

      &_inner::before,
      &_inner::after
        background-color: $color-gray-8

  .modal-content-body_inner
    padding: 0 20px
    @media (min-width: 890px)
      padding: 0 73px

    .cities-list__title
      padding: 0
      .content-body
        padding: 0
        .cities-list__title-inner-main
          display: none

        .cities-list__title-inner-search
          margin-top: 18px

    .cities-list__list
      margin-bottom: 24px
      margin-left: auto
      margin-right: auto
      @media (min-width: 768px)
        margin-left: 0
        margin-right: 0
