@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import '~chibbis-ui-kit/assets/sass/config/palette.sass'

.info-page
  &__reglament
    max-width: 335px
    margin: 42px auto 72px
    @media (min-width: 400px)
      max-width: 600px

    @media (min-width: 640px)
      max-width: 786px
    @media(min-width: 1025px)
      max-width: 1048px
      margin: 48px auto 104px

    .title-h3, title-h4
      font-weight: 600
      font-size: 20px
      line-height: 24px
      color: $color-gray-04

    .text-main
      font-weight: 400
      font-size: 18px
      line-height: 22px
      color: $color-gray-04

  &__descr
    color: $color-gray-07
    font-weight: 400
    font-size: 14px
    line-height: 18px

  &__intro:not(:last-child), &__section:not(:last-child)
    margin-bottom: #{$spacing-lg}px

  &__intro:not(:last-child)
    margin-top: #{$spacing-md}px
    margin-bottom: 70px
    
    @media (max-width: 1024px)
      margin-bottom: 45px

    @media (max-width: 768px)
      margin-bottom: 30px


  &__section
    counter-increment: rootlist

    ul
      padding-left: #{$spacing-sm}px
      list-style: disc

    ol
      margin-top: #{$spacing-xs * 3}px
      padding-left: 0
      list-style: none
      counter-reset: childlist

    ol > li
      counter-increment: childlist

      &:not(:last-child)
        margin-bottom: #{$spacing-xs * 3}px

      &:before
        content: counters(rootlist, ".") "." counters(childlist, ".") " "

  .paragraph
    display: block
    margin: 1em 0
