.orders-review-modal
  .modal-footer
    width: 100%

  .modal-header
    padding-bottom: 20px

    .close-icon
      right: 7px
      top: 7px
      &::before
        content: ""
        position: absolute
        width: 32px
        height: 32px
        border: 1px solid $color-gallery
        border-radius: 100%
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        cursor: pointer

      &_inner::before,
      &_inner::after
        background-color: $color-gray-8

  .modal-content
    max-width: 518px
    left: -10px
    border-radius: 16px
    @media (max-width: 768px)
      height: auto

    @media (max-width: 560px)
      left: 0px

    &-body_inner
      padding: 0px 24px 24px
