@import '~chibbis-ui-kit/assets/sass/config/palette.sass'

.header__cart
  display: flex
  flex-flow: row nowrap
  align-items: center
  justify-content: center
  min-width: 120px
  max-width: 150px
  height: 40px
  border: 1px solid #E4E8ED
  border-radius: #{$spacing-xs}px
  padding: 10px 12px
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

  &:hover
    border: 1px solid #B6BEC5

  @media (max-width: 768px)
    min-width: 40px
    border: none

    &:hover
      border: none

  &__clickable
    cursor: pointer

  .cart-icon, .cart-active-icon
    margin-right: #{$spacing-xs}px

    @media (max-width: 768px)
      margin-right: 0px

  &__icon
    width: 24px
    height: 24px
    background: url('../svg/main/shopping-cart.svg') center center / 100% 100% no-repeat

  &-cost
    font-size: 16px
    line-height: 18px
    font-weight: 500
    margin-top: 2px
    color: $color-gray-0
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

    .icon_scores
      position: relative
      bottom: 2px
      width: 18px
      height: 18px
