.partners
  &-features
    // margin-top: #{$spacing-md}px
    font-weight: 400
    font-size: 18px
    line-height: 22px
    @media (min-width: 1350px)
      max-width: 382px

    &__list
      padding-top: #{$spacing-sm + 8}px
      padding-left: 0
      margin: 0
      list-style: none

    &__item
      line-height: $font-line-height

      &:not(:last-child)
        margin-bottom: #{$spacing-sm}px

      p
        margin: 0

      span
        color: $color-west-side
  .title-h3
    font-weight: 500
    font-size: 20px
    line-height: 24px

  .title-h2
    font-weight: 700
    font-size: 24px
    line-height: 28px

  &-schema
    padding: 24px 40px
    display: flex
    align-items: flex-start
    background: #fff
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1)
    border-radius: 20px
    height: 120px

    @media (min-width: 640px)
      align-items: center

    &:not(:last-child)
      margin-bottom: #{$spacing-sm}px
      @media (min-width: $sm)
        margin-bottom: #{$spacing-sm + 8}px

    &__image
      margin-right: #{$spacing-sm}px
      width: 40px
      height: 40px
      background-image: url('../svg/info-pages/partners-schema-1.svg')
      background-position: center
      background-repeat: no-repeat
      background-size: 40px 40px
      @media (min-width: $sm)
        width: 72px
        height: 72px
        background-size: 72px 72px
      &_img-1
        background-image: url('../svg/info-pages/partners-schema-2.svg')

      &_img-2
        background-image: url('../svg/info-pages/partners-schema-3.svg')

    &__content
      width: 100%

      .title-h3
        font-weight: 500
        font-size: 20px
        line-height: 24px

        @media (max-width: 1024px)
          font-weight: 700
          font-size: 18px
          line-height: 20px


    &__description
      display: flex
      font-weight: 400
      font-size: 18px
      line-height: 22px

      @media (max-width: 1024px)
        font-size: 14px
        line-height: 18px


  &-map
    &__map
      width: 100%
      height: 180px
      @media (min-width: $sm)
        height: 376px

    .yandex-map
      display: flex
      height: 100%
      width: 100%

    &__wrap
      display: grid
      grid-template-rows: auto auto
      row-gap: 42px

      @media (min-width: 640px)
        margin-left: 0
        margin-right: 0

    &__counters
      display: grid
      grid-template-columns: repeat(2, auto)
      grid-template-rows: repeat(2, auto)
      column-gap: 56px
      row-gap: 32px
      width: 100%
      font-weight: 700
      font-size: 32px
      line-height: 37px
      margin: 0 20px

      @media (min-width: 640px)
        margin: 0
        grid-template-columns: repeat(4, auto)
        justify-content: space-between
        width: 85%

      &-title
        margin-bottom: #{$spacing-xs}px
        font-weight: 400
        font-size: 18px
        line-height: 22px

  &-banner
    grid-area: head
    height: 180px
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    text-align: center
    color: #fff
    background-image: url(../img/header/grid-bg.png)
    background-image: linear-gradient(90deg, transparent,rgba(0,0,0,.7)), linear-gradient(270deg,transparent,rgba(0,0,0,.7)), url(../img/header/grid-bg.png)

    &__title
      font-size: 24px
      font-weight: 700
      line-height: $font-line-height

      @media (max-width: 1024px)
        font-weight: 500
        font-size: 20px
        line-height: 24px

    &__subtitle
      margin-top: #{$spacing-sm + 4}px
      font-weight: 400
      font-size: 18px
      line-height: 22px

  &-button
    position: fixed
    grid-area: footer
    padding: 0 20px
    // position: sticky
    height: 96px
    left: 0
    right: 0
    bottom: 0
    display: flex
    justify-content: center
    align-items: center
    background: #FFFFFF
    z-index: 1000
    // box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1)
    // border-radius: 10px 10px 0px 0px
    @media (min-width: 1024px)
      padding: 0 40px
    @media (min-width: 1280px)
      padding: 0 32px

    &__wrap
      width: 100%
      max-width: 1618px

  &-form
    &__field
      margin-bottom: 17px
      
      &-title
        font-weight: 400
        font-size: 16px
        line-height: 18px
        color: $color-gray-08
        margin-bottom: 5px

      &-sub-title
        font-weight: 400
        font-size: 18px
        line-height: 22px
        color: $color-gray-04
        margin-bottom: 20px

    &__icon
      &-pin
        background: url(/assets/svg/info-pages/pin.svg) 50%/cover no-repeat
      &-org
        background: url(/assets/svg/info-pages/org.svg) 50%/cover no-repeat
      &-person
        background: url(/assets/svg/info-pages/person.svg) 50%/cover no-repeat
      &-email
        background: url(/assets/svg/info-pages/email.svg) 50%/cover no-repeat
    &__hint-wrap
      padding-bottom: 32px
      margin-bottom: 8px
      display: inline-block
      color: $color-gray-08
      border-bottom: 1px solid $color-gray-3
      font-weight: 400
      font-size: 18px
      line-height: 22px

    &__hint
      display: inline-block
      .hint-info_trigger
        margin-right: #{$spacing-sm / 2}px
        width: #{$spacing-sm}px
        height: #{$spacing-sm}px
      &+span
        font-size: $font-size-4
        color: $color-west-side

  &-modal

    .modal-content
      max-width: 990px

    .modal-content-body_inner
      padding: 0 24px 52px

    &-response
      max-width: 383px

    &__header
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      padding-top: 10px
      font-weight: 700
      font-size: 24px
      line-height: 28px
      color: $color-gray-04
      text-align: center
      @media (min-width: 480px)
        flex-direction: row
        justify-content: center
        align-items: flex-start

      div:first-child
        padding-right: 0
        @media (min-width: 480px)
          padding-right: 4px

    &-response
      &__content
        text-align: center
        h2
          margin-top: 14px
          display: inline-block
          font-weight: 700
          font-size: 24px
          color: $color-gray-04

      &__icon
        position: relative
        margin: 0 auto
        width: 44px
        height: 44px
        background: url(../svg/info-pages/partner_success.svg) 0 center no-repeat

      &__icon-error
        position: relative
        margin: 0 auto
        width: 40px
        height: 40px
        background: url(/assets/img/info-pages/partner_error.png) 0 center no-repeat

      &__text
        font-weight: 400
        font-size: 18px
        line-height: 22px
        color: $color-gray-04

  &-form
    &__row
      display: flex
      flex-direction: column
      align-items: center
      @media (min-width: $sm)
        flex-direction: row
        align-items: start

    &__col
      padding: 0 1rem
      margin-bottom: 24px
      width: 100%
      @media (min-width: $sm)
        padding: 0 3rem
        width: 50%

    &__button
      margin: 0 auto
      padding: 0 1rem
      padding-top: 0
      position: sticky
      bottom: 0
      max-width: 100%
      @media (min-width: $sm)
        padding: 0 3rem
        padding-top: 16px
        position: relative

  &-already
    &__list
      display: grid
      grid-template-columns: repeat(3, 1fr)
      flex-wrap: wrap
      justify-content: space-between
      align-items: center
      padding: 0
      list-style: none
      @media (min-width: 640px)
        grid-template-columns: repeat(4, 1fr)
      @media (min-width: 1240px)
        grid-template-columns: repeat(7, 1fr)
      @media (max-width: 375px)
        grid-template-columns: repeat(2, 1fr)

    &__item
      margin-right: #{$spacing-xs}px
      margin-bottom: #{$spacing-md - 2}px
      display: flex
      justify-content: center
      align-items: center
      // &:last-child
      //   margin-right: auto
      @media (min-width: 640px)
        margin-right: #{$spacing-sm - 2}px

    &__image
      width: 100%

      &_img
        &-subway
          width: 130px
        &-sushi-market
          width: 130px
        &-shtolle
          width: 120px
        &-shashlikoff
          width: 140px
        &-yakitoria
          width: 105px
        &-raduga,
        &-tri-sousa
          width: 75px
        &-papa-johnes
          width: 145px
        &-sushi-master
          width: 140px
        &-kartoshka
          width: 75px
        &-suhiset
          width: 75px
        &-sushi-wok
          width: 75px
        &-black-star
          width: 145px
        &-tashir
          width: 75px
