.anotherElemArrow
  position: relative

  &__inner
    position: absolute
    left: 80px
    bottom: -15px
    background-image: url('../svg/restaurant/point-product-module-arrow.svg')
    background-size: 206px 26px
    width: 206px
    height: 26px
    background-repeat: no-repeat

    @media (max-width: 460px)
      left: 65px

    @media (max-width: 400px)
      left: 55px

    @media (max-width: 375px)
      left: 47px