.profile-page-order

  &__footer-extra-space
    width: 100%
    height: 7px

    @media (min-width: 375px)
      height: 7px

    @media (min-width: 640px)
      height: 12px

    @media (min-width: 1120px)
      height: 0

  &__no-order-img
    width: 100%
    height: 240px
    background: url('../svg/profile/no-orders.svg') center no-repeat
    background-size: 240px 240px
    transition: height $transition-speed-default ease-in-out, background-size $transition-speed-default ease-in-out

    @media (min-width: $sm)
      height: 240px
      background-size: 240px 240px

    @media (min-width: $md)
      height: 420px
      background-size: 420px 420px

  &__no-order-text
    margin-bottom: auto
    text-align: center
    font-size: 16px
    line-height: 24px
    color: $color-gray-6
    transition: font-size $transition-speed-default ease-in-out

    @media (min-width: $sm)
      font-size: 16px

    @media (min-width: $md)
      font-size: #{$font-size-4*2}

  &__spinner
    margin: 30px auto 0
