@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'

.partner-form
  padding-top: #{$spacing-md}px
  font-size: 14px
  line-height: 20px
  text-align: center

  &__field
    margin-bottom: #{$spacing-sm}px

  &__button
    margin-top: #{$spacing-md}px
