@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import '~chibbis-ui-kit/assets/sass/config/palette.sass'

.header__input-address
  &-inner
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    align-items: baseline
    justify-content: flex-start
    max-height: 56px
    padding: #{$spacing-xs + 2}px #{$spacing-xs * 3}px #{$spacing-xs + 3}px #{$spacing-sm - 2}px

    background-color: $color-gallery
    border-radius: 8px
    cursor: pointer
    & > *:not(*:last-child)
      margin-right: #{$spacing-xs}px

    @media (max-width: 768px)
      flex-direction: column
      align-items: center
      justify-content: center
      padding: #{$spacing-xs + 2}px 0
      background-color: $color-gray-0

      & > *:not(*:last-child)
        margin-right: 0

    img
      width: 12px
      height: 16px
      position: relative
      top: 2px

  &-valid, &-empty
    font-size: 18px
    line-height: 21px

  &-valid
    color: $color-gray-07
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    text-align: center

    @media (max-width: 768px)
      font-size: 16px
      line-height: 18px
      white-space: normal
      text-overflow: initial

  &-empty
    color: $color-gray-08

    @media (max-width: 768px)
      font-size: 14px
      line-height: 16px
