.rest-categories-logo
  width: 33px
  height: 35px
  overflow: hidden
  display: flex
  align-items: center
  justify-content: center
  border-radius: 8px

  & > img
    display: block
    max-width: 33px
    max-hight: 35px
