@import '~chibbis-ui-kit/assets/sass/config/palette.sass'
@import './CartContent/styles.sass'
@import './EmptyCart/styles.sass'

.shopping-cart
  min-height: 100%
  max-width: 382px
  background-color: $color-gallery // needs variable

  @media (max-width: 1024px)
    background-color: $color-gray-0
    width: 100% !important
    max-width: 100% !important

  &__modal-animated
    @media (max-width: 1024px)
      position: fixed
      top: 56px
      right: 0
      transition: transform .2s ease-in-out,max-width .3s ease-in-out
      z-index: 99
      transform: translateX(+100%)

    &__opened
      @media (max-width: 1024px)
        transform: translateX(0)

.shopping-cart-view
  overflow: hidden
  position: sticky
  top: 0

  @media (max-width: 1024px)
    width: 100% !important
    max-width: 100% !important
