@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import '~chibbis-ui-kit/assets/sass/config/palette.sass'
@import './Product/styles.sass'

.shoping-cart-content-block
  overflow-x: hidden
  overflow-y: auto
  padding: #{$spacing-xs * 3}px #{$spacing-sxs * 5}px
  display: grid
  grid-auto-rows: min-content
  row-gap: #{$spacing-xs * 3}px

  & .amount_buttons
    width: 40px !important
    height: 40px !important

    & button
      background-color: $color-gallery !important

      &::before, &::after
        left: 11px !important
        top: 18px !important

  & .input-field, & input
    border: none
    background-color: $color-gray-0 !important
  
  @media (max-width: 1024px)
    width: 100% !important
    max-width: 100% !important
  
  &__bonus-reward
    display: flex
    align-items: center
    font-weight: 400
    font-size: 18px
    line-height: 22px
    color: $color-gray-07
  
  &__bonuses
    margin-right: 4px
  
  &__icon
    margin-top: -2px

.shoping-cart-content-cutlery
  display: grid
  grid-template-columns: 24px 1fr min-content
  align-items: center
  column-gap: #{$spacing-sxs * 3}px
  padding-bottom: #{$spacing-xs * 3}px
  background: $color-gray-0
  border-radius: 8px
  padding: 10px
  border-bottom: 1px solid $color-gray-06

  @media (max-width: 1024px)
    width: 100% !important
    max-width: 100% !important
    border-radius: 0
  
  // For iPhone 7+
  @media (max-width: 425px)
    display: flex
    justify-content: space-between
    align-items: center
    column-gap: unset

.shoping-cart-content-cutlery__icon
  width: 24px
  height: 24px
  background-repeat: no-repeat
  background-size: 24px 24px
  background-position: center center
  background-image: url(../svg/shoping-cart/cutlery.svg)

.shoping-cart-content-cutlery__title
  font-weight: 400
  font-size: 18px
  line-height: 22px
  color: $color-gray-8

.shoping-cart-content-cutlery__amount
  .input-field-no-input
    padding-top: 4px

.shoping-cart-content-total-wrap
  @media (max-width: 1024px)
    width: 100% !important
    max-width: 100% !important
