@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import '~chibbis-ui-kit/assets/sass/config/palette.sass'

.shoping-cart-footer
  display: grid
  row-gap: #{$spacing-sxs * 3}px
  background-color: $color-gray-0
  border: 1px solid $color-gray-06
  border-bottom: none
  border-radius: 16px 16px 0px 0px
  padding: 12px 16px 16px
  box-shadow: 1px 1px 8px rgb(38 38 38 / 16%)

  @media (max-width: 1024px)
    border-radius: 16px 16px 0 0
    box-shadow: 1px 1px 8px rgba(38, 38, 38, 0.16)
  @media (max-width: 1024px)
    width: 100% !important
    max-width: 100% !important

  &__counters
    display: grid
    grid-template-columns: repeat(3, min-content)
    column-gap: #{$spacing-md}px
    @media (max-width: 1024px)
      width: 100% !important
      max-width: 100% !important
    
    // For iPhone 7+
    @media (max-width: 425px)
      display: flex
      justify-content: space-between
      align-items: center
      column-gap: unset

  &__counter-wrap
    display: grid

  &__counter-wrap-title
    white-space: nowrap
    font-size: 14px
    line-height: 18px
    color: $color-gray-08

  &__counter-wrap-description
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(min-content, 0))
    align-items: center
    column-gap: 2px
    white-space: nowrap
    font-size: 20px
    line-height: 24px
    color: $color-gray-04
    & > .shoping-cart-footer__counter-points
      color: $color-west-side

  &__counter-wrap-description-icon
    margin-right: #{$spacing-sxs}px
    margin-bottom: 2px

  &
    &__checkout-counter
      &-wrap
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 16px
      &-last
        color: $color-gray-8
        font-weight: 700
        font-size: 16px
        line-height: 24px
      &-price
        font-weight: 700
        font-size: 18px
        line-height: 24px
        color: $color-gray-8
      &-discount
        font-size: 14px
        line-height: 20px
        color: $color-gray-6
      &-text
        font-size: 16px
        line-height: 24px
        color: $color-gray-08
      &-bonus-price
        display: flex
        align-items: center
      &-delivery
        font-size: 14px
        line-height: 18px
        color: $color-gray-08
        text-align: center

  &__warning-message
    &_delivery-info
      display: flex
      align-items: center
      font-weight: 400
      font-size: 18px
      line-height: 22px
      color: #202123
      justify-content: space-between

    &_delivery-time
      font-weight: 400
      font-size: 16px
      line-height: 18px
      color: $color-gray-07

    &_delivery
      display: flex
      align-items: center
      font-weight: 400
      font-size: 18px
      line-height: 22px
      color: #202123
      justify-content: flex-start
      img
        width: 20px
        height: 20px
        margin-right: #{$spacing-sxs}px
        position: relative
        bottom: 2px

    &_min-cost
      font-weight: 400
      font-size: 18px
      line-height: 22px
      color: $color-gray-04
      display: flex
      justify-content: center
      img
        width: 20px
        height: 20px
        margin-right: 8px
        margin-top: -1px

    &_rest-closed
      display: flex
      flex-direction: column
      color: $color-gray-04
      text-align: center
      font-weight: 400
      font-size: 18px
      line-height: 22px
      img
        width: 20px
        height: 20px
        margin-right: #{$spacing-sxs}px
        margin-bottom: -2px

  &__submit-button
    font-weight: 500
    font-size: 18px
    line-height: 21px
    @media (max-width: 1024px)
      width: 100% !important
      max-width: 100% !important
    
    &__content
      display: flex
      justify-content: space-between
      font-weight: 500
      font-size: 18px
      line-height: 22px
      align-items: center
      text-align: center

      &__total
        font-weight: 400
        font-size: 22px
      
  &__submit-button > button
    height: 40px
    padding: 10px 20px
    @media (max-width: 1024px)
      width: 100% !important
      max-width: 100% !important

    &:disabled
      background-color: $color-gray-05 !important
      color: $color-white !important

  &__checkout-info
    font-weight: 400
    font-size: 18px
    line-height: 22px
    padding: 20px

    &__row
      display: flex
      justify-content: space-between
      margin-bottom: 11px
      align-items: center

      &:last-child
        margin-bottom: 0
        font-weight: 700
        font-size: 18px
        line-height: 20px
    
    &__cell-bold
      font-weight: 500
      font-size: 20px
      line-height: 24px