@import './AddressGroup/styles.sass'

.checkout-form
  margin-top: 38px

  @media(max-width: 375px)
    margin-bottom: 130px

  &__questions-field
    margin: 15px 0

  &__field-label
    font-size: 12px

  &__button
    max-width: 31%
    width: 100%

  &__buttons
    margin-top: 22px
    padding-top: 16px
    padding-bottom: 16px
    position: sticky
    bottom: 0
    background-color: #fff
    display: flex
    justify-content: space-between

    @media(max-width: 375px)
      box-shadow: 1px 1px 8px rgb(38 38 38 / 16%)
      border-radius: 16px 16px 0px 0px
      position: fixed
      bottom: 0
      width: 100%
      background: $color-gray-0

    &__total
      display: flex
      margin-bottom: 20px
      align-items: center

      &__text
        font-weight: 400
        font-size: 16px
        line-height: 18px
        color: #000000
        flex-grow: 1

      &__num
        font-weight: 400
        font-size: 16px
        line-height: 18px
        color: #8A9095
        margin-right: 10px
        text-decoration: line-through

      &__num-with-discount
        font-weight: 500
        font-size: 20px
        line-height: 24px
        color: #000000
  &__input-promocode
    &__success
      outline: 2px solid #27AE60 !important
      background: #F1F4F8 !important
      & .input-field-body
        background: #F1F4F8 !important
    &__error
      outline: 2px solid #E73232 !important
      background: #F1F4F8 !important
      & .input-field-body
        background: #F1F4F8 !important

  .label-field-required
    display: none

  &__select-wrap
    display: flex
    align-items: center
    span
      display: inline-block
      margin-right: 9px
    &:first-child
      margin-right: 20px

  &__select-time
    width: 100%
    max-width: 290px

  &__title
    font-size: 24px
    font-weight: 700
    line-height: 28px
    margin-bottom: 19px

  &__field
    position: relative
    margin-bottom: #{$spacing-sm}px
    @media (min-width: $sm)
      margin-bottom: #{$spacing-xs * 3}px

  &__promocode-subscription
    position: absolute
    left: 0
    bottom: 7px

    font-weight: 400
    font-size: 16px
    line-height: 18px

    &.is-success
      color: #27AE60
    &.is-error
      color: #E73232

  &__address-wrap
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    column-gap: 24px

    &-two-lines
      display: grid
      grid-template-columns: 1fr 1fr 1fr
      column-gap: 24px
      .label-field-inner
        display: flex
        height: 40px
        align-items: flex-end

  &__pickup-list
    margin-top: 44px

  &__delivery-wrap
    margin-top: 24px
    display: inline-flex
    border-radius: 34px
    background-color: $color-gray-2
    &.is-delivery
      .radio-field-delivery
        background: #FFFFFF !important
        box-shadow: 1px 1px 8px rgba(38, 38, 38, 0.16)
    &.is-pickup
      .radio-field-pickup
        background: #FFFFFF !important
        box-shadow: 1px 1px 8px rgba(38, 38, 38, 0.16)
    &.is-base
      .radio-field-base
        background: #FFFFFF !important
        box-shadow: 1px 1px 8px rgba(38, 38, 38, 0.16)
    &.is-cellar
      .radio-field-cellar
        background: #FFFFFF !important
        box-shadow: 1px 1px 8px rgba(38, 38, 38, 0.16)

    .radio-field-label-wrap
      .radio-field
        padding: 8px 24px
        background-color: $color-gray-2
        border-radius: 34px

      &:first-child
        margin-right: 10px
      .radio-field-wrap
        display: none
      .radio-field-label
        margin-left: 0

  .btn-apple
    background-color: #000
    &:hover
      background-color: #000

  .theme-white .input-field
    padding: 11px 12px
    border-radius: 8px
    border: 1px solid $color-gray-3

  &__payment-group
    padding-top: 24px
    // padding-bottom: 10px
    .radio-field-label-wrap
      .radio-field
        padding: 8px 24px
        background-color: $color-gray-2
        border-radius: 34px
      .radio-field-wrap
        display: none
    .radio-field-label
      white-space: nowrap
      margin-left: 0px

  &__agreement
    margin-top: 20px

  &__promocode-field
    position: relative

.pickup__item
  margin-bottom: 16px
  padding-bottom: 16px
  max-width: 616px
  border-bottom: 1px solid $color-gray-3

.toggle-field
  padding-top: 23px
  padding-bottom: 23px
  border-bottom: 1px solid $color-gray-3

  &__promocode
    @media(max-width: 368px)
      padding-top: 40px

  &__with-promocode
    padding-bottom: 33px

  &__controller
    & > div
      height: 24px

  &__content
    margin-top: 18px
  .switch-field
    align-items: center !important

    &-label
      margin-top: 2px

  .switch-field-checkmark-inner
    width: 20px
    height: 20px
  .switch-field-checkmark
    width: 42px
    height: 24px
  .switch-field-wrap
    min-width: 42px
    max-width: 42px
    min-height: 24px
    max-height: 24px
    margin-top: 0
  .switch-field input:checked~.switch-field-checkmark .switch-field-checkmark-inner
    left: 20px

.payment-group
  &__info
    margin-top: 21px
  &__text
    display: flex
    font-size: 14px
    color: $color-gray-6
    line-height: 20px

  &__reserve-money-icon
    width: 16px
    height: 16px
    background: url('../svg/shoping-cart/reserve-money.svg') center no-repeat
    margin-right: 8px

  &__cancel-order-icon
    width: 16px
    height: 16px
    background: url('../svg/shoping-cart/cancel-order.svg') center no-repeat
    margin-right: 8px

  &__list
    display: grid
    grid-template-columns: repeat(2, auto)
    grid-gap: 8px
    justify-content: start
    @media(min-width: 540px)
      grid-template-columns: repeat(3, auto)
    @media(min-width: 769px)
      grid-template-columns: repeat(2, auto)
    @media(min-width: 950px)
      grid-template-columns: repeat(3, auto)
    @media(min-width: 1100px)
      grid-template-columns: repeat(4, auto)

  &.is-byCardOnline
    .payment-radio-byCardOnline
      background-color: $color-clear-skies !important
      .radio-field-label
        color: #fff
        margin-left: 0px
  &.is-byCardToCourier
    .payment-radio-byCardToCourier
      background-color: $color-clear-skies !important
      .radio-field-label
        color: #fff
        margin-left: 0px
  &.is-cash
    .payment-radio-cash
      background-color: $color-clear-skies !important
      .radio-field-label
        color: #fff
        margin-left: 0px
  &.is-apple
    .payment-radio-apple
      background-color: $color-clear-skies !important
      .radio-field-label
        color: #fff
        margin-left: 0px

  &__cash-exchange
    margin: 26px auto 0px

    &-error
      position: relative

      &_inner
        position: absolute
        color: #E73232
        top: 4px
