@import '~chibbis-ui-kit/assets/sass/config/palette.sass'
@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import '~chibbis-ui-kit/assets/sass/config/points.sass'
@import '~chibbis-ui-kit/assets/sass/config/text.sass'

.info-page__contacts
  width: 788px

  @media(max-width: 1300px)
    width: 720px

  @media(max-width: 1250px)
    width: 680px

  @media(max-width: 1200px)
    width: 640px

  @media(max-width: 1150px)
    width: 580px

  @media(max-width: 1120px)
    width: 540px

  @media(max-width: 1080px)
    width: 510px

  @media(max-width: 1050px)
    width: 490px

  @media(max-width: 1024px)
    width: 459px
    margin-bottom: 0

  @media(max-width: 768px)
    width: 100%

.contacts
  padding-bottom: #{$spacing-md}px

  &__columns
    margin-top: #{$spacing-md}px

  &__column, &__dbl-column
    width: 100%
    padding-bottom: #{$spacing-xs * 3}px

  &__row
    margin-right: 105px

    &:last-child
      margin-right: 0px

    @media(max-width: 1024px)
      margin-bottom: 40px

      &:last-child
        margin-bottom: 16px

  &__column-extra
    padding-bottom: #{$spacing-lg}px

  &__column
    height: 100%

  &__title
    margin-bottom: #{$spacing-sxs}px
    color: $color-gray-08
    font-weight: 400
    font-size: 18px
    line-height: 22px

    &-requisites
      margin-bottom: #{$spacing-xs}px

  &__text
    font-weight: 700
    font-size: 24px
    line-height: 28px
    color: $color-gray-8

  &__phone-link

    &, &:visited, &:active
      border: 0
      color: $color-gray-8

    &:hover
      color: $color-gray-6

  &__social .social
    justify-content: flex-start

  &__map-container
    img
      max-width: 100%

    &__map
      width: 100%
      height: 300px

      @media(max-width: 1024px)
        height: 224px

      @media(max-width: 375px)
        height: 200px

  &__address-title, &__requisites-title
    padding-bottom: #{$spacing-sm}px

  &__address-1, &__address-2, &__requisites
    font-size: $font-size-3

  &__addr-req
    display: flex
    flex-direction: column
    justify-content: space-between

  &__address
    font-weight: 400
    font-size: 18px
    line-height: 22px
    color: $color-gray-04

  &__address-1
    padding-top: #{$spacing-md}px

  &__address-2
    display: none

  &__requisites
    &-item
      font-weight: 400
      font-size: 18px
      line-height: 22px
      color: $color-gray-04
