@import '~chibbis-ui-kit/assets/sass/config/palette.sass'
@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'

@import './Top/styles'
@import './Company/styles'
@import './Links/styles'
@import './SocialNetworks/styles'
@import './Apps/styles'
@import './Info/styles'
@import './Errors/styles'
@import './Specializations/styles'

.footer
  width: 100%
  display: flex
  flex-direction: column
  padding-top: #{$spacing-md + 2}px
  background-color: $color-white
  border-top: 1px solid $color-gray-3

  .divider
    margin-top: 0

.footer__schedule
  & .schedule__list  .schedule__item
    .text-main
      font-weight: 400
      font-size: 16px
      line-height: 18px

      &:not(:last-child)
        @media (min-width: 769px)
          margin-right: #{$spacing-xs * 3}px
