@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import '~chibbis-ui-kit/assets/sass/config/palette.sass'
@import '~chibbis-ui-kit/assets/sass/config/text.sass'

.header-menu__footer
  margin-bottom: #{$spacing-sm}px

  & .divider
    max-width: 265px
    margin: #{$spacing-sm}px #{$spacing-sm}px 0 #{$spacing-sm}px

  & .schedule
    width: 100%

    & .schedule__item
      margin: 0 !important
      padding: #{$spacing-xs}px #{$spacing-sm + 4}px !important
      background-color: $color-gray-0
      transition: color .2s ease-in-out

      &:hover
        .text-main
          color: $color-clear-skies

      & a
        &:active
          color: #E0760E

    & .text-main
      font-size: 16px!important
      line-height: 18px
      color: $color-gray-8

  &__links-title
    margin-bottom: 6px
    margin-top: #{$spacing-md - 2}px
    padding: 0 #{$spacing-sm + 4}px
    font-size: 14px
    line-height: 18px
    letter-spacing: 0em
    text-align: left
    color: $color-gray-6

  &__info .schedule__item
    &:last-child
      a
        span
          div
            span
              display: flex
              align-content: center
              &::before
                content: url('../svg/footer/helpButtonIcon.svg')
                display: inline-block
                width: 16px
                height: 16px
                margin-right: #{$spacing-sxs}px
