@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'

.change-address-modal__message
  width: 100%
  position: relative

  &-empty
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin-top: #{$spacing-sm}px

  &-button
    width: auto
    height: 40px
    padding: #{$spacing-xs + 2}px #{$spacing-xs * 3 + 2}px #{$spacing-xs + 1}px
    margin-top: #{$spacing-xs * 3}px
    border-radius: 8px !important

  &-text
    font-size: 18px
    line-height: 22px

  &-no-data
    margin-top: #{$spacing-xs * 3}px
    display: flex
    flex-direction: column
    padding: 0 #{$spacing-xs * 3}px
    text-align: left
    font-size: 16px
    line-height: 18px
    color: $color-gray-6

    span
      &:first-child
        margin-bottom: #{$spacing-sxs}px

  &-buttons
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    height: 40px
    margin-top: #{$spacing-sm}px

    & > button
      margin-top: 0

      &:first-child
        margin-right: #{$spacing-sm}px

    @media (max-width: 768px)
      flex-direction: row-reverse

      & > button:first-child
        margin-right: 0

      & > button:last-child
        margin-right: #{$spacing-sm}px
