.scores-socials
  display: grid
  grid-template-columns: 1fr 1fr 1fr 1fr
  column-gap: 24px
  row-gap: 24px

  .is-activated
    background-color: $color-gray-2
    cursor: default
    border: none
    color: $color-gray-6

    &:hover
      box-shadow: none
      color: $color-gray-6

    .icon_scores
      background: url(../../assets/svg/profile/scores_gray.svg) center center no-repeat 
      background-size: contain

  &-card
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    width: 112px
    min-height: 96px
    max-height: 112px
    border-radius: 8px
    transition: box-shadow .4s ease
    overflow: hidden
    text-decoration: none
    border: 1px solid $color-gray-3
    cursor: pointer

    &:hover
      box-shadow: 2px 8px 14px rgba(0, 0, 0, 0.2)
      color: $color-gray-8

    &__score
      margin-top: 11px
      font-size: 18px
      font-weight: 700
      line-height: 1

      .icon
        vertical-align: top
