.free-food-page
  &__content
    padding-top: 97px
    padding-bottom: 30px
    margin: 0 auto
    max-width: 1680px

    @media (max-width: 1024px)
      padding-top: 67px

    @media (max-width: 768px)
      padding-top: 53px

  &__steps
    display: grid
    grid-template-columns: max-content
    grid-row-gap: 42px
    justify-content: center
    margin-bottom: 68px

    @media (min-width: 1024px)
      grid-template-columns: 1fr 1fr
      grid-row-gap: 86px
      margin-bottom: 76px

    @media (min-width: 1260px)
      grid-template-columns: 1fr 1fr 1fr 1fr
      margin-bottom: 100px

  &__step
    position: relative
    display: flex
    flex-direction: row
    align-items: center
    &::after
      position: absolute
      left: 0
      top: 0
      max-width: 206px
      height: 20px
      width: 100%
      height: 100%
      background-repeat: no-repeat

    &_one,
    &_three
      &::after
        @media (min-width: 1024px)
          content: ''
          left: 65%
          top: 32px
          background-image: url('../svg/info-pages/free_food_line.svg')
        @media (min-width: 1260px)
          content: ''
          left: 45%
          top: -10px
          background-image: url('../svg/info-pages/free_food_line_up.svg')

    &_two
      &::after
        @media (min-width: 1024px)
          content: ''
          left: -330px
          bottom: -85px
          top: initial
          height: 70px
          width: 500px
          max-width: 495px
          background-image: url('../svg/info-pages/free_food_line_big.svg')
        @media (min-width: 1260px)
          content: ''
          left: 45%
          bottom: -20px
          top: initial
          height: 23px
          background-image: url('../svg/info-pages/free_food_line_down.svg')

  &__step-wrap
    padding-top: 0
    @media (min-width: 1260px )
      padding-top: 14px

  &__num
    margin-right: 10px
    font-size: 60px
    font-style: normal
    font-weight: 700
    line-height: 70px
    letter-spacing: 0em
    text-align: left
    color: $color-west-side

    @media (min-width: 1280px)
      font-size: 80px
      font-style: normal
      font-weight: 700
      line-height: 94px
      letter-spacing: 0em
      text-align: left

  &__title
    margin-bottom: 2px
    font-weight: 500
    font-size: 20px
    line-height: 24px

  &__description
    font-weight: 400
    font-size: 18px
    line-height: 22px

  .icon_scores
    margin-right: 2px

  &__rests__list, &__products__list
    padding-top: 18px
    display: grid
    grid-template-rows: auto
    font-size: 32px
    font-weight: 700
    grid-template-columns: repeat(4, minmax(0px, 1fr))
    gap: #{$spacing-xs * 3}px

  &__rests
    margin-bottom: 40px

    &__list
      @media (max-width: 1600px)
        grid-template-columns: repeat(3, 1fr)

      @media (max-width: 1200px)
        grid-template-columns: repeat(2, 1fr)

      @media (max-width: 770px)
        grid-template-columns: 1fr

  &__products
    &__title
      font-weight: 700
      font-size: 24px

    &__list
      @media (max-width: 1600px)
        grid-template-columns: repeat(3, 1fr)

      @media (max-width: 1023px)
        grid-template-columns: repeat(2, 1fr)

      @media (max-width: 769px)
        gap: #{$spacing-xs * 3}px

      @media (max-width: 639px)
        grid-template-columns: 1fr
