.scores-get
  margin: 27px auto 0
  max-width: 515px

  &__content
    .profile-friends__footer
      &-text
        text-align: left

    .profile-info-form__mail-confirm
      margin-top: 0px

  &__button
    margin-top: 24px
    width: 100%
    padding: 14px 12px
    text-align: center
    font-size: 16px
    box-shadow: 1px 1px 8px rgb(38 38 38 / 16%)
    border-radius: 8px
    background-color: transparent
    transition: box-shadow .3s ease
    &:hover
      box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.15)

  &__title-second
    font-weight: 700
    color: #27AE60
  &__section
    padding: 27px 0

    &:last-child
      border-bottom: none
  &__title
    margin-bottom: 18px
    font-size: 18px
    line-height: 24px
    font-weight: 700

    .icon_scores
      vertical-align: baseline
      margin-left: 2px
      position: relative
      bottom: -1px

  &-form
    display: flex
    align-items: flex-end
    flex-direction: column
    @media(min-width: 640px)
      flex-direction: row

    &__field:first-child
      width: 100%
      .label-field
        font-size: 16px
        line-height: 18px
        color: #8A9095
      .input-field
        border-top-right-radius: 0 !important
        border-bottom-right-radius: 0 !important
    &__field:last-child
      margin-top: 16px
      width: 100%
      @media(min-width: 640px)
        margin-top: 16px
        width: auto
    &__button
      width: 100%
      padding: 10px 20px
      max-height: 48px
      text-align: center
      font-size: 18px
      line-height: 1.1
      box-shadow: 1px 1px 8px rgb(38 38 38 / 16%)
      border-radius: 8px
      transition: box-shadow .3s ease
      @media(min-width: 640px)
        border-top-left-radius: 0 !important
        border-bottom-left-radius: 0 !important
    &__title-second
      font-weight: 700
      color: #27AE60
  &__example
    box-shadow: 1px 1px 8px rgba(38, 38, 38, 0.16)
    border-radius: 8px

    &-inner
      padding: 20px 24px 30px
      @media(min-width: 640px)
        padding: 23px 32px 37px

    &-row
      display: flex

    .icon_scores
      width: 32px !important
      height: 32px !important
      margin-left: 6px
      @media(min-width: 640px)
        width: 40px !important
        height: 40px !important
    &-col
      width: 50%
    &-title
      margin-bottom: 8px
      font-size: 14px
      color: $color-gray-6
      @media(min-width: 640px)
        font-size: 16px
    &-subtitle
      font-size: 16px
      font-weight: 700
      margin-bottom: 12px
      @media(min-width: 640px)
        font-size: 18px
    &-sum
      font-size: 40px
      line-height: 1
      font-weight: 700
      @media(min-width: 640px)
        font-size: 48px
    &-scores
      font-size: 40px
      line-height: 1
      display: flex
      // align-items: center
      font-weight: 700
      color: #FF8610
      @media(min-width: 640px)
        font-size: 48px

  &__last-order-review
    width: 100%
    box-shadow: 1px 1px 8px rgba(38, 38, 38, 0.16)
    border-radius: 8px
    & > div
      display: flex
      flex-direction: column
      justify-content: center
      padding: 24px 32px 40px !important

  &__empty-order
    &-img
      margin: 16px 0 24px
      img
        width: 56px
        height: 56px

    &-text
      font-size: 16px
      line-height: 24px
      color: #262626
      margin-bottom: 18px

  &__all-orders-has-review
    &-img
      margin: 16px 0 24px
      img
        width: 56px
        height: 56px

    &-text
      font-size: 16px
      line-height: 24px
      color: #262626
      margin-bottom: 59px
      .icon-scores
        margin-left: 4px
