@import '~chibbis-ui-kit/assets/sass/config/points.sass'
@import '~chibbis-ui-kit/assets/sass/config/palette.sass'
@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import '~chibbis-ui-kit/assets/sass/config/text.sass'
@import '~chibbis-ui-kit/assets/sass/config/transition.sass'

.help
  &__nav-wrap
    flex-basis: 0 !important

    @media (min-width: 1139px)
      flex-basis: 401px !important

  &__nav
    position: relative
    padding-top: 46px
    top: 0
    padding-bottom: 96px
    border-bottom: 1px solid #E8E8E8
    max-width: 788px
    margin: 0 auto

    @media (min-width: 768px)
      padding-top: 54px
      padding-bottom: 54px

    @media (min-width: 1295px)
      position: sticky
      top: #{$HEADER_HEIGHT}px
      overflow-y: auto
      margin-left: 0
      border-bottom: none

    &-items
      display: flex
      flex-direction: column
      // padding: #{$spacing-xs}px #{$spacing-sm}px
      // overflow: auto

      @media (min-width: $sm) and (max-width: 1294px)
        flex-direction: row
        justify-content: space-between
        flex-wrap: wrap

      @media (min-width: 1295px)
        overflow-y: auto
        height: calc(100vh - #{$HEADER_SMALL_HEIGHT}px)

    &-item
      position: relative
      width: 100%
      font-weight: 500
      font-size: 20px
      line-height: 24px

      @media (max-width: 900px)
        &:after
          content: ''
          z-index: 1
          position: absolute
          top: 0
          right: 0
          width: 60px
          height: 100%
          background: rgb(255,255,255)
          background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%)

      @media (min-width: $sm) and (max-width: 1294px)
        width: 48%

        &:nth-child(odd)
          margin-right: 2%

      a
        cursor: pointer
        position: relative
        display: block
        padding: #{$spacing-sm - 2}px 0
        border-bottom: none
        font-family: 'Roboto-Bold', sans-serif
        font-size: 18px
        color: $color-black
        transition: color $transition-speed-default ease-in-out

        span
          position: relative

        &.active, &:hover
          color: $color-clear-skies
