@import '~chibbis-ui-kit/assets/sass/config/palette.sass'
@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'

.reviews-panel
  display: grid
  grid-template-columns: repeat(3, minmax(min-content, 0))
  grid-template-rows: auto
  column-gap: #{$spacing-xs}px
  margin-bottom: #{$spacing-xs}px
  @media ( max-width: 768px )
    column-gap: 0px

.reviews-panel-item
  height: 48px
  padding: #{$spacing-sm - 2}px #{$spacing-xs * 3}px #{$spacing-sm - 1}px
  border-radius: 34px
  box-shadow: 0 4px 12px rgba(38, 38, 38, 0)
  background-color: $color-gray-00
  font-size: 18px
  line-height: 21px
  font-weight: 400
  color: $color-gray-8
  cursor: pointer
  @media ( max-width: 768px )
    height: 40px
    padding: #{$spacing-xs + 2}px #{$spacing-sm}px #{$spacing-xs + 3}px

  @media ( max-width: 420px )
    padding: #{$spacing-xs + 2}px #{$spacing-sm - 3}px #{$spacing-xs + 3}px

.reviews-panel-item-active
  cursor: default
  color: $color-gray-0
  background-color: $color-clear-skies
