@import '~chibbis-ui-kit/assets/sass/config/palette.sass'
@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'

.rest-delivery-conditions
  margin-top: #{$spacing-sm + 4}px
  max-width: 382px

  @media (max-width: 768px)
    max-width: 100%

  &__list, &__empty-list
    margin-top: #{$spacing-xs * 3}px

  &__empty-list
    font-size: 16px
    line-height: 18px

  &__spinner
    margin: 30px auto 0

  &-item
    width: 100%
    max-width: 100%
    display: flex
    flex-flow: row nowrap
    padding: #{$spacing-sxs}px 0

    @media (max-width: 640px)
      padding: #{$spacing-sm}px 0

.rest-delivery
  &__running_man
    width: 16px
    height: 16px
    background: no-repeat center center url('../img/home/running-man.png')
    margin-right: #{$spacing-xs}px

  &-order-cost
    font-size: 18px
    line-height: 22px
    font-weight: 400
    color: $color-gray-8
    margin-right: #{$spacing-sxs}px

.rest-address-suggest
  &-list
    display: block
    position: relative
    margin-top: #{$spacing-sxs}px

    &__inner
      width: 100%
      position: absolute
      background-color: $color-gray-0
      z-index: 10

    &__item
      width: 100%
      display: flex
      flex-flow: column nowrap
      padding: #{$spacing-xs}px #{$spacing-xs * 5}px
      background-color: $color-gray-0
      transition: background-color .2s ease-in-out
      cursor: pointer

      &:hover
        background-color: $color-clear-skies
        & > *
          color: $color-white

      &:first-child
        padding-top: #{$spacing-xs * 3}px

      &:last-child
        padding-bottom: #{$spacing-xs * 3}px

      &-name
        font-size: 16px
        line-height: 18px
        color: #202123

      &-description
        font-size: 14px
        line-height: 18px
        color: $color-gray-6
