@import '~chibbis-ui-kit/assets/sass/config/palette.sass'
@import '~chibbis-ui-kit/assets/sass/config/text.sass'

.profile-menu
  margin-top: 22px
  margin-bottom: 27px
  display: flex
  justify-content: flex-start
  flex-wrap: nowrap
  transition: margin-top $transition-speed-default ease-in-out, margin-bottom $transition-speed-default ease-in-out
  overflow-x: auto

  @media (min-width: 560px)
    margin-top: 22px
    justify-content: center

  @media (min-width: 641px)
    margin-top: 38px

  @media (min-width: 1025px)
    margin-top: 70px

  @media (min-width: 376px)
    margin-bottom: 51px

  &__slider
    justify-content: center

    @media (max-width: 600px)
      justify-content: unset

  &__link
    padding: 14.5px 24px
    height: 100%
    background-color: $color-gray-2
    border-radius: 34px
    line-height: 18px
    display: flex
    align-items: center

  &__item
    font-size: 16px
    display: flex
    align-items: center

    .link__text
      border: none
      color: $color-gray-8

    &.is-active
      // padding: 8px 24px
      // background-color: $color-clear-skies
      // border-radius: 34px
      // line-height: 20px

      .profile-menu__link
        background-color: $color-clear-skies
      // &:last-child
      //   margin-right: 16px

      .icon_favorite
        background: url(../../assets/svg/profile/favorite_w.svg) center center no-repeat

      .link__text
        color: #fff
