@import './restaurant-header/styles.sass'

.restaurant-main
  width: 100%
  background-color: $color-gray-0

  &__block
    width: 100%
    max-width: 1680px
    margin: 0 auto
    display: flex
    flex-flow: row nowrap

    @media ( max-width: 1024px )
      overflow: hidden

  &__block-content
    flex: 1 1 auto
    width: 100%

    @media (min-width: 1024px)
      width: calc( 100% - 382px - 80px)

    .main-menu
      border-bottom: none

      @media (max-width: 440px)
        overflow: visible
        .main-menu__wrap
          padding: 8px 16px

  &__card-skeleton
    height: 120px
    width: 100%
    margin-top: 48px
    margin-bottom: 72px
    z-index: 20
    background: url('../img/restaurant/restaurant_card_skeleton.png') left no-repeat

  &__body-skeleton
    height: 717px
    width: calc(100% - 12px)
    margin-top: 48px
    margin-bottom: 72px
    background: url('../img/restaurant/restaurant_body_skeleton.png') left no-repeat

  &__shopping-cart
    min-width: 382px
    max-width: 382px
    min-height: 100%
    background: $color-gallery

  &__block_divider
    &__header
      position: relative
      width: 110%
      left: -5%
      border-bottom: 1px solid $color-gray-3

      @media ( min-width: 1025px )
        left: -20%
        width: 120%

    &__footer
      position: relative
      width: 100%
      border-bottom: 1px solid $color-gray-3
  
  &__scrollTopBtnWrapper
    position: absolute
    height: 100%
    background: $color-gallery
    width: 112px
    cursor: pointer
    background: $color-white

    &:hover
      background: $color-gallery

  &__scrollTopBtnWrapperTablet
    position: fixed
    bottom: 16px
    width: 459px
    height: 36px
    left: 50%
    transform: translate(-50%, 0)
    filter: drop-shadow(1px 1px 8px rgba(38, 38, 38, 0.16))
    border-radius: 8px
    background: $color-white

    @media (max-width: 375px)
      width: 124px !important

  &__scrollTopContent
    top: 104px
    position: sticky
    margin-left: 18px
    font-weight: 400
    line-height: 18px
    display: flex
    color: $color-gray-04

  &__scrollTopContentTablet
    display: flex
    font-weight: 400
    line-height: 18px
    display: flex
    color: $color-gray-04
    justify-content: center
    position: relative
    top: 50%
    -webkit-transform: translateY(-50%)
    -ms-transform: translateY(-50%)
    transform: translateY(-50%)

  &__scrollTopArrow
    font-size: 18px
    transform: translate(0px, -2px)
  
  &__scrollTopText
    font-size: 16px
    margin-left: 3px

  &__scrollTopBtnWrapperTablet
    position: fixed
    bottom: 16px
    width: 459px
    height: 36px
    left: 50%
    transform: translate(-50%, 0)
    filter: drop-shadow(1px 1px 8px rgba(38, 38, 38, 0.16))
    border-radius: 8px
    background: #FFFFFF
