@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import '~chibbis-ui-kit/assets/sass/config/palette.sass'

.home-reviews-wrapper
  background: $color-gray-00
  padding-top: 1px
  padding-bottom: 1px

.home-reviews
  max-width: 1728px
  margin: 30px auto 74px auto
  display: grid

.home-reviews__title
  padding-bottom: 11px
  font-size: 24px
  line-height: 28px
  font-weight: bold
  color: $color-gray-9

  .icon
    display: inline-block
    margin-left: 3px

.home-reviews__list
  display: grid
  grid-template-columns: repeat(3 , minmax(0px, 1fr))
  gap: #{$spacing-xs * 3}px

  @media (max-width: 1024px)
    grid-template-columns: repeat(2, 1fr)

  @media (max-width: 768px)
    grid-template-columns: repeat(1, 1fr)

  @media (max-width: 640px)
    grid-template-columns: 1fr
