@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'

.another-point-product-modal__body
  width: 100%
  text-align: center
  &-text
    font-size: 24px
    line-height: 28px
    font-weight: 700

  &-cards
    display: grid
    grid-template-rows: auto
    grid-template-columns: auto auto
    column-gap: #{$spacing-sm + 2}px
    align-items: center
    margin-top: #{$spacing-md + 6}px

  &-point-card
    &:last-child
      transform: scale(1.1)

  &-button
    margin-top: #{$spacing-lg + 2}px

    button
      height: 40px
      max-width: 336px
      border-radius: 8px !important

.modal-product-card
  width: 185px
  height: 200px
  border-radius: 16px
  border: solid 1px $color-gray-3
  background-color: $color-gray-0

  @media (max-width: 460px)
    width: 175px

  @media (max-width: 430px)
    width: 160px

  @media (max-width: 375px)
    width: 145px

  &__image-wrap
    width: 100%
    height: 102px
    overflow: hidden
    border-radius: 16px 16px 0 0

    & > figure
      margin-block-start: 0
      margin-block-end: 0
      margin-inline-start: 0
      margin-inline-end: 0

      & > img
        display: block
        height: 100%
        width: 100%
        min-height: 102px
        max-height: 102px
        object-fit: cover

  &__content-wrap
    padding: 12px 8px 16px
    display: grid
    grid-template-rows: min-content min-content 1fr

  &__title
    font-size: 14px
    line-height: 18px
    color: $color-gray-04
    text-align: left

  &__description
    margin-top: 5px
    font-weight: 400
    font-size: 14px
    line-height: 18px
    color: #54585C

  &__panel
    margin-top: #{$spacing-xs}px
    align-self: end
    display: grid
    grid-template-columns: repeat(2, min-content) 1fr
    align-items: center
    column-gap: #{$spacing-sxs}px

    & > div:last-child
      justify-self: end

  &__coast
    white-space: nowrap
    font-weight: 500
    font-size: 20px
    line-height: 24px
    color: $color-gray-04

  &__weight
    white-space: nowrap
    font-size: 12px
    line-height: 18px
    color: $color-gray-6

  &__for-points
    display: grid
    grid-template-columns: 16px min-content
    align-items: center
    column-gap: #{$spacing-sxs}px
