@import '~chibbis-ui-kit/assets/sass/config/palette.sass'

.selection-banner
  overflow-y: hidden
  height: 232px
  line-height: 1
  overflow-y: hidden
  overflow-x: auto
  scrollbar-width: none
  -ms-overflow-style: none

  &::-webkit-scrollbar
    display: none

  @media (max-width: 1024px)
    height: 151px

  &_type_bonuses
    background-color: #E1F5E7

  &_type_hits
    background-color: #FFECD9

  &__info
    width: 85%

  &__wrapper
    display: flex
    align-items: center
    margin: 0 auto
    max-width: 1728px
    height: 100%
    position: relative
    overflow: hidden

    @media (max-width: 768px)
      min-width: 248px

  &__title
    margin-bottom: 10px
    font-size: 44px
    color: #202123

    @media (max-width: 1024px)
      font-size: 30px

    @media (max-width: 500px)
      font-size: 24px

  &__text
    font-size: 18px
    color: #202123

    @media (max-width: 1024px)
      font-size: 16px

  &__img
    width: 100%
    height: 100%

    &_bonuses
     background: no-repeat right bottom url('../img/header/pizza_big.png')

     @media (max-width: 1024px)
      background: no-repeat right bottom url('../img/header/_pizza.png')

    @media (max-width: 500px)
      background: no-repeat right bottom url('../img/header/_pizza_small.png')

    &_hits
      background: no-repeat right bottom url('../img/header/salad_big.png')

      @media (max-width: 1024px)
        background: no-repeat right bottom url('../img/header/_salad.png')

      @media (max-width: 500px)
        background: no-repeat right bottom url('../img/header/salad_small.png')
