@import '~chibbis-ui-kit/assets/sass/config/palette.sass'
@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import '~chibbis-ui-kit/assets/sass/config/radius.sass'

.cities-list__search
  .input-field
    border-radius: #{$spacing-xs}px !important

  &-header
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    font-size: 32px
    line-height: 37px
    font-weight: 700
    margin-top: #{$spacing-lg}px
    margin-bottom: #{$spacing-sm}px

    @media (min-width: 769px)
      margin-top: #{$spacing-lg + 6}px
