@import '~chibbis-ui-kit/assets/sass/config/palette.sass'
@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'

.restaurant-menu__block-offers-inner
  .main-slider
    .slider-button
      top: #{$spacing-lg}px
      &-left
        left: -#{$spacing-sm + 4}px
      &-right
        right: -#{$spacing-sm + 4}px

    .main-slider-content
      column-gap: #{$spacing-sm}px

.rest-menu-pr__slider-item
  min-width: 382px
  max-width: 382px
  min-height: 144px
  max-height: 144px
  overflow: hidden
  display: grid
  grid-template-columns: auto
  grid-template-rows: repeat(2, minmax(min-content, 0))
  row-gap: #{$spacing-xs}px
  padding: #{$spacing-sm}px #{$spacing-xs * 3}px
  border-radius: 16px

  &:hover
    cursor: pointer

  @media (max-width: 639px)
    min-width: 300px
    max-width: 100%
    min-height: 92px
    max-height: 92px
    padding: #{$spacing-xs + 2}px #{$spacing-sm}px

  &:nth-child(3n+1)
    background: linear-gradient(81.91deg, rgba(255, 0, 0, 0.16) 0%, rgba(255, 134, 16, 0.12) 100%)

  &:nth-child(3n+2)
    background: linear-gradient(261.93deg, rgba(255, 134, 16, 0.12) 1.6%, rgba(39, 174, 96, 0.16) 99.74%)

  &:nth-child(3n+3)
    background: linear-gradient(81.91deg, rgba(0, 163, 255, 0.12) 0%, rgba(255, 134, 16, 0.12) 100%)

  &__header
    display: grid
    // Временно отказываемся от иконки
    // grid-template-columns: auto 24px
    // grid-template-rows: minmax(28px, min-content)
    // column-gap: #{$spacing-xs + 4}px

    grid-template-columns: auto
    grid-template-rows: minmax(28px, min-content)

    @media (max-width: 639px)
      grid-template-rows: minmax(20px, min-content)

    &-title
      margin-top: #{$spacing-xs}px
      font-size: 24px
      line-height: 28px
      font-weight: 700
      color: $color-gray-8

      @media (max-width: 639px)
        margin-top: 0px
        font-size: 18px
        line-height: 20px

    &-icon
      & > img
        width: 24px
        height: 28px

  &__content
    margin-top: #{$spacing-xs}px
    font-size: 18px
    line-height: 22px
    font-weight: 400
    color: $color-gray-8

    @media (max-width: 639px)
      margin-top: 0px
      font-size: 16px
      line-height: 18px
