<!DOCTYPE html>
<html lang="ru">

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <!-- <link rel="apple-touch-icon" sizes="57x57"
    href="<%= htmlWebpackPlugin.options.assetsUrl %>assets/manifest/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60"
    href="<%= htmlWebpackPlugin.options.assetsUrl %>assets/manifest/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72"
    href="<%= htmlWebpackPlugin.options.assetsUrl %>assets/manifest/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76"
    href="<%= htmlWebpackPlugin.options.assetsUrl %>assets/manifest/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114"
    href="<%= htmlWebpackPlugin.options.assetsUrl %>assets/manifest/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120"
    href="<%= htmlWebpackPlugin.options.assetsUrl %>assets/manifest/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144"
    href="<%= htmlWebpackPlugin.options.assetsUrl %>assets/manifest/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152"
    href="<%= htmlWebpackPlugin.options.assetsUrl %>assets/manifest/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180"
    href="<%= htmlWebpackPlugin.options.assetsUrl %>assets/manifest/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"
    href="<%= htmlWebpackPlugin.options.assetsUrl %>assets/manifest/android-icon-36x36.png">
  <link rel="icon" type="image/png" sizes="192x192"
    href="<%= htmlWebpackPlugin.options.assetsUrl %>assets/manifest/android-icon-48x48.png">
  <link rel="icon" type="image/png" sizes="192x192"
    href="<%= htmlWebpackPlugin.options.assetsUrl %>assets/manifest/android-icon-72x72.png">
  <link rel="icon" type="image/png" sizes="192x192"
    href="<%= htmlWebpackPlugin.options.assetsUrl %>assets/manifest/android-icon-96x96.png">
  <link rel="icon" type="image/png" sizes="192x192"
    href="<%= htmlWebpackPlugin.options.assetsUrl %>assets/manifest/android-icon-144x144.png">
  <link rel="icon" type="image/png" sizes="192x192"
    href="<%= htmlWebpackPlugin.options.assetsUrl %>assets/manifest/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32"
    href="<%= htmlWebpackPlugin.options.assetsUrl %>assets/manifest/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96"
    href="<%= htmlWebpackPlugin.options.assetsUrl %>assets/manifest/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16"
    href="<%= htmlWebpackPlugin.options.assetsUrl %>assets/manifest/favicon-16x16.png"> -->
  <link rel="manifest" href="<%= htmlWebpackPlugin.options.assetsUrl %>assets/manifest/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage"
    content="<%= htmlWebpackPlugin.options.assetsUrl %>assets/manifest/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="Онлайн заказ и доставка суши, пиццы и любой другой еды из лучших ресторанов и кафе твоего города. Условия доставки, все акции и скидки на одном сайте. Заказывайте круглосуточно!">
  <style>
    body {
      font-family: Roboto, sans-serif;
      color: #202020;
    }

    .grid-wrapper {
      min-height: 100%;
      position: relative;
      display: grid;
      grid-template-rows: minmax(-webkit-min-content, -webkit-max-content) 1fr minmax(-webkit-min-content, -webkit-max-content);
      grid-template-rows: minmax(min-content, max-content) 1fr minmax(min-content, max-content);
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "header header header" "main main main" "footer footer footer"
    }

    .grid-wrapper__header {
      grid-area: header;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 100;
      background-color: #fff
    }

    .grid-wrapper__main {
      grid-area: main
    }

    .grid-wrapper__footer {
      grid-area: footer
    }

    .pad-m {
      padding-left: 10px;
      padding-right: 10px
    }

    @media(min-width: 400px) {
      .pad-m {
        padding-left: 20px;
        padding-right: 20px
      }
    }

    @media(min-width: 769px) {
      .pad-m {
        padding-left: 40px;
        padding-right: 40px
      }
    }

    @media(min-width: 1920px) {
      .pad-m {
        padding-left: 64px;
        padding-right: 64px
      }
    }

    .pad-f {
      padding-left: 20px;
      padding-right: 20px
    }

    @media(min-width: 1024px) {
      .pad-f {
        padding-left: 40px;
        padding-right: 40px
      }
    }

    @media(min-width: 1280px) {
      .pad-f {
        padding-left: 32px;
        padding-right: 32px
      }
    }

    .pad-h {
      padding-left: 16px;
      padding-right: 10px
    }

    @media(min-width: 1280px) {
      .pad-h {
        padding-left: 32px;
        padding-right: 32px
      }
    }

    .content-body {
      flex-grow: 1;
      width: 100%;
      min-width: 335px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      transition: padding .2s ease-in-out, max-width .2s ease-in-out
    }

    .content-body.no-flex {
      display: block
    }

    @media(min-width: 1140px) {
      .content-body {
        max-width: 1680px
      }
    }

    .collapse-height {
      transition: height .2s ease-in-out
    }

    .help-button {
      padding: 0 !important;
      text-transform: none;
      font-weight: 400;
      width: 100%;
      max-width: 768px;
      height: 32px;
      box-shadow: 1px 1px 8px rgba(38, 38, 38, .16) !important;
      border-radius: 16px !important
    }

    /* .cities-page {
      position: relative;
      min-height: 100vh;
      display: flex;
      flex-direction: column
    }

    .cities-page__content-wrap {
      position: relative;
      flex-grow: 1;
      display: flex
    }

    .cities-page-header {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 96px;
      box-shadow: 1px 1px 7px rgba(0, 0, 0, .15);
    }

    .cities-page-header .header__logo .header__logo-inner {
      min-width: 160px !important;
      max-width: 160px !important;
      min-height: 36px !important;
      max-height: 36px !important
    }

    .cities-list__title__choice {
      align-items: center
    }

    @media(min-width: 576px) {
      .cities-list__title__choice {
        display: flex
      }
    }

    @media(max-width: 576px) {
      .cities-list__title__choice-text h2 {
        text-align: center;
        white-space: nowrap;
        padding-bottom: 16px
      }
    }

    .cities-list__title__choice-buttons {
      display: flex;
      align-items: center
    }

    .cities-list__title__choice-buttons>div:not(:first-child) {
      margin-left: 16px
    }

    .gray-button {
      background-color: #bcbcbc !important;
      color: #fff !important
    }

    .cities-list__title {
      background-color: #fff;
      min-width: 325px;
      width: 100%
    }

    .cities-list__title-inner {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column
    }

    .cities-list__title-inner-search {
      width: 100%;
      max-width: 1680px;
    }

    .cities-list__title-inner-main {
      flex-grow: 1
    }

    .cities-list__title-inner-main div span h1 {
      font-size: 32px !important;
      line-height: 37.5px !important;
      font-weight: 700 !important;
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif
    }

    @media(max-width: 405px) {
      .cities-list__title-inner-main div span h1 {
        font-size: 30px !important
      }
    }

    .cities-list__item {
      position: relative;
      width: 100%;
      min-width: 260px;
      overflow: hidden;
      padding-left: 34px
    }

    @media(min-width: 560px) {
      .cities-list__item {
        max-width: 260px;
        padding: 8px 8px 8px 34px
      }
    }

    .cities-list__item-inner {
      border-radius: 4px;
      font-size: 16px;
      line-height: 1;
      background-color: #fff;
      color: #686868;
      cursor: pointer;
      transition: font-weight .2s ease-in-out, color .2s ease-in-out, background-color .2s ease-in-out
    }

    .cities-list__item-inner:hover {
      font-weight: 500;
      color: #202020
    }

    @media(max-width: 559.9px) {
      .cities-list__item-inner {
        width: 100%;
        display: block;
        padding: 8px
      }

      .cities-list__item-inner>* {
        display: block
      }

      .cities-list__item-inner:hover {
        background-color: #efefef
      }
    }

    .cities-list__item__symbol {
      position: absolute;
      top: -1px;
      left: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 24px;
      font-weight: 700;
      line-height: 28px;
      color: #202020;
      -webkit-user-select: none;
      user-select: none
    }

    @media(min-width: 560px) {
      .cities-list__item__symbol {
        top: 3.5px
      }
    }

    .cities-list__item-mark {
      background-color: #efefef
    }

    .cities-list__empty-space {
      margin-bottom: 40px
    }

    .cities-list__empty-space:last-child() {
      margin-bottom: 0
    }

    .cities-list__list {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-content: space-between;
      justify-content: flex-start;
      margin-bottom: 32px;
      transition: opacity .1s ease-in-out;
      flex-wrap: wrap;
      opacity: 1;
    }

    @media(min-width: 560px) {
      .cities-list__list {
        margin-bottom: 72px
      }
    }

    @media(min-width: 1025px) {
      .cities-list__list {
        margin-bottom: 104px
      }
    }

    .cities-list__list-vidible {
      opacity: 1
    }

    .cities-list__list-hidden {
      opacity: 0
    }

    .cities-list__search {
      overflow: hidden;
      border-radius: 20px;
      background-color: #fff;
      padding: 0 8px
    }

    .cities-list__form {
      flex-grow: 1;
      display: flex;
      flex-direction: column
    }

    .cities-list__top-wrapper {
      position: -webkit-sticky;
      position: sticky;
      background-color: #fff;
      z-index: 2;
      transition: top .2s ease-in-out;
      top: 130px
    } */

    .header__logo {
      display: flex;
      align-items: center
    }

    .header__logo-inner {
      background: url(https://new.chibbis.ru/assets/svg/logo-0aac60ca.svg) 50%/100% 100% no-repeat;
      transition: min-width .2s ease-in-out, max-width .2s ease-in-out, min-height .2s ease-in-out, max-height .2s ease-in-out
    }

    @media(min-width: 769px) {
      .header__logo-inner {
        min-width: 124px;
        max-width: 124px;
        min-height: 45px;
        max-height: 45px
      }
    }

    @media(max-width: 768px) {
      .header__logo-inner {
        min-width: 124px;
        max-width: 124px;
        min-height: 50px;
        max-height: 50px
      }
    }

    .link {
      display: inline;
      text-decoration: none;
      border-bottom: none
    }

    .link_gray {
      color: #686868
    }

    .link_gray .icon-text_icon__colored {
      background-color: #686868
    }

    .link_gray .icon-text_text {
      border-color: #686868
    }

    .link_gray:hover {
      color: #202020
    }

    .link_gray:hover .icon-text_icon__colored {
      background-color: #202020
    }

    .link_gray:hover .icon-text_text {
      border-color: #202020
    }
  </style>
</head>

<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <%= htmlWebpackPlugin.options.body %>
</body>

</html>
