@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'

.footer__social-networks
  @media (max-width: 768px)
    margin-bottom: #{$spacing-xs * 5}px

  & .link
    margin-bottom: 0

  .social
    justify-content: flex-start
