@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'

.footer__top
  width: 100%
  display: flex
  flex-wrap: nowrap
  align-items: center
  justify-content: center
  flex-direction: column
  padding-bottom: 32px
  max-width: 1680px
  @media (min-width: 769px)
    flex-direction: row
    justify-content: space-between
    align-items: flex-start

  &__search
    width: 100%
    max-width: 100%
    @media (min-width: 769px)
      max-width: 382px

  &__help
    width: 100%
    margin-top: 20px
    @media (min-width: 769px)
      width: 100px
      margin-top: 0
