@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import '~chibbis-ui-kit/assets/sass/config/palette.sass'
@import './Pickup/styles.sass'
@import './SelectCity/styles.sass'
@import './InputAddress/styles.sass'

.header__address
  width: 100%
  display: flex
  flex-flow: row nowrap
  align-items: center
  justify-content: flex-start
  padding: #{$spacing-sm}px 0
  background-color: $color-gray-0
  z-index: 0

  @media (max-width: 768px)
    justify-content: center

  &-inner
    max-width: 100%
