.profile-info
  display: flex
  flex-direction: column
  justify-content: space-between

  &__avatar
    margin-bottom: 16px
    transition: margin-top $transition-speed-default ease-in-out
    grid-template-columns: 1fr
    justify-content: left

    @media (min-width: 640px)
      grid-template-columns: 1fr 1fr
      grid-gap: 25px
      margin-bottom: 40px

  &-card
    &__details
      display: grid
      grid-template-columns: 1fr 1fr
      grid-row-gap: 34px

  &-details-item
    &__title
      font-size: 14px
      color: $color-gray-6
    &__value
      margin-top: 10px
      font-size: 16px
      color: $color-gray-8
      &-gender
        padding: 8px 24px
        display: inline-block
        border-radius: 34px
        font-size: 14px
        background-color: $color-gray-2

  &-choose-avatar
    &__list
      display: flex
      justify-content: space-between
      align-items: center
      min-height: 71px
    &__item.is-active
      .radio-field-label-wrap
        transform: scale(1.3)
        background-color: rgba(19, 107, 225, 0.12)
        &:hover
          background-color: rgba(19, 107, 225, 0.12)

    &__title
      margin-bottom: 17px
      font-size: 14px
      color: $color-gray-6

    .radio-field-wrap
      display: none
    .radio-field-label
      margin-left: 0
    .radio-field-label-wrap
      transition: all .2s ease
      padding: 12px
      background-color: $color-gray-2
      border-radius: 100%
      cursor: pointer
      height: 56px
      display: flex
      justify-content: center
      align-items: center
      &:hover
        transform: scale(1.3)
  &-avatar
    display: flex
    justify-content: space-between
    &__image
      width: 112px
      height: 112px
      display: block
      padding: 20px
      border-radius: 100%
      background-color: $color-gray-2
      font-size: 70px
      line-height: 1
    &__logout
      cursor: pointer
      padding-right: 34px
      position: relative
      margin-top: 8px
      font-size: 16px
      color: $color-gray-6
      &::after
        cursor: pointer
        position: absolute
        margin-left: 12px
        content: ''
        background-image: url('../svg/profile/exit.svg')
        height: 24px
        width: 24px
        color: $color-gray-6
        display: inline-block

  &-form
    height: 100%
    display: flex
    flex-direction: column
    &__mail-confirm
      margin-top: -12px
      @media (max-width: 640px)
        margin-bottom: 14px
    &__mail-confirm-hint
      font-size: 14px
      line-height: 18px
      color: $color-monza
      &.is-mail-sent
        color: $color-fun-green-light
    &__mail-confirm-action
      font-weight: 400
      font-size: 14px
      line-height: 18px
      color: $color-clear-skies
      & > span
        cursor: pointer
        border-bottom: none
        &:hover
          border-bottom: 1px solid $color-clear-skies
    &__button
      margin-top: 30px

    &__buttons-wrp
      margin-top: auto
      display: flex
      justify-content: space-between
      .btn:first-child
        margin-right: 10px
    &__fields
      display: grid
      grid-template-columns: 1fr
      justify-content: left
      row-gap: 25px

      @media (min-width: 375px)
        grid-template-columns: 1fr
        justify-content: left

      @media (min-width: 640px)
        grid-template-columns: 1fr 1fr
        column-gap: 25px
        row-gap: 17px

    &__filed
      .form-error-collapse
        position: absolute

    &__field_mail
      padding-bottom: 0px !important

    &__title
      // margin-bottom: 11px
      color: $color-gray-6
      font-size: 14px

    &__gender
      margin-top: 0
      transition: margin-top $transition-speed-default ease-in-out
      margin-bottom: 24px

      @media (min-width: 640px)
        margin-top: 34px

    &__gender_no-confirmed-mail
      margin-top: 0
      transition: margin-top $transition-speed-default ease-in-out
      margin-bottom: 24px

      @media (min-width: 640px)
        margin-top: 16px

    &__gender-wrap
      display: flex

      .radio-field-none
        display: none

      &.is-read-only
        .radio-field
          cursor: default

      &.is-man-checked
        .radio-field-man
          background-color: $color-clear-skies !important
          .radio-field-label
            color: #fff
      &.is-woman-checked
        .radio-field-woman
          background-color: $color-clear-skies !important
          .radio-field-label
            color: #fff

      .radio-field-label-wrap
        .radio-field
          padding: 8px 24px
          background-color: $color-gray-2
          border-radius: 34px
        .radio-field-label
          font-size: 16px
          line-height: 18px

        &:first-child
          margin-right: 10px
        .radio-field-wrap
          display: none
        .radio-field-label
          margin-left: 0
          display: flex
          & > *:not(:last-child)
            margin-right: 6px
          &__icon
            width: 20px
            height: 20px
          &__text
            margin-top: 2px
    &_status_read
      .label-field
        color: $color-gray-6
        font-size: 14px

      .input-field-body,
      .input-field
        padding-left: 0
        background-color: transparent
        color: $color-gray-8 !important
      .close-icon
        display: none

  &__button
    margin-top: auto
    transition: margin-top $transition-speed-default ease-in-out

  &__button-link
    padding: 4px
    font-size: 18px
    line-height: 22px
    border-radius: 5px!important
    background-color: $color-gallery
    color: $color-clear-skies
    text-decoration: none
    border: none
    display: flex
    justify-content: center
    align-items: center
    text-transform: uppercase
    font-weight: 500
    height: 40px
    text-align: center
    .link__text
      text-decoration: none
      border-bottom: none

.react-date-picker-wrapper
  border: none

.react-datepicker__header--custom
  background-color: $color-gallery

.date-picker-header
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  height: 30px
  margin: 8px
  & > *
    height: 100%
  & > div
    & > select
      height: 100%
      min-width: 70px
      font-size: 16px
      line-height: 18px
      border-radius: 4px

      &, &:focus, &:hover
        border: none !important
        outline: none !important

      &:active
        outline: 2px solid $color-clear-skies !important

    & > button
      padding: 8px
      font-weight: 500
      color: $color-clear-skies
      background-color: $color-gallery

      &:last-child
        padding: 8px
        padding-right: 0

      &:hover
        color: $color-west-side

.input-field-wrap-main
  > .form-error-collapse
    position: absolute

    > div
      > .form-error
        margin-top: 2px

.profile-widget.profile-info
  @media (max-width: 640px)
    width: 90%

.btn
  background-color: #ff3f3d

.btn:hover
  background-color: #ff3f3d !important
