@import '~chibbis-ui-kit/assets/sass/config/palette.sass'

.bannersCollection
  overflow-y: hidden

.bannersMainWrapper
  height: 216px
  display: grid
  grid-template-columns: repeat(3, 1fr)
  column-gap: 24px
  max-width: 1728px
  margin: 0 auto
  overflow-y: hidden
  overflow-x: auto
  margin-top: 16px
  scrollbar-width: none
  -ms-overflow-style: none

  &::-webkit-scrollbar
    display: none

  @media (max-width: 1024px)
    height: 135px
    column-gap: 20px

  @media (max-width: 768px)
    column-gap: 16px

  @media (max-width: 375px)
    column-gap: 8px

.bannerWrapper
  height: 100%
  border-radius: 16px
  position: relative
  overflow: hidden
  cursor: pointer

  @media (max-width: 768px)
    font-size: 20px
    min-width: 248px

  &__text
    position: absolute
    top: 19px
    left: 32px
    width: 286px
    font-size: 32px
    line-height: 36px
    color: #202123

    @media (max-width: 1024px)
      font-size: 20px
      line-height: 22px
      width: 172px
      top: 15px
      left: 20px

  &__img
    width: 100%
    height: 100%

  .pizza
    background: no-repeat right bottom url('../img/header/pizza.png')

    @media (max-width: 1024px)
      background: no-repeat right bottom url('../img/header/pizza_small.png')

  .salad
    background: no-repeat right bottom url('../img/header/salad.png')

    @media (max-width: 1024px)
      background: no-repeat right bottom url('../img/header/salad_small.png')
