@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'

.info-page
  min-height: 100vh
  display: flex
  flex-direction: column

  &__header
    position: relative
    display: flex
    align-items: center
    min-height: 180px
    background-image: url(../img/header/grid-bg.png)
    margin-bottom: #{$spacing-md}px

    &:before, &:after
      content: ''
      position: absolute
      top: 0
      width: 50%
      height: 100%
      background: rgb(0,0,0)

    &:before
      left: 0
      background: linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%)

    &:after
      right: 0
      background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%)
