.profile-order
  max-width: 518px
  margin: 0 auto

  @media (max-width: 768px)
    max-width: 100%

  &.profile-widget
    padding: 23px 0 32px
    padding-top: 23px
    @media (min-width: 640px)
      padding: 32px
      padding-top: 23px
      margin-bottom: 24px

    @media (max-width: 768px)
      max-height: 100%

  &-header
    border-radius: 8px
    height: 40px

    &__logo
      margin-right: 9px
      width: 40px
      height: 40px
      float: left
      display: block
      border-radius: 3px

      &:hover
        cursor: pointer

    &__row
      display: flex
      justify-content: space-between

    &__title,
    &__cost
      font-size: 20px
      font-weight: 500
      line-height: 24px

    &__cost
      margin-left: 16px

    &__title
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
      &:hover
        cursor: pointer

    &__date,
    &__payed
      font-size: 16px
      line-height: 18px
      color: $color-gray-6

    &__payed
      &.is-payed
        color: #27AE60
      &.is-cancelled
        color: #E73232
      &.is-in-progress
        color: #FF8610

  &__footer-content
    display: grid
    grid-template-rows: auto
    grid-template-columns: auto auto
    grid-column-gap: 24px

    button
      font-size: 18px
      line-height: 22px
      font-weight: 500

    &__btn-second
      &-success
        background-color: $color-fun-green-light

      &-fail
        background-color: $color-korrida

    &__contact-me-message
      text-align: center
      font-size: 14px
      line-height: 18px
      margin-top: 8px

  &-content-short
    padding-bottom: 12px !important

  &-content-short,
  &-content-full
    padding: 27px 0
    font-size: 16px
    line-height: 18px

    &__date
      margin-top: 8px
      color: $color-gray-6

  &-content-full
    &__title
      margin-top: 12px
      font-size: 14px
      color: $color-gray-6
      line-height: 18px
      margin-bottom: 6px
    &__block
      border-bottom: 1px solid $color-gray-3
    &__row
      margin-bottom: 18px
      padding-right: 4px
      display: flex
      justify-content: space-between

    &__col
      .icon_scores
        position: relative
        bottom: 2px

    &__col.profile-order-product
      max-width: 440px
      @media (max-width: 560px)
        max-width: 370px
      @media (max-width: 550px)
        max-width: 330px
      @media (max-width: 500px)
        max-width: 300px
      @media (max-width: 450px)
        max-width: 270px
      @media (max-width: 400px)
        max-width: 250px

    &__col.profile-order-price
      white-space: nowrap
