@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import '~chibbis-ui-kit/assets/sass/config/palette.sass'

.home-restaurants
  max-width: 1728px
  margin: 40px auto
  display: grid

.home-restaurants-header
  display: grid
  grid-template-columns: min-content 1fr
  column-gap: #{$spacing-sm}px

.home-restaurants-header__title
  padding-bottom: 26px
  font-size: 24px
  line-height: 28px
  font-weight: bold
  color: $color-gray-9
.home-restaurants__loading
  min-height: 400px

.home-restaurants__list
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(358px, 1fr))
  grid-auto-rows: 168px
  gap: #{$spacing-xs * 3}px

  @media (max-width: 1600px)
    grid-template-columns: repeat(3, 1fr)

  @media (max-width: 1200px)
    grid-template-columns: repeat(2, 1fr)

  @media (max-width: 770px)
    grid-template-columns: 1fr

  @media (max-width: 768px)
    grid-auto-rows: 148px
    gap: 16px

  @media (max-width: 470px)
    display: flex
    flex-direction: column
    gap: 8px

.home-restaurants__empty-list
  width: 100%
  height: 240px
  margin-top: #{$spacing-lg}px
  background: url('../svg/main/empty-rests-hits-search.svg') center center no-repeat
  background-size: 240px 240px
  transition: height $transition-speed-default ease-in-out, background-size $transition-speed-default ease-in-out

  @media (min-width: $xs)
    height: 240px
    background-size: 240px 240px

  @media (min-width: $sm)
    height: 420px
    background-size: 420px 420px

  // @media (min-width: $md)
  //   height: 586px
  //   background-size: 782px 586px

  // @media (min-width: $lg)
  //   height: 591px
  //   background-size: 788px 591px

  &-text
    font-size: 16px
    line-height: 24px
    font-weight: 400
    color: #8C8C8C
    margin: #{$spacing-sm}px #{$spacing-sm}px 72px
    padding: 0 #{$spacing-xs * 3}px
    height: 28px
    text-align: center
    word-wrap: break-word
    transition: height $transition-speed-default ease-in-out, font-size $transition-speed-default ease-in-out

    @media (min-width: $sm)
      font-size: 24px
