@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import '~chibbis-ui-kit/assets/sass/config/text.sass'
@import '~chibbis-ui-kit/assets/sass/config/palette.sass'

.client-form
  font-weight: 400
  font-size: 16px
  line-height: 18px
  text-align: center
  height: 100%
  display: flex
  flex-direction: column
  color: $color-gray-07

  @media (max-width: 375px)
    height: calc(100% - 100px)

  &__field
    margin-bottom: #{$spacing-sm}px

  &__description
    margin-bottom: #{$spacing-sm}px
    margin-top: #{$spacing-lg}px

  &__button
    margin-bottom: 10px

    &__disabled
      background-color: $color-gray-05

  &__info
    margin-top: 22px
    padding: 0 12px
    margin-bottom: 124px

    @media (max-width: 375px)
      margin-bottom: auto

  &__digits-row
    max-width: 211px
    margin: 0 auto
    display: flex
    justify-content: space-between

  &__digit
    width: 40px
    height: 48px

  &__footer
    margin-top: auto

  &__footer-link
    display: inline-block
    font-size: 14px
    color: #FF3F3D
    cursor: pointer

    &:hover
      color: $color-dark-skies

    &:not(:last-child)
      margin-bottom: #{$spacing-sm}px

  &__error
    font-size: 14px
    color: #EB5757

  &__footer-link
    padding: 0
    text-decoration: underline
    text-decoration-thickness: 1px
    text-underline-offset: 2px
    background-color: transparent

  &__second-step-timer
    font-size: 14px
    line-height: 18px
    color: #8A9095
    margin-top: #{$spacing-xs * 5}px

  &__agreement
    font-weight: 400
    font-size: 14px
    line-height: 18px
    color: $color-gray-07
    
    a
      color: $color-clear-skies
      font-weight: 400
      border-bottom: 1px solid $color-clear-skies

  .btn
    background-color: #FF3F3D
    &:hover
      background-color:#FF3F3D

  .theme-grey
    .input-field-active
      outline-color: #FF3F3D 
