@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import './components/button/styles.sass'

.main-slider
  width: 100%
  position: relative

.main-slider-scroll
  overflow: hidden
  border-radius: 6px

.main-slider-content
  width: 100%
  display: grid
  align-items: center
  column-gap: #{$spacing-xs}px
  overflow-y: hidden
  overflow-x: auto
