.header__logo
  display: flex
  align-items: center

  &-inner
    background: url('../img/header/logo.png') no-repeat
    background-size: contain
    width: 50px
    height: 50px


  .header-logo-wrap > a
    display: flex
    align-items: center
    height: 100%

    &, &:hover, &:active, &:visited
      color: rgba(255, 255, 255, 0)
