@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import './DesktopList/ItemList/styles.sass'

.cities-list__list
  flex-grow: 1
  display: flex
  flex-direction: column
  align-content: space-between
  justify-content: flex-start
  margin: #{$spacing-md}px 0
  transition: opacity 0.1s ease-in-out

  @media (max-width: 768px)
    margin-top: #{$spacing-md + 3}px

  @media (min-width: 560px)
    margin-bottom: 72px

  @media (min-width: 1025px)
    margin-bottom: 104px

  &-vidible
    opacity: 1

  &-hidden
    opacity: 0
