@import '~chibbis-ui-kit/assets/sass/config/spacing.sass'
@import '~chibbis-ui-kit/assets/sass/config/text.sass'

.footer__company
  max-width: 1680px
  margin-bottom: 38px
  display: flex
  justify-content: space-between
  align-items: flex-end

  @media (max-width: 768px)
    flex-direction: column
    align-items: flex-start

  &-icon
    height: 80px
    display: flex
    align-items: flex-end

    @media (max-width: 768px)
      margin-top: 26px

  &-link
    text-decoration: none
    border-bottom: none

  & .schedule_horizontal .schedule__list .schedule__item:not(:last-child)
    margin-right: #{$spacing-xs * 3}px

  & .schedule_vertical .schedule__list .schedule__item:not(:last-child)
    margin-bottom: #{$spacing-sm - 4}px !important

  & .schedule__list .schedule__item
    width: auto
    overflow: auto
    & .text-main
      font-size: 16px !important
      line-height: 18px !important

  & .divider-horizontal .text
    margin-right: #{$spacing-xs * 3}px

  &-title
    margin-bottom: 10px
    font-size: $font-size-3
    line-height: 18px
    letter-spacing: 0em
    text-align: left
    color: $color-gray-6

  &__links-list
    display: flex
    flex-direction: column
    max-width: 600px
    word-break: break-word

    @media (min-width: 769px)
      display: inline

    & > span
      .link__text
        margin-bottom: #{$spacing-sm - 4}px
        margin-right: 0
        display: inline-block
        color: $color-gray-07
        @media (min-width: 769px)
          margin-right: #{$spacing-xs * 3}px
          margin-bottom: 0

  &__link-item
    font-size: 16px !important
    line-height: 18px !important
    text-decoration: none
    overflow: visible
    white-space: nowrap
    margin-bottom: #{$spacing-sm - 4}px
    margin-right: 0
    @media (min-width: 769px)
      margin-right: #{$spacing-xs * 3}px
      margin-bottom: 0
